<template lang="pug">
  router-link.additional-panel-item(
    :to="item.link"
    @click.native="sendGA"
  )
    .additional-panel-item__ttl {{ item.name }}
</template>

<script>
export default {
  name: 'AdditionalPanelItem',
  props: {
    item: {
      type: Object,
    },
  },
  methods: {
    sendGA() {
      window.gtag(
        'event',
        `${this.item.name}`, {
          event_category: 'AdditionalPanelClick',
        },
      );
    },
  },
};
</script>

<style lang="stylus">
.additional-panel-item
  cursor pointer
  text-decoration none
  &:not(:first-child)
    margin-left 1em
  &:hover &__ttl
    text-decoration underline
  &__ttl
    color #fff
</style>
