<template lang="pug">
  .additional-panel
    additional-panel-item(
      v-for="item in items"
      :key="item.name"
      :item="item"
    )
    loyalty-system-header-bar
</template>

<script>
import AdditionalPanelItem from '@/components/Header/AdditionalPanel/AdditionalPanelItem.vue';
import relatedApi from '@/api/new/related';
import LoyaltySystemHeaderBar from '@/components/loyalitySystem/loyaltySystemHeaderBar.vue';

export default {
  name: 'AdditionalPanel',
  components: { LoyaltySystemHeaderBar, AdditionalPanelItem },
  data() {
    return {
      items: [
        {
          name: 'Подбор ремкомплектов',
          link: '/repair-kit',
        },
      ],
    };
  },
  created() {
    this.getRelatedMenuItems();
  },
  methods: {
    async getRelatedMenuItems() {
      const resp = await relatedApi.getList();
      resp.data.forEach((item) => {
        this.items.push({
          ...item,
          link: `/catalog/${item.guid}`,
        });
      });
    },
  },
};
</script>

<style lang="stylus">
.additional-panel
  justify-self flex-start
  display flex
  margin 0 0 0 auto
  align-items center
  padding 0
  width calc(100% - 65px - 2rem)
</style>
