<template lang="pug">
  .form.pop-up
    .pop-up__close(@click="$emit('closePopUps')") Закрыть
    .form__scroll(
      ref="scroll"
      @submit.prevent="editUser"
    )
      form
        .form__header
          .form__header-ttl Изменение пользователя
        .form__inner
          email-availability(
            :initValue="user.email"
            @input="emailFromNameAvailability"
            @notAvailable="errorStatus = true"
            @available ="errorStatus = false"
          )
          .form__row
            input(
              type="password"
              v-model="password"
              placeholder="Изменить пароль"
            ).form__input
            .form__input-controls.form__input-controls--checkbox(@click="showPassword")
                span Показать
          input.form__input(
            type="text"
            placeholder='Контактное лицо'
            v-model="contactPerson"
            required
          )
          input.form__input(
            type="text"
            placeholder='Контактный телефон'
            v-model="phone"
            required
          )
          .form__input-ttl Доступные контрагенты
          .form__checkbox-list
            label(
            v-for="item in contractors"
            :class="{'form__checkbox-label--checked': (selectedContractor.indexOf(item.guid) + 1)}"
            ).form__checkbox-label
              input.form__checkbox(
                type="checkbox"
                name="availableContractor"
                :value="item.guid"
                @click="markAsChecked"
                v-model="selectedContractor"
              )
              | {{ item.name }}
          .form__input-ttl Доступные адреса доставки
          .form__checkbox-list
            label(
              v-for="item in addresses"
              :class="{'form__checkbox-label--checked': (selectedAddress.indexOf(item.guid) + 1)}"
            ).form__checkbox-label
              input.form__checkbox(
                type="checkbox"
                name="availableContractor"
                :value="item.guid"
                @click="markAsChecked"
                v-model="selectedAddress"
              )
              | {{ item.name }}
          .form__controls.form__controls--popup
            .form__btn.form__btn--grey.btn.btn--red(
              @click="$emit('closePopUps')"
            ) Отменить
            button.form__btn.btn.btn--red(
              type="submit"
            )
              span(:class="{'btn__txt-red': requestPending}") Сохранить
              span.btn__pre-loader(v-if="requestPending")
                btn-preloader
</template>

<script>
import NameAvailability from '@/components/nameAvailability.vue';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import EmailAvailability from '@/components/emailAvailability.vue';

export default {
  name: 'editUserPopUp',
  components: { EmailAvailability, BtnPreloader, NameAvailability },
  props: {
    user: {
      type: Object,
      default() {
        return {};
      },
    },
    contractors: {
      type: Array,
      default: () => [],
    },
    addresses: {
      type: Array,
      default: () => [],
    },
    requestPending: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      login: '',
      password: '',
      selectedAddress: [],
      selectedContractor: [],
      contactPerson: '',
      phone: '',
      email: '',
      errorStatus: false,
    };
  },
  mounted() {
    this.login = this.user.login;
    this.selectedAddress = this.user.addresses.map(elem => elem.guid);
    this.selectedContractor = this.user.contractors.map(elem => elem.guid);
    this.contactPerson = this.user.contactPerson;
    this.phone = this.user.phone;
    this.email = this.user.email;
    this.$vuebar.initScrollbar(this.$refs.scroll, {
      preventParentScroll: true,
      scrollThrottle: 30,
    });
  },
  methods: {
    markAsChecked($event) {
      $event.currentTarget.parentElement.classList.toggle('form__checkbox-label--checked');
    },
    loginFromNameAvailability(login) {
      this.login = login;
    },
    emailFromNameAvailability(email) {
      this.email = email;
      this.login = email;
    },
    showPassword($event) {
      $event.currentTarget.classList.toggle('active');
      const passInput = $event.currentTarget.parentElement.querySelector('input');
      if (passInput.type === 'password') {
        passInput.type = 'text';
      } else {
        passInput.type = 'password';
      }
    },
    editUser() {
      if (!this.errorStatus && this.selectedAddress.length && this.selectedContractor.length) {
        this.$emit('editUser', {
          login: this.login,
          password: this.password,
          addresses: this.selectedAddress,
          contractors: this.selectedContractor,
          contactPerson: this.contactPerson,
          phone: this.phone,
          email: this.email,
          guid: this.user.guid,
        });
      }
    },
  },
};
</script>
