<template lang="pug">
  .form.pop-up
    .pop-up__close(@click="$emit('closePopUps')") Закрыть
    .form__header
      .form__header-ttl {{ title }}
    .form__inner
      .form__message(v-html="message")
    .btn.btn--red(@click="$emit('closePopUps')") Продолжить
</template>

<script>
export default {
  name: 'infoPopUp',
  props: {
    message: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus">
@import "../../assets/stylus/pop-up.styl"
</style>
