<template lang="pug">
  .form.pop-up
    .pop-up__close(@click="$emit('closePopUps')") Закрыть
    .form__header
      .form__header-ttl Выберите контрагента
    .form__inner
      .form__row
        select-flat(
          :options="contractors"
          @optionSelect="selectContractor"
        )
</template>

<script>
import { SELECT_CONTRACTOR } from '@/store/actions/user';
import SelectFlat from '@/components/inputs/selectFlat.vue';

export default {
  name: 'selectContractorPopUp',
  components: { SelectFlat },
  props: {
    contractors: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    selectContractor(contractor) {
      this.$store.dispatch(SELECT_CONTRACTOR, contractor)
        .then(() => this.$emit('closePopUps'));
    },
  },
};
</script>
