<template lang="pug">
  .popup
    img.popup__close(src="/images/icon-close.png")
    p.popup__txt {{ $store.getters.messageForYesNoPopUp }}
    .btn.btn--red(@click="$emit('noButtonClicked')") {{ $store.getters.yesButtonTxtForYesNoPopUp }}
    .btn.btn--red(@click="$emit('yesButtonClicked')") {{ $store.getters.noButtonTxtForYesNoPopUp }}
</template>

<script>
export default {
  name: 'yesNoPopUp',
  props: {
    message: {
      type: String,
      default: '',
    },
    yesButtonTxt: {
      type: String,
      default: '',
    },
    noButtonTxt: {
      type: String,
      default: '',
    },
  },
};
</script>

