<template lang="pug">
  p
    span(style="color: red;") Ошибка&nbsp;
    | при активации аккаунта!
    br
    br
    | Что-то пошло не так! Попробуйте запросить активацию повторно или связжитесь с нами по телефону!
    br
    br
    a(href="tel:+78123099191") +7 812 309 9191
</template>

<script>
export default {
  name: 'error',
};
</script>

<style lang="stylus">

</style>
