<template lang="pug">
  div(style="width: 100%; text-align: center")
    table-preloader
    p АКТИВАЦИЯ АККАУНТА
</template>

<script>
import { activateUser } from '@/api/registrationNew';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'index',
  components: { TablePreloader },
  async created() {
    const { guid } = this.$route.params;
    if (guid) {
      try {
        const resp = await activateUser(guid);
        if (resp.data === true) {
          this.$router.push({ path: `${guid}/success` });
        } else {
          this.$router.push({ path: `${guid}/error` });
        }
      } catch (e) {
        console.log(e);
        this.$router.push({ path: `${guid}/error` });
      }
    }
  },
};
</script>

<style lang="stylus">

</style>
