<template lang="pug">
  div(style="text-align: center; width: 100%")
    p Аккаунт активирован!
    router-link.btn.btn--red(
      to="/login"
    ) Войти
</template>

<script>
export default {
  name: 'success',
};
</script>

<style lang="stylus">

</style>
