<template lang="pug">
  .product-card__outer(
    v-if="!item.group_name || currentCategoryName === item.group_name"
    @click="getProduct"
  )
    .product-card
      .product-card__inner
        .product-card__link
        .product-card__info № товара: {{ item.sku }}
        .product-card__info Бренд:&nbsp;{{ item.manufacturer }}
        .product-card__img
          img(:src="(item.img && item.img[0]) || (item.img_urls && item.img_urls[0]) || '/images/nophoto.png'")
        .product-card__price {{ formatMoney(item.price) }} р.
        .product-card__ttl {{ item.name }}
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'storeCard',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    currentCategoryName: {
      type: String,
      default: '',
    },
  },
  methods: {
    getProduct() {
      this.$router.push(`/search/${this.item.guid}`);
    },
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>
<style lang="stylus">
.product-card
  padding 1em
  padding-top 110%
  position relative
  overflow hidden
  cursor pointer
  margin-bottom 2em
  &:hover
    text-decoration underline
    color mainRed
  &__outer
    width 16.5%
    height 100%
  &__inner
    background #fff
    padding 1em
    position absolute
    left 1em
    top 0
    width calc(100% - 2em)
    height 100%
    display flex
    flex-direction column
  &__link
    position absolute
    left 0
    top 0
    width 100%
    height 100%
  &__info
    width 100%
    text-align right
    &-link
      text-decoration none
      color inherit
      transition opacity .2s linear
      text-transform uppercase
      position relative
      z-index 10
      &:hover
        text-decoration underline
        color mainRed
  &__img
    width 60%
    margin 0 auto
    padding-top 60%
    position relative
    flex-grow 1
    img
      display block
      max-width 100%
      max-height 100%
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
  &__ttl
    color inherit
    margin 0
    white-space normal
    width 100%
    position relative
    z-index 10
    height 3.5em
    overflow hidden
    &:hover
      text-decoration underline
      color mainRed
  &__footer
    justify-content space-between
    width 100%
    margin-top 1em
    position relative
    @media screen and (max-width 750px)
      flex-direction column
      align-itmes center
      width auto
      margin 1em auto 0
  &__price
    font-size 1.3em
    font-weight bold
    line-height 100%
    color big_darkBlue
    display flex
    align-items center
    margin .5em auto .5em 0
    position relative
    z-index 10
    @media screen and (max-width 1250px)
      font-size 1em
    @media screen and (max-width 750px)
      margin 0 auto
</style>
