<template lang="pug">
  .related-menu-btn
    .related-menu-btn__lines
      .related-menu-btn__line
      .related-menu-btn__line
      .related-menu-btn__line
</template>

<script>
export default {
  name: 'menuBtn',
};
</script>

<style lang="stylus">
.related-menu-btn
  &__lines
    display flex
    align-items flex-start
    flex-direction column
    cursor pointer
    padding .2em
    transition .2s ease-in-out
  &__line
    width 1.5em
    height 2px
    background #adbcc5
    margin .1em 0
    position relative
</style>
