<template lang="pug">
  ul.related-menu-list
    li.related-menu-item(
      @click="$emit('relatedListItemClick', { name: 'Номер', name_for_site_menu: 'По номеру' })"
    ) Номер
    li.related-menu-item(
      @click="$emit('relatedListItemClick', { name: 'VIN', name_for_site_menu: 'По VIN' })"
     ) VIN
</template>

<script>
import RelatedListItem from '@/components/Header/searchBar/relatedMenu/relatedListItem.vue';

export default {
  name: 'relatedList',
  components: { RelatedListItem },
  props: {
    relatedList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="stylus">
.related-menu-list
  position absolute
  top calc(100% + .4em)
  left 0
  background #fff
  margin 0
  padding 0
  border-radius 2px
  z-index 20
  white-space nowrap
  list-style none
  box-shadow 0 2px 4px 0 rgba(205,217,221,0.7)
  font-size 1.1em
  color #243a44
  &:after
    content ''
    position absolute
    left .7em
    bottom calc(100% - 14px)
    width 0
    height 0
    border 8px solid #fff
    transform rotate(-45deg)
</style>
