<template lang="pug">
  .related-menu
    span.related-menu__btn(@click="menuBtnClick")
      span.related-menu__current {{ currentRelatedItemName }}
</template>

<script>
import RelatedList from '@/components/Header/searchBar/relatedMenu/relatedList.vue';

export default {
  name: 'relatedMenu',
  components: { RelatedList },
  data() {
    return {
      showRelatedList: false,
      relatedList: [],
      currentRelatedItemName: 'По номеру',
    };
  },
  created() {
    this.getRelatedList();
    document.addEventListener('click', this.documentClickListener);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.documentClickListener);
  },
  methods: {
    documentClickListener() {
      this.showRelatedList = false;
    },
    menuBtnClick() {
      this.showRelatedList = !this.showRelatedList;
      if (this.showRelatedList) {
        window.gtag(
          'event',
          'specifySearchIconClick', {
            event_category: 'specifySearch',
          },
        );
      }
    },
    getRelatedList() {
      this.$http.post('/related/get_list', {})
        .then((resp) => {
          this.relatedList = resp.data;
        })
        .catch(err => err);
    },
    relatedListItemClick(item) {
      this.currentRelatedItemName = item.name_for_site_menu;
      this.$emit('relatedListItemClick', item);
      this.showRelatedList = false;
    },
  },
};
</script>

<style lang="stylus">
.related-menu
  border-radius 2px 0 0 2px
  display flex
  align-items center
  height 2em
  background #fff
  z-index 200
  cursor pointer
  transition .2s ease-in-out
  position relative
  border-right 1px solid rgba(119, 137, 148, .4)
  &__btn
    display flex
    align-items center
    position relative
    padding 0 2rem 0 .4rem
  &__current
    white-space nowrap
    margin-left .5em
    padding-right .25em
.show-list
  &-enter-active,
  &-leave-active
    transition .2s ease-in-out
  &-enter,
  &-leave-to
    transform translateY(.4em)
    opacity 0
</style>
