<template lang="pug">
  li.related-menu-item(
    @click="itemClick"
  ) {{ item.name }}
</template>

<script>
export default {
  name: 'relatedListItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    itemClick() {
      this.$emit('relatedListItemClick', this.item);
      window.gtag(
        'event',
        'specifySearchSelectGroup', {
          event_category: 'specifySearch',
          event_label: this.item.name,
        },
      );
    },
  },
};
</script>

<style lang="stylus">
.related-menu-item
  position relative
  cursor pointer
  padding .5em 1em .5em 1.5em
  &:hover
    text-decoration underline
</style>
