<template lang="pug">
  .radio-list
    label.radio-list__label(v-for="option in options")
      input.radio-list__input(
        name="paymentType"
        type="radio"
        :value="option.value"
        v-model="checkedOption"
      )
      span {{ option.name }}
</template>

<script>
export default {
  name: 'radioInput',
  props: {
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    initialValue: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      checkedOption: '',
    };
  },
  mounted() {
    this.checkedOption = this.initialValue;
  },
  watch: {
    checkedOption() {
      this.$emit('selectValue', this.checkedOption);
    },
  },
};
</script>

<style lang="stylus">
.radio-list
  &__input
    display none
  &__label
    margin 0 1em
  span
    padding 0 0 0 1.4em
    position relative
    cursor pointer
    &:before
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 13px;
      height: 13px;
      border: 1px solid #b0bec7;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #fff;
    &:after
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      bottom: calc(50% - 4px);
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
      width: 2px;
      height: 8px;
      border: 2px solid #243a44;
      border-top-color: transparent;
      border-left-color: transparent;
      opacity: 0;
  input:checked + span:after
    opacity 1

</style>
