<template lang="pug">
  .select-dropdown(@click.stop v-if="options.length")
    .select-dropdown__current(
      @click="showList = !showList"
    ) {{ selectedOption.name || placeholder }}
    .select-dropdown__list(
      :class="{'active': showList}"
      v-if="options.length"
    )
      .select-dropdown__option(
        :title='option.name'
        v-for="option in options"
        :data-guid="option.guid"
        @click="selectOption($event, option)"
      ) {{ option.name }}
</template>

<script>
export default {
  name: 'selectDropDown',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      showList: false,
      selectedOption: {
        guid: '',
        name: '',
      },
    };
  },
  created() {
    document.body.addEventListener('click', this.clickListener);
  },
  beforeDestroy() {
    document.body.removeEventListener('click', this.clickListener);
  },
  methods: {
    clickListener() {
      this.showList = false;
    },
    selectOption($event, option) {
      this.selectedOption = option;
      this.showList = false;
      this.$emit('selectedOptionGuid', option);
    },
  },
};
</script>

<style lang="stylus">
.select-dropdown
  position relative
  white-space nowrap
  text-align left
  &--attention
    & ^[0]__current
      border-color red
    &:before
      content ''
      display block
      position absolute
      right 100%
      top 50%
      transform translateY(-50%)
      width 2em
      height 2em
      background url("../../assets/images/icon-attention-red.png") center center no-repeat
  &__option, &__current
    line-height 2em
    display block
    width 100%
    background #f4f7f9
    border 1px solid #b0bec7
    color #5a6e78
    margin-bottom 0
    padding-left 1em
    overflow hidden
  &__option
    border-top none
    padding-left 1em
    cursor pointer
    background #fff
    &:last-child
      border-bottom none
    &:hover
      background #adbcc5
  &__current
    position relative
    cursor pointer
    margin-bottom 1em
    z-index 20
    &:after
      content ''
      position absolute
      display block
      right 1em
      top 25%
      width 8px
      height 8px
      border 2px solid transparent
      border-bottom-color #b0bec7
      border-right-color #b0bec7
      transform rotate(45deg)
    &:active
      &:after
        top calc(25% + 1px)
  &__list
    position absolute
    top 100%
    z-index 10
    width 100%
    opacity 0
    visibility hidden
    max-height 8rem
    overflow auto
    border-bottom 1px solid #b0bec7
    box-shadow 0 3px 6px 0 rgba(0,0,0,.3)
    &.active
      opacity 1
      visibility visible
</style>
