<template lang="pug">
  .select-flat
    .select-flat__ttl(v-if="ttl") {{ ttl }}:
    .select-flat__option(
      v-for="option in options"
      @click="$emit('optionSelect', option), setCurrent($event)"
      :data-guid="option.guid || ''"
      ref="option"
      :class="{'select-flat__option--active': setSelected(option)}"
    ) {{ option.name || option }}
</template>

<script>
export default {
  name: 'selectFlat',
  props: {
    options: {
      type: Array,
    },
    ttl: {
      type: String,
      default: '',
    },
    selected: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    setCurrent($event) {
      this.$refs.option.forEach((elem) => {
        elem.classList.remove('select-flat__option--active');
      });
      $event.target.classList.add('select-flat__option--active');
    },
    setSelected(option) {
      if (this.selected.name && this.selected.guid) {
        return option.guid === this.selected.guid;
      }
      return false;
    },
  },
  watch: {
    options() {
      if (this.$refs.option) {
        this.$refs.option.forEach((elem) => {
          elem.classList.remove('select-flat__option--active');
        });
      }
    },
  },
};
</script>

<style lang="stylus">
.select-flat
  line-height 2em
  margin-bottom 1em
  border-bottom 1px solid #b0bec7
  text-align center
  &__ttl, &__option
    display block
    width 100%
  &__option
    background #f4f7f9
    &:first-child
      border-top 1px solid #b0bec7
  &__ttl
    border-bottom 1px solid #b0bec7
    color #445b67
    font-weight 600
  &__option
    border-left 1px solid #b0bec7
    border-right 1px solid #b0bec7
    cursor pointer
    color #5a6e78
    &:hover
      background rgba(173, 188, 197, .5)
    &--active
      background rgba(173, 188, 197, 1)
</style>
