<template lang="pug">
  .personal-account-loyalty
    span.ttl Система лояльности
    p Совершайте покупки и получайте баллы.
      a(href="#") Подробнее...
</template>

<script>
export default {
  name: 'personalAccountLoyalty',
};
</script>

<style lang="stylus">
.personal-account-loyalty
  width 49%
  a
    color #637b8a
    padding-left 1rem
</style>
