<template lang="pug">
  router-view
</template>

<script>
export default {
  name: 'refund',
  data() {
    return {
      list: null,
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      try {
        const resp = await this.$http.post('/returns/list', {});
        this.list = resp.data;
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
