<template lang="pug">
  tr
    th Дата
    th Документ для возврата
    th Причина возварата
    th Статус
    th Сумма
</template>

<script>
export default {
  name: 'refundTableHead',
};
</script>

<style lang="stylus">

</style>
