<template lang="pug">
  tr
    td.main-table__td-center {{ $moment(item.date).format('DD.MM.YYYY') }}
    td.main-table__td-center.order__num
      table-cell-preloader(v-if="orderGetUpdPending")
      span.order__num-link(v-else-if="!updLink" @click="getUpd") {{ item.number }}
        img(src="../../../assets/images/icon-download.png" v-if="item.number")
      a.order__num-link(
        v-else
        :href="updLink"
        target="_blank"
        download
      ) Скачать
    td.main-table__td-center {{ item.reason }}
    td.main-table__td-center {{ item.status }}
    td.main-table__td-center {{ formatMoney(item.sum) }}
</template>

<script>
import { formatMoney } from '@/utils/utils';
import TableCellPreloader from '@/components/preLoaders/tableCellPreloader.vue';

export default {
  name: 'refundTableRow',
  components: { TableCellPreloader },
  data() {
    return {
      formatMoney,
      orderGetUpdPending: false,
      updLink: '',
    };
  },
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    async getUpd() {
      try {
        this.orderGetUpdPending = true;
        const resp = await this.$http.post('/pdf/torg2', { guid: this.item.guid });
        this.updLink = resp.data[0].url;
        this.orderGetUpdPending = false;
      } catch (e) {
        this.orderGetUpdPending = false;
        console.log(e);
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.order
  &__num
    padding 0
    font-weight bold
    &-link
      text-decoration none
      color inherit
      display block
      cursor pointer
      &:hover
        text-decoration underline
      img
        width 1em
        margin-left .5em
        vertical-align middle
        margin-top -.2em
</style>
