<template lang="pug">
  table.main-table
    thead
      refund-table-head
    tbody
      refund-table-row(
        v-for="item in items"
        :key="item.guid"
        :item="item"
      )
</template>

<script>
import RefundTableHead from '@/components/PersonalAccount/refund/refundTableHead.vue';
import RefundTableRow from '@/components/PersonalAccount/refund/refundTableRow.vue';

export default {
  name: 'refundTable',
  components: { RefundTableRow, RefundTableHead },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="stylus">

</style>
