<template lang="pug">
  .account__tab
    .controls
      date-control(
        @setDateFrom="setDateFrom"
        @setDateTo="setDateTo"
      )
      router-link.btn.btn--red(
        to="/personal-account/refund/make"
        style="margin-left: auto"
      ) Оформить заявку на возврат
    table-preloader(
      v-if="requestPending"
    )
    refund-table(
      v-else-if="filterByDate.length"
      :items="filterByDate"
    )
    div(
      style="text-align: center; font-size: 1.6em"
      v-else
    )
      | По вашему запросу ничего не найдено
</template>

<script>
import DateControl from '@/components/controlsElements/dateControl.vue';
import RefundTable from '@/components/PersonalAccount/refund/refundTable.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'refundList',
  components: { TablePreloader, RefundTable, DateControl },
  data() {
    return {
      list: [],
      dateFrom: '',
      dateTo: '',
      requestPending: false,
    };
  },
  computed: {
    filterByDate() {
      return this.list.filter((item) => {
        if (this.dateFrom && this.dateTo) {
          return this.$moment(this.dateFrom) <= this.$moment(item.date) &&
            this.$moment(item.date) <= this.$moment(this.dateTo);
        }
        if (this.dateFrom) {
          return this.$moment(item.date) >= this.$moment(this.dateFrom);
        }
        if (this.dateTo) {
          return this.$moment(item.date) <= this.$moment(this.dateTo);
        }
        return item;
      });
    },
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      try {
        this.requestPending = true;
        const resp = await this.$http.post('/returns/list', {});
        this.list = resp.data;
        this.requestPending = false;
      } catch (e) {
        console.log(e);
      }
    },
    setDateFrom(date) {
      this.dateFrom = date;
    },
    setDateTo(date) {
      this.dateTo = date;
    },
  },
};
</script>

<style lang="stylus">

</style>
