<template lang="pug">
  .loyalty-header
    .loyalty-header__points Баллы:&nbsp;
      span {{ points }}
    .loyalty-header__status Статус:&nbsp;
      span {{ status }}
</template>

<script>
export default {
  name: 'loyaltySystemHeaderBar',
  data() {
    return {
      points: 0,
      status: 'Начинающий',
    };
  },
  created() {
    this.getLoyaltyPoints();
  },
  mounted() {
    this.$nextTick(this.calculateCurrentPointsBarWidth);
  },
  methods: {
    getLoyaltyPoints() {
      this.points = 75000;
    },
  },
};
</script>

<style lang="stylus">
.loyalty-header
  margin 0 1rem 0 auto
  display flex
  align-items center
  &__points,
  &__status
    color #fff
    margin-left 1rem
</style>
