<template lang="pug">
  .date-picker
    .date-picker__ttl(
      @click="openDateFrom"
    )
      span Выбрать дату
      img(src="../../assets/images/calendar.png")
    .date-picker__from(ref="dateFrom")
      datepicker(
        :input-class="'date-picker__input date-picker__input--from'"
        :language="ru"
        :disabledDates="disabledDatesFrom"
        @selected="setDateFrom"
      )
        span(
          slot="afterDateInput"
          @click="openDateFrom"
        ) {{ customFormatter(dateFrom) || 'Начало' }}
    span(style="margin-left: 0.7em") —
    .date-picker__to(ref="dateTo")
      datepicker(
        :input-class="'date-picker__input date-picker__input--to'"
        :language="ru"
        :disabledDates="disabledDatesTo"
        @selected="setDateTo"
      )
        span(
          slot="afterDateInput"
          @click="openDateTo"
        ) {{ customFormatter(dateTo) || 'Конец' }}
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { ru } from 'vuejs-datepicker/dist/locale';

export default {
  name: 'dateControl',
  components: {
    Datepicker,
  },
  data() {
    return {
      dateFrom: '',
      disabledDatesFrom: {
        from: new Date(),
      },
      dateTo: '',
      disabledDatesTo: {
        from: new Date(),
        to: '',
      },
      ru,
    };
  },
  methods: {
    openDateFrom() {
      this.$refs.dateFrom.querySelector('.date-picker__input--from').click();
      this.$refs.dateFrom.querySelector('.date-picker__input--from').focus();
    },
    setDateFrom(date) {
      this.dateFrom = date;
      this.disabledDatesTo.to = date;
      this.openDateTo();
      this.$emit('setDateFrom', this.dateFrom);
    },
    openDateTo() {
      this.$refs.dateTo.querySelector('.date-picker__input--to').click();
      this.$refs.dateTo.querySelector('.date-picker__input--to').focus();
    },
    customFormatter(date) {
      if (!date) {
        return '';
      }
      return this.$moment(date).format('MM.DD.YYYY');
    },
    setDateTo(date) {
      this.dateTo = date;
      this.$emit('setDateTo', this.dateTo);
    },
  },
};
</script>

<style lang="stylus">
.date-picker
  display flex
  align-items center
  margin 0 .5em
  &__ttl
    display flex
    align-items center
    cursor pointer
    > span
      margin-right .4em
      border-top 1px solid transparent
      border-bottom 1px solid transparent
      padding .1em 0
    &:hover
      > span
        border-bottom-color #637b8a
  &__input
    width 0
  &__from, &__to
    margin 0 0 0 .8em
    border-top 1px solid transparent
    border-bottom 1px solid transparent
    padding .1em 0
    cursor pointer
    &:hover
      border-bottom-color #637b8a
</style>
