<template lang="pug">
  .search-input
    .search-input__item
      label.search-input__label {{ label }}:
        input.search-input__input(
          @input="$emit('input', $event.target.value)"
        )
</template>

<script>
export default {
  name: 'SearchInput',
  props: {
    label: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus">
.search-input
  display flex
  align-items center
  &__item
    display flex
    align-items center
    margin-left .5em
  &__label
    display flex
    align-items center
    flex-shrink 0
    cursor pointer
  &__input
    line-height 1.6em
    height 1.6em
    display block
    width 10em
    background #fff
    border 1px solid #b0bec7
    margin 0 .4em
    color #5a6e78
    padding 0 0 0 .4em
</style>
