<template lang="pug">
  router-link.control-panel__item(to="/actions" @click.native="sendGA")
    .control-panel__item-img
      img(src="/images/icon-sale-smart-panel.svg")
    span.control-panel__item-ttl Акции
</template>

<script>
export default {
  name: 'actionsHeader',
  methods: {
    sendGA() {
      window.gtag(
        'event',
        'ActionsIconClick', {
          event_category: 'Actions',
        },
      );
    },
  },
};
</script>

<style lang="stylus">

</style>
