<template lang="pug">
  router-link.control-panel__item(to="/basket")
    .control-panel__item-img
      img.shop-cart__icon(
        src="../../../assets/images/icon-cart.png"
        :class="{'shop-cart__icon--active': $store.getters.getBasketItemsCount}"
      )
      .shop-cart__count {{ this.$store.getters.getBasketItemsCount || '0' }}
    .control-panel__item-ttl
      | {{ this.$store.getters.getBasketItemsQuantity || 'Корзина' }}
      span(v-if="$store.getters.getBasketItemsCount") &nbsp;&#x20bd;
</template>

<script>
import { GET_BASKET_SMALL } from '@/store/actions/basket';
import { formatMoney } from '@/utils/utils';

export default {
  name: 'basketSmall',
  mounted() {
    this.$store.dispatch(GET_BASKET_SMALL);
  },
  methods: {
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>

<style lang="stylus">
.shop-cart
  padding 0 1em
  height 2em
  display flex
  align-items center
  font-family "SourceSansPro"
  cursor pointer
  &:hover
    & ^[0]__summ
      text-decoration underline
  &__img
    position relative
    padding 0 1.2em 0 0
    height 100%
    display flex
    align-items center
  &__icon
    opacity .8
    &--active
      opacity 1
  &__count
    position absolute
    top -.2em
    left 1.7em
    color #fff
  &__summ
    font-size 1.2em
    font-weight 800
    color #fff
    margin 0 0 0 .4em
    span
      color #778994
      font-weight 800
</style>
