<template lang="pug">
  .control-panel(style="padding-bottom: 0")
    div.control-panel__row
      actions-header
      user-id
      //messages
      basket-small
      orders-link
      logout
</template>

<script>
import UserId from '@/components/Header/controlPanel/userId.vue';
import Messages from '@/components/Header/controlPanel/messages.vue';
import BasketSmall from '@/components/Header/controlPanel/basketSmall.vue';
import PersonalAccount from '@/components/Header/controlPanel/personalAccount.vue';
import Logout from '@/components/Header/controlPanel/logout.vue';
import OrdersLink from '@/components/Header/controlPanel/ordersLink.vue';
import ActionsHeader from '@/components/Header/controlPanel/actions.vue';

export default {
  name: 'controlPanel',
  components: {
    ActionsHeader,
    OrdersLink,
    Logout,
    PersonalAccount,
    BasketSmall,
    Messages,
    UserId,
  },
};
</script>

<style lang="stylus">
.control-panel
  display flex
  align-items flex-end
  flex-wrap wrap
  flex-shrink 0
  flex-direction column
  margin-left auto
  &__row
    display flex
    align-items center
  &__item
    display flex
    flex-direction column
    align-items center
    text-decoration none
    padding 0 1em
    &:hover ^[1]-ttl
      text-decoration underline
    &-img
      position relative
      width 20px
      height 20px
      display flex
      align-items center
      img
        max-width 100%
        max-height 100%
    &-ttl
      white-space nowrap
      color #fff
      margin-top .3em
      font-size 1.1em
</style>
