<template lang="pug">
  a.control-panel__item(href="#" @click.prevent="logout")
    .control-panel__item-img
      img(src="../../../assets/images/icon-logout.png")
    span.control-panel__item-ttl Выход
</template>

<script>
import { AUTH_LOGOUT } from '@/store/actions/auth';

export default {
  name: 'logout',
  methods: {
    logout() {
      const token = this.$store.getters.getUserToken.split(',')[1];
      this.$store.dispatch(AUTH_LOGOUT, token);
    },
  },
};
</script>

<style lang="stylus">
.logout
  padding .4em .6em .3em .7em
  opacity .8
  margin-bottom -3px
  transition .2s linear
  &:hover
    opacity 1
    background rgba(225,225,225, .6)
</style>
