<template lang="pug">
  router-link.control-panel__item(
    to="/personal-account/messages"
    :class="{'messages-animate': $store.state.messages.haveNewNotifications}"
  )
    .control-panel__item-img(
      :class="{'messages': $store.state.messages.haveNewNotifications}"
      style="width: 24px;"
    )
      span
      img(src="/images/icon-message-smart-panel.png" style="max-height: none;")
    span.control-panel__item-ttl Сообщения
</template>

<script>
import { CHECK_NEW_MESSAGES } from '@/store/actions/messages';

export default {
  name: 'messages',
  data() {
    return {
      messagesCount: 7,
    };
  },
  created() {
    this.$store.dispatch(CHECK_NEW_MESSAGES);
    setInterval(() => {
      this.$store.dispatch(CHECK_NEW_MESSAGES);
    }, 60000);
  },
};
</script>

<style lang="stylus">
@import "../../../assets/stylus/variabels.styl"

.messages
  position relative
  &-animate
    animation 1s zoom infinite
  &:after
    content ''
    display block
    position absolute
    right -.5em
    top -.5em
    width 1em
    height 1em
    background mainRed
    border-radius 50%
@keyframes zoom
  0%, 100%
    transform scale(1)
  50%
    transform scale(1.2)
</style>
