<template lang="pug">
  router-link.control-panel__item(to="/personal-account/orders")
    .control-panel__item-img
      img(src="../../../assets/images/icon-orders.png")
    span.control-panel__item-ttl Заказы
</template>

<script>
export default {
  name: 'ordersLink',
};
</script>
