<template lang="pug">
  router-link.personal-account(to="/personal-account/info")
    img(src="../../../assets/images/icon-settings.png").personal-account__img
</template>

<script>
export default {
  name: 'personalAccount',
};
</script>

<style lang="stylus">
.personal-account
  padding .4em .6em .3em
  opacity .8
  margin-bottom -3px
  transition .2s linear
  &:hover
    opacity 1
    background rgba(225,225,225, .6)
</style>
