<template lang="pug">
  router-link.control-panel__item(to="/personal-account/info")
    .control-panel__item-img
      img(src="../../../assets/images/icon-user.png")
    span.control-panel__item-ttl id&nbsp
      | {{ $store.getters.getUserId }}
</template>

<script>
export default {
  name: 'userId',
};
</script>
