<template lang="pug">
  .hint-search-item(
    :title="item.name"
    @click="getProduct"
  )
    .hint-search-item__inner
      .hint-search-item__link
      .hint-search-item__info № товара: {{ item.sku }}
      .hint-search-item__info Бренд:&nbsp;{{ item.manufacturer }}
      .hint-search-item__img
        img(:src="item.img_urls[0] || '/images/nophoto.png'")
      .hint-search-item__price {{ formatMoney(item.price) }} р.
      .hint-search-item__ttl {{ item.name | cutText }}
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'HintSearchItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  filters: {
    cutText(text) {
      return `${text.slice(0, 60)}...`;
    },
  },
  methods: {
    getProduct() {
      this.$emit(
        'itemClicked',
        {
          guid: this.item.guid,
          sku: this.item.sku,
          brand: this.item.manufacturer,
          name: this.item.name,
        },
      );
      window.gtag(
        'event',
        'HintSearchClick', {
          event_category: 'HintSearch',
        },
      );
    },
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>

<style lang="stylus">
.hint-search-item
  background #fff
  padding .5em
  cursor pointer
  margin-bottom 1em
  &__price
    color #be3149
    font-weight bold
  &__info
    text-align right
    font-size .9em
    line-height 1.4em
  &__img
    width 80%
    margin .5em auto
  &__ttl
    font-size .9em
</style>
