<template lang="pug">
  .hint-search
    .hint-search__ttl В наличии:
    .hint-search__scroll(ref="scroll")
      .hint-search__items
        hint-search-item(
          v-for="item in items"
          :item="item"
          :key="item.guid"
          @itemClicked="(event) => {$emit('itemClicked', event)}"
        )
</template>

<script>
import HintSearchItem from '@/components/Header/searchBar/hintSearch/HintSearchItem.vue';

export default {
  name: 'HintSearch',
  components: { HintSearchItem },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  mounted() {
    this.$vuebar.initScrollbar(this.$refs.scroll, {
      preventParentScroll: true,
      scrollThrottle: 30,
    });
  },
};
</script>

<style lang="stylus">
.hint-search
  height 100%
  width 20%
  padding 1em 1em 0
  max-width 260px
  flex-shrink 0
  &__ttl
    font-size 1em
    margin 0 0 1.2em
    color #be3149
    font-family 'Russo One'
  &__scroll
    height calc(100% - 2.4em)
  &__items
    padding 0 1.5em 0 0
</style>
