<template lang="pug">
  .change-delivery
    .cart__attention
      img(src="../../assets/images/icon-attention.png")
      p.
        <b>Внимание!</b> При изменении параметров<br>доставки может измениться <b>"Срок
        доставки"</b><br>и <b>доступность товара</b>
    select-flat(
      :ttl="'Выберите адрес'"
      :options="addressesList"
      :selected="$store.state.user.selectedAddress || {}"
      @optionSelect="(option) => selectedAddress = option"
      v-show="addressesList.length"
    )
    p(
      v-show="!addressesList.length"
      style="margin: 0; color: #991b28; background: rgba(187,27,52,0.2); padding: .3em 1em;"
    ).
      Нет доступных адресов
    .change-delivery__controls
      .cart__delivery-change.btn.btn--red.form__btn.form__btn--grey(
        @click="$emit('close')"
      ) Отменить
      .cart__delivery-change.btn.btn--red.form__btn(
        style="margin-left: 1em;"
        v-if="selectedAddress"
        @click="saveSelectedAddress"
      ) Сохранить
</template>

<script>
import SelectFlat from '@/components/inputs/selectFlat.vue';
import { SELECT_ADDRESS, TYPE_IS_DELIVERY } from '@/store/actions/user';

export default {
  name: 'changeAddress',
  components: { SelectFlat },
  props: {
    addressesList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      selectedAddress: '',
    };
  },
  methods: {
    async saveSelectedAddress() {
      await this.$store.dispatch(SELECT_ADDRESS, {
        guid: this.selectedAddress.guid,
        name: this.selectedAddress.name,
      });
      await this.$store.dispatch(TYPE_IS_DELIVERY, true);
      this.$emit('addressStored');
      this.$emit('close');
    },
  },
};
</script>

<style lang="stylus">
.change-delivery
  display flex
  align-items flex-start
  padding 2em 2em 1em
  flex-wrap wrap
  justify-content flex-end
  background #f0f4f5
  width 100%
  &__controls
    width 100%
    display flex
    justify-content flex-end
  .cart__attention
    background rgba(187, 27, 52, .2)
    display flex
    align-items center
    padding .6em
    color #991b28
    margin 0 6em 0 0
    flex-shrink 0
    img
      flex-shrink 0
      margin 0 1em 0 0
    p
      margin 0
  .select-flat
    display inline-block
    line-height 1.2em
    font-size .9em
    &__ttl,
    &__option
      padding .3em 2em
    &:nth-child(1)
      white-space nowrap
</style>
