<template lang="pug">
  tr.cart-row
    td {{ item.manufacturer || '-' }}
    td {{ item.sku }}
    td {{ item.name }}
    td(style="text-align: center") {{ item.store_name || '-' }}
    td(style="text-align: center")
      span {{ actualPrice.deliveryTime === 0 ? 'Сегодня' : actualPrice.deliveryTime === 1 ? 'Завтра' : `${actualPrice.deliveryTime} дней`}}
        .error(v-if="actualPrice.oldDeliveryTime !== actualPrice.deliveryTime")
          .error__lable
            img(src="../../assets/images/icon-attention.png")
          .error__message.
            Изменилось&nbsp;время&nbsp;доставки<br>было:{{ actualPrice.oldDeliveryTime === 1 ?
            'Завтра' : actualPrice.oldDeliveryTime === 0 ? 'Сегодня' :
            `${ actualPrice.oldDeliveryTime }` }}&nbsp;&nbsp;стало:&nbsp;{{
            actualPrice.deliveryTime === 1 ? 'Завтра' :
            actualPrice.deliveryTime === 0 ? 'Сегодня' : `${ actualPrice.deliveryTime}` }}
    td(style="text-align: center")
      .add-to-cart
        .add-to-cart__minus(@click="reduceQtyOfItem")
        input.add-to-cart__qty(
          type="text"
          v-model="qty"
          :data-max-qnty="item.available_qty"
          @input="compareWithMaxQty"
        )
        .add-to-cart__plus(@click="increaseQtyOfItem")
    td(style="text-align: center")
      span {{ actualPrice.availableQty || '-' }}
        .error(v-if="qtyMoreThenAvailable")
          .error__lable
            img(src="../../assets/images/icon-attention.png")
          .error__message.
            Изменилось&nbsp;кол&nbsp;-&nbsp;во&nbsp;товара&nbsp;на&nbsp;складе, вы превысили наличие
        .error(v-if="actualPrice.oldAvailableQty !== actualPrice.availableQty")
          .error__lable
            img(src="../../assets/images/icon-attention.png")
          .error__message.
            Изменилось&nbsp;кол&nbsp;-&nbsp;во&nbsp;товара&nbsp;на&nbsp;складе, было:{{ actualPrice.oldAvailableQty }}&nbsp;&nbsp;стало:&nbsp;{{ actualPrice.availableQty }}
    td(style="text-align: center")
      span(style="white-space: nowrap") {{ formatMoney(actualPrice.price) }}
        .error(v-if="actualPrice.oldPrice !== actualPrice.price")
          .error__lable
            img(src="../../assets/images/icon-attention.png")
          .error__message.
            Изменилась&nbsp;цена&nbsp;за&nbsp;единицу&nbsp;товара<br>
            было:{{ actualPrice.oldPrice }}&nbsp;&nbsp;стало:&nbsp;{{ actualPrice.price }}
    td(style="white-space: nowrap") {{ formatMoney(actualPrice.fullPrice) }}
    td(@click="deleteItemFromCart" style="cursor: pointer; text-align: center;")
      img(src="../../assets/images/icon-delete-item-from-cart.png")
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'itemRow',
  props: {
    item: {
      type: Object,
    },
    selectAll: {
      type: Boolean,
      default: false,
    },
    index: {
      type: Number,
    },
    actual: {
      type: [Object, String],
    },
  },
  data() {
    return {
      qty: this.item.qty,
      timeOut: '',
    };
  },
  computed: {
    qtyMoreThenAvailable() {
      return this.qty > this.item.available_qty;
    },
    actualPrice() {
      if (this.actual) {
        return {
          price: this.actual.price || this.item.price,
          oldPrice: this.actual.old_price || '',
          fullPrice: this.actual.full_price || this.item.full_price,
          deliveryTime: this.actual.delivery_time === 0 ? 0 : this.actual.delivery_time || this.item.delivery_time,
          oldDeliveryTime: this.actual.old_delivery_time === 0 ? 0 : this.actual.old_delivery_time || '',
          availableQty: this.actual.available_qty === 0 ? 0 : this.actual.available_qty || '',
          oldAvailableQty: this.actual.old_available_qty === 0 ? 0 : this.actual.old_available_qty || '',
        };
      }
      return {
        price: this.item.price || '',
        oldPrice: this.item.price || '',
        fullPrice: this.item.full_price || '',
        deliveryTime: this.item.delivery_time === 0 ? 0 : this.item.delivery_time || '',
        oldDeliveryTime: this.item.delivery_time === 0 ? 0 : this.item.delivery_time || '',
        availableQty: this.item.available_qty || '',
        oldAvailableQty: this.item.available_qty || '',
      };
    },
  },
  watch: {
    qtyMoreThenAvailable() {
      this.$emit('qtyMoreThenAvailable', {
        index: this.index,
        state: this.qtyMoreThenAvailable,
      });
    },
  },
  mounted() {
    this.$emit('qtyMoreThenAvailable', {
      index: this.index,
      state: this.qtyMoreThenAvailable,
    });
  },
  methods: {
    formatMoney(value) {
      return formatMoney(value);
    },
    sendStats({
      source, sku, manufacturer, name,
    }) {
      this.$http.post('/stat', {
        source,
        sku,
        manufacturer,
        name,
        statistic: 'Удаление',
      });
    },
    deleteItemFromCart() {
      this.$http.post('/cart/set', {
        manufacturer: this.item.manufacturer,
        sku: this.item.sku,
        store_id: this.item.store_id,
      })
        .then(() => {
          this.$emit('itemDeleted');
          this.$emit('qtyMoreThenAvailable', {
            index: this.index,
            state: false,
          });
          const paramsForStats = {
            source: this.item.source,
            sku: this.item.sku,
            manufacturer: this.item.manufacturer,
            name: this.item.name,
          };
          this.sendStats(paramsForStats);
        })
        .catch(err => err);
    },
    compareWithMaxQty($event) {
      if (this.qty > +$event.target.getAttribute('data-max-qnty')) {
        this.qty = Number($event.target.getAttribute('data-max-qnty'));
      }
      clearTimeout(this.timeOut);
      this.timeOut = setTimeout(() => {
        const params = {
          sku: this.item.sku,
          qty: Number(this.qty),
          manufacturer: this.item.manufacturer,
          store_id: this.item.store_id,
        };
        this.$http.post('/cart/set', params)
          .then()
          .catch(err => err);
        this.$emit('changeItemQty');
      }, 500);
    },
    reduceQtyOfItem() {
      if (this.qty > 1) {
        this.qty = Number(this.qty) - 1;
        clearTimeout(this.timeOut);
        this.timeOut = setTimeout(() => {
          const params = {
            sku: this.item.sku,
            qty: this.qty,
            manufacturer: this.item.manufacturer,
            store_id: this.item.store_id,
          };
          this.$http.post('/cart/set', params)
            .then()
            .catch(err => err);
          this.$emit('changeItemQty');
        }, 500);
      }
    },
    increaseQtyOfItem() {
      if (this.qty < this.item.available_qty) {
        this.qty = Number(this.qty) + 1;
        clearTimeout(this.timeOut);
        this.timeOut = setTimeout(() => {
          const params = {
            sku: this.item.sku,
            qty: this.qty,
            manufacturer: this.item.manufacturer,
            store_id: this.item.store_id,
          };
          this.$http.post('/cart/set', params)
            .then()
            .catch(err => err);
          this.$emit('changeItemQty');
        }, 500);
      }
    },
  },
};
</script>

<style lang="stylus">
.cart-row
  color #243a44
  td:last-child
    img
      opacity .6
    &:hover img
      opacity 1
  &:hover
    .add-to-cart
      &__minus, &__plus
        opacity 1
        visibility visible
.error__lable,
.error__message
  position absolute
.error
  &__lable
    top 50%
    left calc(100% + .3em)
    transform translateY(-50%)
    width 1em
    height 1em
    cursor pointer
    &:hover + ^[0]__message
      opacity 1
      visibility visible
  &__message
    width auto
    box-shadow 0 3px 18px 0 rgba(205, 217, 221, .7)
    background #fff
    padding 1em
    color #627a89
    z-index 10
    bottom calc(100% + .3em)
    left 100%
    opacity 0
    visibility hidden
.add-to-cart
  display flex
  align-items center
  justify-content center
  &__minus, &__plus
    width 0
    height 0
    border .85em solid transparent
    cursor pointer
    opacity 0
    visibility hidden
    transition .2s ease-in-out
  &__minus
    border-right-color #233942
    margin 0 .2em 0 0
  &__plus
    border-left-color #233942
    margin 0 0 0 .2em
  &__qty
    border 1px solid #adbcc5
    text-align center
    line-height 1.4em
    width 3em
  &__icon
    opacity 0
    visibility hidden
    transition .2s ease-in-out
    cursor pointer
    img
      margin .5em
</style>
