<template lang="pug">
  .change-delivery
    .cart__attention
      img(src="../../assets/images/icon-attention.png")
      p.
        <b>Внимание!</b> При изменении параметров<br>доставки может измениться <b>"Срок
        доставки"</b><br>и <b>доступность товара</b>
    select-flat(
      :ttl="'Выберите пункт самовывоза'"
      :options="pickUpPoints"
      :selected="$store.state.user.selectedPickUpPoint || {}"
      @optionSelect="(option) => selectedPickUpPoint = option"
      v-show="pickUpPoints.length"
    )
    p(
      v-show="!pickUpPoints.length"
      style="margin: 0; color: #991b28; background: rgba(187,27,52,0.2); padding: .3em 1em;"
    ).
      Нет доступных адресов
    .change-delivery__controls
      .cart__delivery-change.btn.btn--red.form__btn.form__btn--grey(
        v-show="$store.state.user.selectedPickUpPoint.guid"
        @click="$emit('close')"
      ) Отменить
      .cart__delivery-change.btn.btn--red.form__btn(
        style="margin-left: 1em;"
        v-if="selectedPickUpPoint"
        @click="saveSelectedContractorAndAddress"
      ) Сохранить
</template>

<script>
import SelectFlat from '@/components/inputs/selectFlat.vue';
import { SELECT_PICK_UP_POINT, TYPE_IS_DELIVERY } from '@/store/actions/user';

export default {
  name: 'selectPickUpPoint',
  components: { SelectFlat },
  props: {
    pickUpPoints: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      contractorInfo: [],
      selectedContractor: '',
      selectedPickUpPoint: '',
    };
  },
  methods: {
    selectContractor(option) {
      this.selectedContractor = option;
    },
    saveSelectedContractorAndAddress() {
      this.$store.dispatch(SELECT_PICK_UP_POINT, {
        guid: this.selectedPickUpPoint.guid,
        name: this.selectedPickUpPoint.name,
      })
        .then(() => {
          this.$store.dispatch(TYPE_IS_DELIVERY, false);
        })
        .then(() => {
          this.$emit('pickUpStored');
          this.$emit('close');
        });
    },
  },
};
</script>
