<template lang="pug">
  actions-list
</template>

<script>
import ActionsList from '@/components/actions/actionsList.vue';

export default {
  name: 'Actions',
  components: { ActionsList },
};
</script>
