<template lang="pug">
  div(v-if="requestBasketPending" style="width: 100%;")
    table-preloader
  div(v-else-if="!basketItems || !basketItems.length && !requestBasketPending")
    .ttl Корзина пуста
    p Воспользуйтесь поиском, чтобы найти всё что нужно.
  .cart(v-else)
    .content-header.cart__header
      .ttl Корзина товаров
      .cart__clear(@click="clearCart")
        | Очистить корзину
        img(src="../assets/images/icon-cart-clear.png")
    table
      thead
        tr
          th(scope="col" style="text-align: left;") Бренд
          th(scope="col") Артикул
          th(scope="col" style="text-align: left;") Наименование
          th(scope="col") Склад
          th(scope="col") Срок доставки
          th(scope="col") Кол-во
          th(scope="col") Доступно
          th(scope="col") Цена
          th(scope="col") Сумма
          th(scope="col") Удалить
      tbody
        ItemRow(
          v-for='(item, index) in basketItems'
          :key="item.guid + index"
          :item="item"
          :index="index"
          :selectAll="selectAll"
          :actual="actualItem(item.sku, item.store_id)"
          @itemDeleted="getCart()"
          @changeItemQty="changeItemQty"
          @qtyMoreThenAvailable="qtyMoreThenAvailableStateChange"
        )
    hr(style="margin-top: 1em")
    .cart__footer
      .cart__delivery
        .cart__delivery-type
          .cart__delivery-type-item(
            v-if="!this.$store.state.user.person"
            :class="{ 'cart__delivery-type-item--active': typeIsDelivery }"
            @click="selectDelivery"
          ) Доставка
          .cart__delivery-type-item(
            :class="{ 'cart__delivery-type-item--active': !typeIsDelivery }"
            @click="selectPickUp"
          ) Самовывоз
        template(v-if="typeIsDelivery")
          template(v-if="!changeShowChangeDelivery")
            .cart__delivery-param.change-delivery
              | Адрес доставки:&nbsp;&nbsp;
              span {{ $store.getters.getSelectedAddress.name || 'Не выбран' }}
              .change-delivery__controls(
                v-if="addressesList.length > 1 || !$store.getters.getSelectedAddress.name"
              )
                .cart__delivery-change.btn.btn--red.form__btn.form__btn--grey(
                  v-show="!changeShowChangeDelivery"
                  @click="changeShowChangeDelivery = true"
                ) {{ !$store.getters.getSelectedAddress.name ? 'Указать' : 'Изменить' }}
          change-address(
            v-show="changeShowChangeDelivery"
            :addressesList="addressesList"
            @close="changeShowChangeDelivery = false"
            @addressStored="getCart(), compareCarts()"
          )
        template(v-else)
          template(v-if="$store.state.user.selectedPickUpPoint.guid && !changePickUpPoint")
            .cart__delivery-param.change-delivery
              | Пункт самовывоза:&nbsp;&nbsp;
              span {{ $store.state.user.selectedPickUpPoint.name || 'Не выбран' }}
              .change-delivery__controls
                .cart__delivery-change.btn.btn--red.form__btn.form__btn--grey(
                  v-show="$store.state.user.selectedPickUpPoint.guid && !changePickUpPoint"
                  @click="changePickUpPoint = true"
                ) Изменить
          select-pick-up-point(
            v-show="!$store.state.user.selectedPickUpPoint.guid || changePickUpPoint"
            :pickUpPoints="pickUpPoints"
            @close="changePickUpPoint = false"
            @pickUpStored="getCart(), compareCarts()"
          )
      hr
      .cart__merge
        .cart__merge-controls
          input(type="checkbox" v-model='mergeCart').form__checkbox#merge
          label(for="merge").form__checkbox-label Объединить в один заказ
        .cart__merge-attention(v-show="!mergeCart")
          img(src="../assets/images/icon-attention.png")
          p.
            <b>Внимание!</b> Позиции будут доставлены<br>согласно срокам в колонке <b>"Срок
            доставки"</b>
      .cart__params
        .cart__params-item.cart__params-item--delivery(v-if="mergeCart")
          .cart__params-ttl Итоговое время доставки:
          .cart__params-value.
            {{ maxDeliveryTime === 0 ? `Сегодня`
              : maxDeliveryTime === 1 ? `Завтра`
              : 1 < maxDeliveryTime && maxDeliveryTime < 5 ? `${maxDeliveryTime} дня`
              : `${maxDeliveryTime} дней`}}
        .cart__params-item.cart__params-item--price
          .cart__params-ttl Общая сумма заказа:
          .cart__params-value {{ formatMoney(this.$store.getters.getBasketItemsQuantity) }} р.
      .cart__controls
        .btn.btn--red.form__btn(
          :class="{disabled: canMakeOrder}"
          style="padding: 0.8em 1.9em 0.6em; width: auto; margin-left: auto;"
          @click="finalControl($event)"
        )
          span(:class="{'btn__txt-red': requestPending}")
            | Далее
          span.btn__pre-loader(v-if="requestPending")
            btn-preloader
    info-pop-up(
      :title="'Ошибка!'"
      :message="'Что-то пошло не так!<br>Обратитесь к вашему менеджеру!'"
      v-if="showInfoModal"
      @closePopUps="showInfoModal = false"
    )
</template>

<script>
import { clearBasket } from '@/api/basket';
import { GET_BASKET_SMALL } from '@/store/actions/basket';
import ItemRow from '@/components/basket/itemRow.vue';
import ChangeAddress from '@/components/basket/changeAddress.vue';
import SelectPickUpPoint from '@/components/basket/selectPickUpPoint.vue';
import { TYPE_IS_DELIVERY, CHECK_OUT_AVAILABLE } from '@/store/actions/user';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import { formatMoney } from '@/utils/utils';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';

export default {
  name: 'Basket',
  components: {
    InfoPopUp,
    TablePreloader,
    BtnPreloader,
    SelectPickUpPoint,
    ChangeAddress,
    ItemRow,
  },
  data() {
    return {
      selectAll: false,
      mergeCart: true,
      basketItems: '',
      actualCart: '',
      timeOut: '',
      changeShowChangeDelivery: false,
      typeIsDelivery: true,
      changePickUpPoint: false,
      error: '',
      requestPending: false,
      requestBasketPending: false,
      addressesList: [],
      pickUpPoints: [],
      qtyMoreThenAvailableState: [],
      showInfoModal: false,
    };
  },
  computed: {
    maxDeliveryTime() {
      return Math.max.apply(null, this.basketItems.map(elem => Number(elem.delivery_time)));
    },
    canMakeOrder() {
      return this.qtyMoreThenAvailableState.map(elem => elem.state).includes(true) ||
        (!this.typeIsDelivery &&
        !this.$store.state.user.selectedPickUpPoint.guid);
    },
  },
  watch: {
    '$store.state.user.person': function (val) {
      if (val) {
        this.typeIsDelivery = false;
      }
    },
  },
  created() {
    this.unreserveCart()
      .then(() => {
        this.requestBasketPending = true;
        this.getCart();
        this.compareCarts();
      });
    this.getAddressesList();
    this.getPickUpPoints();
    if (this.$store.state.user.person) {
      this.typeIsDelivery = false;
    }
  },
  methods: {
    qtyMoreThenAvailableStateChange($event) {
      if (this.qtyMoreThenAvailableState.length) {
        let elemInArr = false;
        this.qtyMoreThenAvailableState.forEach((elem) => {
          if ($event.index === elem.index) {
            elemInArr = true;
            elem.state = $event.state;
          }
        });
        if (!elemInArr) {
          this.qtyMoreThenAvailableState.push($event);
        }
      } else {
        this.qtyMoreThenAvailableState.push($event);
      }
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    async getPickUpPoints() {
      const resp = await this.$http.post('/get_pick_up_points', {});
      this.pickUpPoints = resp.data;
    },
    async getAddressesList() {
      const resp = await this.$http.post('/user/addresses', {});
      this.addressesList = resp.data;
    },
    finalControl() {
      if (!this.requestPending && !this.canMakeOrder) {
        this.requestPending = true;
        this.$http.post('/cart/get', {})
          .then((resp) => {
            this.basketItems = resp.data;
            this.$store.dispatch(GET_BASKET_SMALL);
            this.requestBasketPending = false;
            console.log('cart get then');
            this.$http.post('/cart/actual', {})
              .then((resp2) => {
                if (resp2.data) {
                  this.actualCart = resp2.data;
                }
                console.log('cart actual then');
                if (this.actualCart.length) {
                  this.error = 'Проверьте позиции в корзине';
                  this.requestPending = false;
                  return false;
                }
                const params = {
                  contractor: this.$store.state.user.userSelectedContractor.guid,
                  address: this.$store.getters.getSelectedAddress.guid,
                  merge_cart: this.mergeCart,
                };
                this.$http.post('/order/reserve', params)
                  .then(() => {
                    console.log('order reserve then');
                    this.requestPending = false;
                    this.$store.dispatch(CHECK_OUT_AVAILABLE, true)
                      .then(() => {
                        console.log('order dispatch then');
                        this.$router.push('/check-out');
                      });
                  });
              });
          })
          .catch((err) => {
            this.requestBasketPending = false;
            this.requestPending = false;
            this.unreserveCart();
            this.showInfoModal = true;
            console.log(err);
          });
      }
    },
    reserveCart(params) {
      this.$http.post('/order/reserve', params)
        .then(() => {
          this.requestPending = false;
          return true;
        })
        .then(() => this.$router.push('/check-out'));
    },
    unreserveCart() {
      return this.$http.post('/order/unreserve', {})
        .catch(err => err);
    },
    selectDelivery() {
      this.typeIsDelivery = true;
      if (this.$store.getters.getSelectedAddress.guid) {
        this.$store.dispatch(TYPE_IS_DELIVERY, true)
          .then(() => {
            this.getCart();
            this.compareCarts();
          });
      }
    },
    selectPickUp() {
      this.typeIsDelivery = false;
      if (this.$store.getters.getSelectedPickUpPoint.guid) {
        this.$store.dispatch(TYPE_IS_DELIVERY, false)
          .then(() => {
            this.getCart();
            this.compareCarts();
          });
      }
    },
    changeItemQty() {
      this.timeOut = '';
      this.timeOut = setTimeout(() => {
        this.getCart();
      }, 1000);
    },
    getCart() {
      this.$http.post('/cart/get', {})
        .then((resp) => {
          this.basketItems = resp.data;
          this.$store.dispatch(GET_BASKET_SMALL);
          this.requestBasketPending = false;
        })
        .catch((err) => {
          this.requestBasketPending = false;
          return err;
        });
    },
    clearCart() {
      clearBasket()
        .then(() => {
          this.basketItems = '';
          this.$store.dispatch(GET_BASKET_SMALL);
        })
        .catch(err => err);
    },
    getActualCart() {
      return this.$http.post('/cart/actual', {});
    },
    compareCarts() {
      return new Promise((resolve, reject) => {
        this.getCart();
        this.getActualCart()
          .then((resp) => {
            if (resp.data) {
              this.actualCart = resp.data;
            }
            resolve();
          })
          .catch(err => reject(err));
      });
    },
    actualItem(sku, storeGuid) {
      if (this.actualCart !== true && this.actualCart) {
        let itemAct = '';
        this.actualCart.forEach((item) => {
          if (sku === item.sku && storeGuid === item.store_id) {
            itemAct = item;
          }
        });
        return itemAct;
      } return '';
    },
  },
};
</script>

<style lang="stylus">
@import "../assets/stylus/variabels.styl"
@import "../assets/stylus/form.styl"

.pickup-point
  display flex
  flex-direction column
  width 100%
  &__list
    list-style none
  &__item
    cursor pointer
    margin 0 0 .2em 0
  &__label
    display block
    cursor pointer
    padding .3em 0
  &__buttons
    display flex
    justify-content space-around
    width 100%
.cart
  padding 2em
  background #fff
  width 100%
  table
    border-collapse collapse
    font-size .9em
    width 100%
    thead
      background #adbcc5
      color #fff
      font-size 1.2em
    th
      white-space nowrap
      font-weight normal
    th,td
      padding 0.4em 0.7em
      border 4px solid #fff
      span
        position relative
        display inline-block
    tbody
      tr:nth-child(even)
        background #f0f4f5
  label
    color #243a44
  hr
    height .2em
    border none
    box-shadow none
    background #f0f4f5
    width 100%
  &__header
    margin-bottom 1em
  &__clear
    display flex
    align-items center
    margin-left auto
    cursor pointer
    padding .5em 0 .5em .5em
    &:hover
      text-decoration underline
    img
      margin-left .4em
  &__footer
    display flex
    align-items flex-start
    flex-wrap wrap
  &__delivery-type
    display flex
    margin-top -.5em
    &-item
      padding .6em 2em
      cursor pointer
      color #637c8a
      font-family "RussoOne"
      position relative
      background #fff
      &:hover
        text-decoration underline
      &--active
        color #c0324b
        background #f0f4f5
        &:hover
          text-decoration none
  &__delivery
    width 100%
    display flex
    flex-direction column
    align-items flex-end
    color #445b67
    margin 1em 0
    span
      color #637c8a
    &-param
      display inline-block
      margin-bottom .5em
      width 100%
      text-align right
    &-change
      margin 1em 0 1em
    &-ttl
      font-size 1.4em
      font-weight bold
      margin-bottom .5em
      color #637c8a
  &__merge
    display flex
    flex-direction column
    margin 1.5em 1em 0 0
    &-attention
      background rgba(187, 27, 52, .2)
      display flex
      align-items center
      padding .6em
      color #991b28
      margin 1em 0 0 0
      img
        flex-shrink 0
        margin 0 1em 0 0
      p
        margin 0
  &__params
    display flex
    align-items flex-start
    text-align right
    margin 1em 0 0 auto
    &-item
      padding 0 2em
      &:first-child
        border-right 1px solid #ccc
      &:last-child
        border-right none
      &--price
        & ^[1]-value
          font-size 1.6em
    &-value
      font-weight bold
      color #445b67
  &__controls
    margin 1em 0 0 0
    display flex
    p
      margin 0 1em .4em 0
      text-align right
   table .form__checkbox-label
    padding-left 15px
</style>
