<template lang="pug">
  .checkout
    .ttl.checkout__ttl Оформление заказа
    ul.checkout__params
      li.checkout-param
        span.checkout-param__ttl Сумма заказа:
        span.checkout-param__txt {{ this.formatMoney(this.$store.state.basket.sum) }} руб.
      li.checkout-param(v-if="!this.$store.state.user.person")
        span.checkout-param__ttl Выбранный контрагент:
        span.checkout-param__txt {{ this.$store.getters.getSelectedContractor.name }}
        span.checkout-param__mutate(
          v-if="contractorInfo.length > 1"
          @click="changeContractor = true"
        ) (Изменить)
      li.checkout-param
        span.checkout-param__ttl Тип оплаты:
        span.checkout-param__txt
          radio-input(
            :options="paymentTypes"
            :initialValue="paymentTypes[0].value"
            @selectValue="setPaymentMethod"
          )
      li.checkout-param
        span.checkout-param__ttl Тип доставки:
        span.checkout-param__txt {{ this.$store.getters.getTypeIsDelivery ? 'Доставка' : 'Самовывоз' }}
      li.checkout-param
        span.checkout-param__ttl {{ this.$store.getters.getTypeIsDelivery ? 'Адрес доставки' : 'Склад открузки' }}
        span.checkout-param__txt {{ this.$store.getters.getTypeIsDelivery ? this.$store.getters.getSelectedAddress.name : this.$store.getters.getSelectedPickUpPoint.name }}
    .checkout__comments
      .checkout-comment
        .checkout-comment__ttl Добавить комментарий к заказу:
        textarea.checkout-comment__textarea(v-model="orderComment")
      .checkout-comment
        .checkout-comment__ttl Добавить комментарий к доставке:
        textarea.checkout-comment__textarea(v-model="deliveryComment")
    .checkout__controls
      .btn.btn--red.form__btn.form__btn--grey(@click="$router.back()") Назад
      .btn.btn--red.checkout__submit(@click="orderMake")
        span(:class="{'btn__txt-red': requestPending}")
          | {{ paymentMethod === 'creditCard' ? 'Оформить и оплатить заказ' : 'Оформить заказ' }}
        span.btn__pre-loader(v-if="requestPending")
          btn-preloader
    select-contractor-pop-up(
      v-show="changeContractor"
      :contractors="contractorInfo"
      @closePopUps="changeContractor = false"
    )
    info-pop-up(
      :title="orderWasMadeTitle"
      :message="orderWasMadeMessage"
      v-if="showInfoModal"
      @closePopUps="leaveCheckOutPage"
    )
</template>

<script>
import RadioInput from '@/components/inputs/radioInput.vue';
import SelectContractorPopUp from '@/components/popups/selectContractorPopUp.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';
import { CHECK_OUT_AVAILABLE } from '@/store/actions/user';
import { GET_BASKET_SMALL } from '@/store/actions/basket';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import { formatMoney } from '@/utils/utils';

export default {
  name: 'Checkout',
  components: {
    BtnPreloader, InfoPopUp, SelectContractorPopUp, RadioInput,
  },
  data() {
    return {
      paymentTypes: [
        {
          name: 'Банковской картой',
          value: 'creditCard',
        },
      ],
      paymentMethod: '',
      orderComment: '',
      deliveryComment: '',
      changeContractor: false,
      contractorInfo: [],
      showInfoModal: false,
      orderWasMadeMessage: '',
      orderWasMadeTitle: '',
      requestPending: false,
    };
  },
  computed: {
    userIsPerson() {
      return this.$store.state.user.person;
    },
  },
  watch: {
    userIsPerson() {
      this.setPaymentTypes();
    },
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit(CHECK_OUT_AVAILABLE, '');
    this.$store.dispatch(GET_BASKET_SMALL)
      .then(() => {
        next();
      });
  },
  created() {
    this.setPaymentTypes();
  },
  mounted() {
    this.getContractorsList();
  },
  methods: {
    setPaymentTypes() {
      if (this.$store.state.user.person) {
        this.paymentTypes = [
          {
            name: 'Наличные или картой на месте получения',
            value: 'cash',
          },
        ];
      } else {
        this.paymentTypes = [
          {
            name: 'Счет',
            value: 'bill',
          },
          {
            name: 'Наличные',
            value: 'cash',
          },
          {
            name: 'Банковской картой',
            value: 'creditCard',
          },
        ];
      }
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    leaveCheckOutPage() {
      this.$router.push('/personal-account/orders');
    },
    markAsChecked($event) {
      $event.currentTarget.parentElement.classList.toggle('form__checkbox-label--checked');
    },
    setPaymentMethod(checkedOption) {
      this.paymentMethod = checkedOption;
    },
    orderMake() {
      if (!this.requestPending) {
        this.requestPending = true;
        const params = {
          payment_type: this.paymentMethod,
          delivery_comment: this.deliveryComment,
          order_comment: this.orderComment,
          contractor: this.$store.getters.getSelectedContractor.guid,
        };
        this.$http.post('/order/make', params)
          .then((resp) => {
            this.requestPending = false;
            const orders = resp.data;
            if (this.paymentMethod !== 'creditCard') {
              const ordersMessage = orders.length > 1 ? 'созданы заказы:' : 'создан заказ:';
              const ordersList = orders.map(elem => elem.number);
              this.orderWasMadeMessage = `По вашей заяке ${ordersMessage}<br>${ordersList.join('<br>')}`;
              this.orderWasMadeTitle = 'Спасибо, что выбрали нашу компанию!';
              this.$store.commit(CHECK_OUT_AVAILABLE, '');
              this.showInfoModal = true;
            } else {
              this.$http.post('/order/pay', {
                guid: resp.data[0].guid,
              })
                .then((respPay) => {
                  window.location.href = respPay.data.formUrl;
                });
            }
          })
          .catch(() => {
            this.orderWasMadeMessage = 'Что-то пошло не так!<br>Обратитесь к вашему менеджеру!';
            this.orderWasMadeTitle = 'Ошибка';
            this.showInfoModal = true;
            this.requestPending = false;
          });
      }
    },
    async getContractorsList() {
      const resp = await this.$http.post('/user/get_contractor', {});
      this.contractorInfo = resp.data;
    },
  },
};
</script>

<style lang="stylus">
@import "../assets/stylus/form.styl"
@import "../assets/stylus/pop-up.styl"

.checkout
  background #fff
  width 100%
  height 100%
  padding 2em
  &__ttl
    margin-bottom 1em
  &__params
    list-style none
    margin 0
    padding 0
  &-param
    margin 1em 0
    display flex
    align-items center
    &:first-child
      & ^[1]__txt
        font-size 1.3em
        font-weight bold
        color #243a44
    &__ttl
      font-size 1.12em
      color #adbdc5
      margin-right .4em
    &__txt
      font-size 1.12em
      color #243a44
    &__mutate
      margin-left .4em
      cursor pointer
      &:hover
        text-decoration underline
  &__comments
    display flex
    justify-content flex-start
    margin 2em 0 1em
  &-comment
    width 300px
    margin-right 2.6em
    &__ttl
      margin-bottom .5em
    &__textarea
      width 100%
      border none
      background #f4f7f9
      box-shadow inset 2px 2px 0 0 rgba(36, 58, 68, .2)
      min-height 6em
      line-height 1.4em
      padding .2em .5em
      resize none
  &__controls
    width 100%
    display flex
    margin-top 2em
  &__submit
    margin-left 2em
</style>
