<template lang="pug">
  form(
    @submit.prevent='sendOnEmail()'
  ).authorization.form
    .form__header
      h2.form__header-ttl Восстановление пароля
      h3.form__header-subttl.
        Если вы забыли пароль, введите адрес электроной почты на котрый был зарегистрирован  аккаунт
    .form__inner
      input.form__input(
        type="email"
        v-model="email"
        placeholder='Ваш адрес электронной почты'
      )
      p.form__message(
        v-if="message"
        :class="{'form__message--error': error}"
      ) {{ message }}
      .form__controls
        router-link(to="/login").form__btn.form__btn--grey.btn.btn--red Отмена
        button(type='submit').form__btn.btn.btn--red
          span(:class="{'btn__txt-red': requestPending}") Восстановить
          span.btn__pre-loader(v-if="requestPending")
            btn-preloader
    p Первый раз на сервисе? Вам&nbsp;необходимо&nbsp;
      router-link(to="/registration").form__link Зарегистрироваться
    p.
      Если Вы забыли данные для входа в систему, обратитесь к своему менеджеру или свяжитесь с
      нами
    a(href="mailto:support@bigsto.ru").mail-us support@bigsto.ru
</template>

<script>
import { forgotPassword } from '@/api/auth';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';

export default {
  name: 'Forgot',
  components: { BtnPreloader },
  data() {
    return {
      email: '',
      message: '',
      requestPending: false,
      error: false,
    };
  },
  methods: {
    sendOnEmail() {
      this.requestPending = true;
      forgotPassword(this.email, window.location.origin)
        .then((resp) => {
          if (resp.data.toString() === 'true') {
            this.message = `На почту ${this.email} отправлено письмо для сброса пароля`;
          } else if (resp.data.toString() === 'false') {
            this.error = true;
            this.message =
              `Адрес ${this.email} не зарегестрирован в системе, в случае возникновения сложностей
               - обратитесь в службу поддержки`;
          } else {
            this.message = 'Что-то пошло не так, обратитесь в службу поддержки';
            this.error = true;
          }
          this.requestPending = false;
        })
        .catch((err) => {
          this.message = 'Что-то пошло не так, обратитесь в службу поддержки';
          this.requestPending = false;
          this.error = true;
          return err;
        });
    },
  },
  watch: {
    mail() {
      this.error = false;
      this.message = '';
    },
  },
};
</script>

<style lang="stylus">
@import '../assets/stylus/variabels.styl'
@import "../assets/stylus/form.styl"
</style>
