<template lang="pug">
  div(style="width: 100%;")
    vue-agile(v-if="actionsList")
      a.slide(v-for="item in actionsList" :href="item.DETAIL_PAGE_URL" target="_blank")
        img(:src="item.PREVIEW_PICTURE")
        h3(v-html="item.PREVIEW_TEXT")
      template(slot="prevButton")
        i.fas.fa-chevron-left
      template(slot="nextButton")
        i.fas.fa-chevron-right
    main-sections
    popular-goods-list
</template>

<script>
import PopularGoodsList from '@/components/popularGoods/popularGoodsList.vue';
import MainSections from '@/components/MainSections/MainSections.vue';
import { VueAgile } from 'vue-agile';
import { bigstoRest } from '@/axios/axios.js';

export default {
  name: 'home',
  components: { MainSections, PopularGoodsList, VueAgile },
  data() {
    return {
      actionsList: '',
    };
  },
  created() {
    this.getBitrixActionsList();
  },
  methods: {
    async getBitrixActionsList() {
      const resp = await bigstoRest.get('/example/check', {});
      this.actionsList = resp.data.result.IBLOCK_DATA;
    },
  },
};
</script>

<style lang="stylus">
.main-attention
  width 100%
  font-size 1.4em
  font-family 'RussoOne'
  margin 0 0 2em .85em
  &__red
    color #be3149
.main-banner
  width 100%
  margin-bottom 2em
  img
    max-width 100%
    display block
// Basic VueAgile styles
.agile
  width: 60%
  margin: 0 auto 2rem;
  padding 0 3rem
  &__list
    z-index 10
  &__actions
    margin-top: 20px
    position absolute
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  &__nav-button
    background: transparent
    border: none
    color: #ccc
    cursor: pointer
    font-size: 24px
    transition-duration: .3s
    &:hover
      color: #888
  &__dots
    position absolute
    right 4rem
    bottom 0
    z-index 10
  &__dot
    margin: 0 5px
    button
      background-color: #eee
      border: none
      border-radius: 50%
      cursor: pointer
      display: block
      height: 10px
      font-size: 0
      line-height: 0
      margin: 0
      padding: 0
      transition-duration: .3s
      width: 10px
    &--current,
    &:hover
      button
        background-color: #888
// Slides styles
.slide
  align-items: center
  display: flex
  height: auto
  justify-content: center
  background #fff
  padding 2rem
  text-decoration none
  color inherit
  img
    margin-right 3rem
  h3
    font-size 1.6rem
</style>
