<template lang="pug">
  form(
    @submit.prevent='loginAction()'
  ).authorization.form
    .form__header
      img(src="../assets/images/icon-login-form.png").form__header-img
      h2.form__header-ttl Вход в систему
      h3.form__header-subttl С возвращением! Спасибо,  что вы с нами.
    .form__inner
      .form__row
        input.form__input(
          type="text"
          placeholder='Имя пользователя'
          v-model="login"
          :class="[error ? 'form__input--error' : '']")
        .form__error(v-if="error")
          span Неверные имя пользователя или пароль
      .form__row
        input.form__input(
          :type="showPassword ? 'text' : 'password'"
          placeholder='Пароль'
          v-model="password"
          :class="[error ? 'form__input--error' : '']")
        .form__input-controls.form__input-controls--checkbox(@click="showPassword = !showPassword")
          span Показать
      router-link(to="/forgot").form__forgot Забыли пароль?
      .form__controls
        input(type="checkbox" v-model='rememberMe').form__checkbox#remember
        label(for="remember").form__checkbox-label Запомнить
        button(type='submit').form__btn.btn.btn--red
          span(:class="{'btn__txt-red': requestPending}") Войти
          span.btn__pre-loader(v-if="requestPending")
            btn-preloader
    p Первый раз в нашем сервисе? Вам&nbsp;необходимо&nbsp;
      router-link(to="/registration").form__link Зарегистрироваться
    p.
      Если Вы забыли данные для входа в систему, обратитесь к своему менеджеру или свяжитесь с
      нами
    a(href="mailto:support@bigsto.ru").mail-us support@bigsto.ru
</template>

<script>
import { AUTH_REQUEST } from '@/store/actions/auth';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import { GET_USER, SELECT_ADDRESS, SELECT_CONTRACTOR, SELECT_PICK_UP_POINT } from '@/store/actions/user.js';

export default {
  name: 'login',
  components: { BtnPreloader },
  data() {
    return {
      login: '',
      password: '',
      showPassword: false,
      rememberMe: true,
      error: false,
      requestPending: false,
    };
  },
  watch: {
    password() {
      this.error = false;
      this.password = this.password.replace(/\s+/g, '');
    },
    login() {
      this.error = false;
      this.login = this.login.replace(/\s+/g, '');
    },
  },
  methods: {
    async loginAction() {
      const { login, password, rememberMe } = this;
      this.requestPending = true;
      try {
        await this.$store.dispatch(AUTH_REQUEST, { login, password, rememberMe });
        this.requestPending = false;
        await this.getAndSetContractor();
        await this.getAndSetAddress();
        // get user
        await this.$store.dispatch(GET_USER);
        await this.$router.push('/');
      } catch (e) {
        this.requestPending = false;
        if (e.response.status === 400 || e.response.status === 401) {
          this.error = true;
        }
      }
    },
    async getAndSetPickUpPoint() {
      const resp = await this.$http.post('/get_pick_up_points', {});
      await this.$store.dispatch(SELECT_PICK_UP_POINT, resp.data[0]);
    },
    async getAndSetContractor() {
      const resp = await this.$http.post('/user/get_contractor', {});
      if (resp.data.length && !this.$store.state.user.userSelectedContractor.guid) {
        await this.$store.dispatch(SELECT_CONTRACTOR, resp.data[0]);
      }
    },
    async getAndSetAddress() {
      const resp = await this.$http.post('/user/addresses', {});
      if (resp.data.length === 1 && !this.$store.state.user.selectedAddress.guid && !this.$store.state.user.selectedPickUpPoint.guid) {
        await this.$store.dispatch(SELECT_ADDRESS, resp.data[0]);
      } else if (resp.data.length === 0) {
        await this.getAndSetPickUpPoint();
      }
    },
  },
};
</script>

<style lang="stylus">
@import '../assets/stylus/variabels.styl'
@import "../assets/stylus/form.styl"

.mail-us
  color big_darkBlue
</style>
