<template lang="pug">
  form(
    @submit.prevent='changePassword()'
  ).authorization.form
    .form__header
      h2.form__header-ttl Восстановление пароля
      h3.form__header-subttl.
        Введите новый пароль, который будет использоваться в системе
    .form__inner
      input.form__input(
        type="password"
        v-model="password"
        placeholder='Новый пароль'
      )
      input.form__input(
        type="password"
        v-model="passwordRepeat"
        placeholder='Повтор пароля'
      )
      .form__controls
        router-link(to="/login").form__btn.btn.btn--red Отмена
        button(type='submit').form__btn.btn.btn--red Сменить
    p Первый раз на сервисе? Вам&nbsp;необходимо&nbsp;
      router-link(to="/registration").form__link Зарегистрироваться
    p.
      Если Вы забыли данные для входа в систему, обратитесь к своему менеджеру или свяжитесь с
      нами
    a(href="mailto:support@bigsto.ru").mail-us support@bigsto.ru
    info-pop-up(
      v-if="showInfoPopup"
      :title="'Успех!'"
      :message="message"
      @closePopUps="afterCloseAction"
    )
</template>

<script>
import { newPasswordSet } from '@/api/auth';
import InfoPopUp from '@/components/popups/infoPopUp.vue';

export default {
  name: 'NewPassword',
  components: { InfoPopUp },
  data() {
    return {
      password: '',
      passwordRepeat: '',
      message: '',
      success: '',
      showInfoPopup: false,
    };
  },
  computed: {
    mailCompare() {
      return this.password === this.passwordRepeat;
    },
  },
  methods: {
    afterCloseAction() {
      if (this.success) {
        this.$router.push('/login');
      }
      this.showInfoPopup = false;
    },
    changePassword() {
      if (this.mailCompare) {
        newPasswordSet(this.$route.params.guid, this.password)
          .then((resp) => {
            this.success = resp.data;
            if (resp.data) {
              this.message = 'Пароль успешно сменен';
            } else {
              this.message = 'Что-то пошло не так - обратитесь в службу поддержки или пройдите' +
                'процедуру повторно';
            }
            this.showInfoPopup = true;
          })
          .catch(err => err);
      }
    },
  },
};
</script>

<style lang="stylus">
@import '../assets/stylus/variabels.styl'
@import "../assets/stylus/form.styl"
</style>
