<template lang="pug">
  div(style="width: 100%").delivery
    h1.ttl Доставка товара
    p Компания "Автотехника" осуществляет доставку товара в любую точку РФ: как до Вашего региона, так и до дверей Вашего склада посредством собственной службы доставки или с помощью услуг транспортных компаний.
    .delivery-block
</template>

<script>
export default {
  name: 'PaymentAndDelivery',
};
</script>

<style lang="stylus">

</style>
