<template lang="pug">
  div.payment
    router-view
</template>

<script>
export default {
  name: 'Payment',
};
</script>

<style lang="stylus">
.payment
  background #fff
  width 100%
  padding 2em
</style>

