<template lang="pug">
  .payment-form
    .payment-form__ttl.ttl Оплата банковской картой
    .payment-form__descr Итого с учётом доставки и НДС
    .payment-form__sum.ttl {{ formatMoney(order.sum) }} р.
    p {{ moonValidate }}
    .payment-form__body
      div
        .payment-form__card.payment-form__card--back
          .payment-form__card-back-line
          .payment-form__card-content.payment-form__card-content--back
            .payment-form__card-dates-label cvv/cvc
            input.payment-form__card-date.payment-form__card-date--cvv(
              type="password"
              placeholder="000"
              pattern="[0-9]{3,4}"
              maxlength="3"
              max=""
              tabindex="4"
              autocomplete="cc-csc"
              x-autocompletetype="cc-csc"
              name="cvc"
              autocorrect="off"
              spellcheck="true"
              autocapitalize="off"
              v-model="cvv"
            )
            p Три цифры с обратной стороны карты
        .payment-form__card.payment-form__card--front
          .payment-form__card-content.payment-form__card-content--front
            .payment-form__card-logos
              img(src="/images/ic-visa.svg")
              img(src="/images/ic-master.svg")
              img(src="/images/ic-maestro.svg")
              img(src="/images/ic-mir.svg")
            input.payment-form__card-number(
              type="tel"
              name="number"
              autocomplete="cc-number"
              x-autocompletetype="cc-number"
              autocorrect="off"
              spellcheck="true"
              autocapitalize="off"
              v-model="cardNumber"
              :class="{'error': !moonValidate}"
            )
            .payment-form__card-dates
              .payment-form__card-dates-label ДЕЙСТВУЕТ ДО
              .payment-form__card-dates-inner
                input.payment-form__card-date.payment-form__card-date--month(
                  tabindex="2"
                  type="tel"
                  name="month"
                  placeholder="ММ"
                  pattern="[0-9]{1,2}"
                  max="12"
                  maxlength="2"
                  autocomplete="cc-exp-month"
                  x-autocomplete="cc-exp-month"
                  autocorrect="off"
                  spellcheck="true"
                  autocapitalize="off"
                  v-model="month"
                )
                span /
                input.payment-form__card-date.payment-form__card-date--year(
                  tabindex="3"
                  type="tel"
                  name="month"
                  placeholder="ММ"
                  pattern="[0-9]{1,2}"
                  max="99"
                  maxlength="2"
                  autocomplete="cc-exp-year"
                  x-autocomplete="cc-exp-year"
                  v-model="year"
                )
      .btn.btn--red.checkout__submit(
        :class="{ disabled: !moonValidate }"
      )
        span(:class="{'btn__txt-red': requestPending}")
          | Оплатить
        span.btn__pre-loader(v-if="requestPending")
          btn-preloader
</template>

<script>
import { formatMoney } from '@/utils/utils';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';

export default {
  name: 'PaymentForm',
  components: { BtnPreloader },
  data() {
    return {
      formatMoney,
      requestPending: false,
      order: '',
      cardNumber: '',
      cvv: '',
      month: '',
      year: '',
    };
  },
  computed: {
    moonValidate() {
      const arr = [];
      const cardNumber = this.cardNumber.replace(/ /g, '');
      if (cardNumber.length >= 16) {
        if (/[^0-9-\s]+/.test(cardNumber)) return false;
        for (let i = 0; i < cardNumber.length; i += 1) {
          if (i % 2 === 0) {
            const m = parseInt(cardNumber[i], 10) * 2;
            if (m > 9) {
              arr.push(m - 9);
            } else {
              arr.push(m);
            }
          } else {
            const n = parseInt(cardNumber[i], 10);
            arr.push(n);
          }
        }
        console.log(arr);
        const summ = arr.length ? arr.reduce((a, b) => a + b) : 0;
        console.log(summ);
        return Boolean(!(summ % 10));
      } return true;
    },
  },
  watch: {
    cardNumber(newVal, oldVal) {
      if (oldVal.length < newVal.length) {
        this.cardNumber = newVal.replace(/(\d\d\d\d)(?=(\d)+([^\d]|$))/g, '$1 ');
      }
    },
  },
  created() {
    this.getOrder();
  },
  methods: {
    async getOrder() {
      try {
        const resp = await this.$http.post(`/order/get/${this.$route.query.number}`, {});
        this.order = resp.data[0];
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style lang="stylus">
.payment-form
  width 100%
  max-width 505px
  margin 0 auto
  &__ttl
    margin-bottom .8em
  &__descr
    margin-bottom .4em
  &__sum
    margin-bottom 1em
  &__body
    position relative
  &__card
    position relative
    top 0
    left 0
    width 324px
    height 200px
    border-radius 5px
    color #b3b3b3
    p
      font-size 11px
    &--front
      margin-top -200px
      margin-bottom 80px
      box-shadow 0 2px 6px rgba(0,0,0,.25)
      background #fff
    &--back
      top 60px
      margin-left 144px
      background #f3f3f3
      padding-top 20px
    &-content
      position absolute
      width 100%
      &--front
        display flex
        flex-direction column
        justify-content space-between
        height 100%
        padding 28px 20px
      &--back
        width 144px
        position absolute
        right 0
        padding 16px 20px
    &-logos
      display flex
      align-items center
      justify-content flex-end
      height 36px
      img
        height 16px
        margin-left 10px
    &-number
      height 30px
      line-height 30px
      width 100%
      font-size 14px
      color #333
      padding 8px 10px
      border 1px solid #c9d3d8
      border-radius 2px
      &.error
        border-color red
    &-dates
      &-label
        font-size 10px
        margin-bottom 6px
        text-transform uppercase
      span
        display inline-block
        padding 0 .2em
    &-date
      height 30px
      line-height 30px
      font-size 14px
      color #333
      padding 8px 10px
      border 1px solid #c9d3d8
      width 48px
      border-radius 2px
      &--cvv
        width 56px
    &-back-line
      height 40px
      background #e7e7e7
</style>
