<template lang="pug">
  div.account
    .ttl.account__ttl Личный кабинет
    personal-account-nav
    router-view
</template>

<script>
import PersonalAccountNav from '../components/PersonalAccount/personalAccountNav.vue';

export default {
  name: 'PersonalAccount',
  components: { PersonalAccountNav },
};
</script>

<style lang="stylus">
@import "../assets/stylus/variabels.styl"
@import "../assets/stylus/form.styl"
@import "../assets/stylus/pop-up.styl"

.account
  height 100%
  width 100%
  background #fff
  flex-grow 1
  padding 2em
  display flex
  flex-direction column
  &__ttl
    margin-left 1.5em
  &__tab
    background #f4f7f9
    padding 2em 2em 4em
    width 100%
    hr
      height 0.2em
      border none
      box-shadow none
      background #f0f4f5
      width 100%
      margin 2em 0 1em
    &-ttl
      font-size 1.4em
      font-weight bold
      color #637c8a
      margin 0 0 0 auto
</style>
