<template lang="pug">
  form.registration.form(@submit.prevent="sendRegInfo()")
    .form__header
      .registration-nav
        div.registration-nav__item(
          @click="showSimple = true"
          :class="[showSimple ? 'registration-nav__item--active' : '']"
          ) Частное лицо
        div.registration-nav__item(
          @click="showSimple = false"
          :class="[showSimple ? '' : 'registration-nav__item--active']"
        ) Юридическое лицо
      h3.form__header-subttl.form__header-subttl--small(
        v-if="!showSimple"
      ).
        Уважаемые партнеры, заполните все нижеуказанные поля. Совсем скоро, с вами свяжется
        менеджер нашей компании.
    p.form__section-attention Внимание! Все поля должны быть заполнены!
    .form__inner
      email-availability(
        @input="setEmailAndLogin"
        @notAvailable="errorStatus = true"
        @available ="errorStatus = false"
      )
      .form__row
        input#password.form__input(
          type="password"
          v-model="regInfo.password"
          placeholder="Пароль"
          @keyup="noSpaces"
          required
        )
        .form__input-controls.form__input-controls--checkbox(@click="showPassword")
          span Показать
      .form__row
        input#password-again.form__input(
          type="password"
          placeholder="Подтверждение пароля"
          @input="passCompare"
          @keyup="noSpaces"
          required
        )
        .form__error(v-if="passwordDoNotIdentical")
          span Введенные пароли не совпадают
        .form__input-controls.form__input-controls--checkbox(@click="showPassword")
          span Показать
      input.form__input(
        type="phone"
        v-model="regInfo.phone"
        placeholder="Номер телефона"
        required
      )
      input.form__input(
        type="text"
        v-model="regInfo.contactPerson"
        placeholder="Контактное лицо"
        required
      )
      select-drop-down(
        style="text-align: center"
        :options="regions"
        :placeholder="'Выберите ближайший регион'"
        @selectedOptionGuid="selectRegion"
      )
      input.form__input(
        v-if="!showSimple"
        type="text"
        v-model="regInfo.inn"
        placeholder="ИНН"
        required
      )
      .form__input-controls--checkbox.form__input-controls--checkbox-relative(
        :class="{'active': confirmAgreement}"
        @click="confirmAgreement = !confirmAgreement"
      )
        span Согласие на&nbsp;
          a(href="https://bigsto.ru/politika-konfidentsialnosti/" target="_blank") обработку персональных данных
    .form__inner
      button(
        type="submit"
        :class="{'disabled': !confirmAgreement}"
      ).form__btn.form__btn--reg.btn.btn--red
        span(:class="{'btn__txt-red': requestPending}") Зарегистрироваться
        span.btn__pre-loader(v-if="requestPending")
          btn-preloader
    p Вы уже зарегистрированы в системе?&nbsp;
      router-link(to="/login").form__link Войти
    info-pop-up(
      v-if="requestState"
      :title="'Регистрация успешна'"
      :message="message"
      @closePopUps="$router.push('/login')"
    )
</template>

<script>
import { getRegionList } from '@/api/registration';
import NameAvailability from '@/components/nameAvailability.vue';
import SelectFlat from '@/components/inputs/selectFlat.vue';
import EmailAvailability from '@/components/emailAvailability.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import SelectDropDown from '@/components/inputs/selectDropDown.vue';
import { regUser } from '@/api/registrationNew';

export default {
  name: 'Registration',
  components: {
    SelectDropDown,
    BtnPreloader,
    InfoPopUp,
    EmailAvailability,
    SelectFlat,
    NameAvailability,
  },
  data() {
    return {
      confirmAgreement: true,
      passwordDoNotIdentical: false,
      errorStatus: false,
      showSimple: true,
      requestState: false,
      message: '',
      requestPending: false,
      regions: [],
      regInfo: {
        login: '',
        email: '',
        contactPerson: '',
        phone: '',
        password: '',
        region: '',
        inn: '',
      },
    };
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  async mounted() {
    const resp = await getRegionList();
    this.regions = resp.data;
  },
  methods: {
    selectRegion(region) {
      this.regInfo.region = region.guid;
    },
    noSpaces($event) {
      $event.target.value = $event.target.value.replace(/\s+/g, '');
    },
    showPassword($event) {
      $event.currentTarget.classList.toggle('active');
      const passInput = $event.currentTarget.parentElement.querySelector('input');
      if (passInput.type === 'password') {
        passInput.type = 'text';
      } else {
        passInput.type = 'password';
      }
    },
    passCompare($event) {
      setTimeout(() => {
        if ($event.target.value === this.regInfo.password) {
          this.passwordDoNotIdentical = false;
        } else {
          this.passwordDoNotIdentical = true;
        }
      }, 1000);
    },
    copyFromLegalAddress($event) {
      this.regInfo.postalAddress = this.regInfo.legalAddress;
      this.copyFromLegalAddressState = !this.copyFromLegalAddressState;
      $event.currentTarget.classList.toggle('active');
    },
    addItem() {
      if (this.regInfo.deliveryAddress) {
        this.regInfo.deliveryAddresses.push(this.regInfo.deliveryAddress);
        this.regInfo.deliveryAddress = '';
      }
    },
    removeItem(index) {
      this.regInfo.deliveryAddresses.splice(index, 1);
    },
    setOrganizationForm(option) {
      this.regInfo.organizationForm = option;
    },
    loginFromNameAvailability(login) {
      this.regInfo.login = login;
    },
    async sendRegInfo() {
      if (!this.errorStatus && this.confirmAgreement) {
        this.requestPending = true;
        const data = {
          ...this.regInfo,
          person: this.showSimple,
          domain: `${window.location.origin}`,
        };
        try {
          await regUser(data);
          this.requestPending = false;
          this.requestState = true;
          if (this.showSimple) {
            this.message =
              'Регистрация пройдена успешно.' +
              `На почту ${this.regInfo.email}, отправлено письмо содержащее ссылку для подтверждения аккаунта.`;
          } else {
            this.message =
              'Регистрация пройдена успешно.' +
              'Наш менеджер свяжется с вами для уточнения информации!';
          }
        } catch (e) {
          this.requestState = false;
          this.requestPending = false;
        }
      }
    },
    setEmailAndLogin(email) {
      this.regInfo.email = email;
      this.regInfo.login = email;
    },
  },
};
</script>

<style lang="stylus">
@import "../assets/stylus/variabels.styl"
@import "../assets/stylus/form.styl"
.form .suggestions-addon[data-addon-type=clear]
  background-image none !important
hr
  width 100%
  margin-top 1.5em
  border none
  background big_lightGrey
  height 1px
  opacity .4
.registration
  position relative
  width 100%
  &-nav
    width 100%
    margin 0 auto
    background #fff
    display flex
    align-items center
    justify-content center
    &__item
      font-size 1.2em
      font-family "RussoOne"
      padding 0 3em
      text-decoration underline
      cursor pointer
      @media screen and (max-width 1300px)
        font-size 1em
      &:first-child(:not(:last-child))
        border-right 1px solid #98a3ab
      &--active
        color mainRed
        text-decoration none
        cursor default
.registration
  &__form
    background #fff
    padding 2em 4em
    margin 0 auto
    width 60%
    text-align center
</style>
