<template lang="pug">
  search-result
</template>

<script>
import SearchResult from '../components/Search/searchResult.vue';

export default {
  name: 'Search',
  components: { SearchResult },
};
</script>
