<template lang="pug">
  div.iframe-elem(ref="iframe")
</template>

<script>
export default {
  name: 'SearchByVin',
  mounted() {
    const iframe = document.createElement('iframe');
    iframe.setAttribute('src', this.frameUrl);
    this.$refs.iframe.appendChild(iframe);
  },
  computed: {
    frameUrl() {
      return `https://6674939880.laximo.online/index.php?task=vehicles&ft=FindVehicle&c=&identString=${this.$route.query.VIN}`;
    },
  },
};
</script>

<style lang="stylus">
.iframe-elem
  width 100%
  iframe
    width 100%
    height 70vh
    border none
</style>

