<template lang="pug">
  .single-product
    template(v-if="requestPending")
      table-preloader
    template(v-else)
      .single-product__back(v-if="previousRoute && previousRoute.name" @click="$router.go(-1)") Назад
      .single-product-item(
        :class="{'single-product-item--center': !showTables}"
      )
        .single-product-item__ttl {{ product.sku }}
          span &nbsp;- {{ product.name }}
        .single-product-item__img(v-if="product.img_urls")
          img(:src="product.img_urls[0]")
        search-table(
          :item="product"
          :cart="itemsInCart"
        )
      .single-product-tables(v-if="showTables")
        template(v-if="product.kits && product.kits.length")
          .single-product-tables__ttl Входит в состав:
          product-related-table(
            :itemRelated="product.kits"
          )
        template(v-if="product.components && product.components.length")
          .single-product-tables__line()
          .single-product-tables__ttl Состоит из:
          product-content-table(
            :itemContent="product.components"
          )
</template>

<script>
import SearchTable from '@/components/Tabels/ProductTable/ProductTable.vue';
import ProductRelatedTable from '@/components/Tabels/ProductRelated/ProductRelatedTable.vue';
import ProductContentTable from '@/components/Tabels/ProductContent/ProductContentTable.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'singleProduct',
  components: {
    TablePreloader, ProductContentTable, ProductRelatedTable, SearchTable,
  },
  data() {
    return {
      product: {},
      itemsInCart: [],
      requestPending: false,
      previousRoute: null,
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.previousRoute = from;
      console.log(vm.previousRoute);
    });
  },
  computed: {
    showTables() {
      return (this.product.kits && this.product.kits.length)
        || (this.product.components && this.product.components.length);
    },
  },
  watch: {
    '$route.params.guid': function () {
      this.getProduct();
      this.getCart();
    },
  },
  mounted() {
    this.getProduct();
    this.getCart();
  },
  methods: {
    async getProduct() {
      this.requestPending = true;
      const product = await this.$http.post(`/product/${this.$route.params.guid}`, {});
      this.product = product.data;
      this.requestPending = false;
    },
    async getCart() {
      this.$http.post('/cart/get', {})
        .then((resp) => {
          this.itemsInCart = resp.data;
        })
        .catch(err => err);
    },
  },
};
</script>

<style lang="stylus">
.single-product
  display flex
  width 100%
  flex-wrap wrap
  &__back
    position relative
    font-size 1.2em
    padding-left 2em
    width 100%
    margin-top -.5em
    cursor pointer
    &:hover
      text-decoration underline
    &:before
      content ''
      position absolute
      left 0
      top 0
      display block
      width .4em
      height .4em
      border-left 2px solid #5a6e78
      border-top 2px solid #5a6e78
      transform-origin left top
      transform rotate(-45deg) translateY(.9em)
.single-product-item
  width 55%
  padding 1em
  &--center
    margin 0 auto
  &__ttl
    font-size 1.4em
    color #5a6e78
    font-family 'RussoOne'
    span
      font-size .8em
  &__img
    width 100%
    margin 2em auto
    height 40vh
    img
      display block
      margin 0 auto
      max-width 100%
      max-height 100%
.single-product-tables
  width 40%
  height auto
  margin 0 auto
  padding 1em 1em 0 0
  &__line
    width 100%
    height 1px
    margin 2em 0
    background #ccc
  &__ttl
    font-size 1.4em
    color #5a6e78
    font-family 'RussoOne'
    margin-bottom .6em
  table
    margin-bottom 2em
</style>
