<template lang="pug">
  .authorization.form
    .form__header
      img(src="../assets/images/icon-login-form.png").form__header-img
      h2.form__header-ttl Настройки для дальнейшей работой с системой
    .form__inner
      .form__row
        select-drop-down(
          :options="contractorInfo"
          :placeholder="$store.getters.getSelectedContractor.name ? $store.getters.getSelectedContractor.name : 'Выберите контрагента'"
          @selectedOptionGuid="selectContractor"
        )
      .form__row(v-show="$store.getters.getSelectedContractor.name")
        select-drop-down(
          :options="deliveryAddresses"
          :placeholder="$store.getters.getSelectedAddress.name ? $store.getters.getSelectedAddress.name : 'Выберите адрес доставки'"
          @selectedOptionGuid="selectAddress"
        )
      .form__controls.form__controls
        .form__btn.form__btn--grey.btn.btn--red(@click="logout") Назад
        .form__btn.btn.btn--red(
          @click="goOnHomePage"
          :class="{ disabled: idDisabled }"
        ) Продолжить
    p.
      Возникли проблемы? Обратитесь к своему менеджеру или свяжитесь с
      нами
    a(href="mailto:support@bigsto.ru").mail-us support@bigsto.ru
</template>

<script>
import { AUTH_LOGOUT } from '@/store/actions/auth';
import {
  SELECT_CONTRACTOR,
  SELECT_ADDRESS,
  CLEAR_ALL,
  TYPE_IS_DELIVERY,
} from '@/store/actions/user';
import SelectDropDown from '@/components/inputs/selectDropDown.vue';

export default {
  name: 'StartSettings',
  components: { SelectDropDown },
  data() {
    return {
      contractor: '',
      deliveryAddress: '',
      contractorInfo: [],
      deliveryAddresses: [],
    };
  },
  mounted() {
    this.getContractorsList();
    this.getAddressesList();
  },
  methods: {
    getContractorsList() {
      this.$http.post('/user/get_contractor', {})
        .then((resp) => {
          this.contractorInfo = resp.data;
        })
        .catch(err => err);
    },
    getAddressesList() {
      this.$http.post('/user/addresses', {})
        .then((resp) => {
          this.deliveryAddresses = resp.data;
        })
        .catch(err => err);
    },
    logout() {
      const token = this.$store.getters.getUserToken.split(',')[1];
      this.$store.dispatch(AUTH_LOGOUT, token);
      this.$store.commit(CLEAR_ALL, token);
    },
    selectContractor(contractor) {
      this.$store.dispatch(SELECT_CONTRACTOR, contractor);
    },
    selectAddress(address) {
      this.$store.dispatch(SELECT_ADDRESS, address)
        .then(() => {
          this.$store.dispatch(TYPE_IS_DELIVERY, true);
        });
    },
    goOnHomePage() {
      if (this.$store.getters.getSelectedAddress.guid) {
        this.$router.push('/');
      }
    },
  },
  computed: {
    idDisabled() {
      return !this.$store.getters.getSelectedAddress.name ||
        !this.$store.getters.getSelectedContractor.name;
    },
  },
};
</script>

<style lang="stylus">
@import '../assets/stylus/variabels.styl'
@import "../assets/stylus/form.styl"
</style>
