<template lang="pug">
  .account__tab
    .chat
      nav.chat-nav
        router-link.chat-nav__item(
          to="/personal-account/messages/notifications"
          active-class="chat-nav__item--active"
        ) Оповещения
        <!--router-link.chat-nav__item(-->
          <!--to="/personal-account/messages/tickets/"-->
          <!--active-class="chat-nav__item&#45;&#45;active"-->
        <!--) Тикеты-->
      .chat-work-area
        h1.chat-work-area__ttl {{ $route.meta.title }}
        router-view
</template>

<script>
export default {
  name: 'index',
};
</script>

<style lang="stylus" scoped>
.chat
  display flex
  flex-grow 1
  width 100%
  &-nav
    min-width 15%
    flex-shrink 0
    display flex
    flex-direction column
    &__item
      line-height 3em
      padding 0 1em
      color #637b8a
      text-align center
      outline none
      &--active
        text-decoration none
        background #fff
  &-work-area
    width 100%
    overflow hidden
    flex-shrink 1
    flex-grow 1
    background #fff
    padding 1em 3em
    &__ttl
      margin 0
      font-size 1.4em
      text-align center
</style>
