<template lang="pug">
  .main-section
    main-sections-item(
      v-for="item in items"
      :item="item"
      :key="item.name"
    )
</template>

<script>
import MainSectionsItem from '@/components/MainSections/MainSectionsItem.vue';

export default {
  name: 'MainSections',
  components: { MainSectionsItem },
  data() {
    return {
      items: [
        {
          imageUrl: '/images/catalog.svg',
          path: '/catalog',
          name: 'Каталог запчастей',
        },
        {
          imageUrl: '/images/repair.svg',
          path: '/repair-kit',
          name: 'Подбор ремкомплектов',
        },
        {
          imageUrl: '/images/actions.svg',
          path: '/actions',
          name: 'Акции',
        },
      ],
    };
  },
};
</script>

<style lang="stylus">
.main-section
  display flex
  width 100%
  align-items center
  justify-content center
  margin-bottom 3em
</style>
