<template lang="pug">
  router-link.main-section-item(
    :to="item.path"
  )
    img(:src="item.imageUrl")
    .main-section-item__name {{ item.name }}
</template>

<script>
export default {
  name: 'MainSectionsItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style lang="stylus">
.main-section-item
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 2em
  background #fff
  margin 0 2em
  text-decoration none
  color inherit
  width 250px
  &__name
    font-size 1.2em
    color #5a6e78
    margin 1em 0 0 0
  &:hover ^[0]__name
    color #be3149
</style>
