<template lang="pug">
  header-address-selector
</template>

<script>
import HeaderAddressSelector from '@/components/Header/headerAddressSelector.vue';

export default {
  name: 'headerTopPanel',
  components: { HeaderAddressSelector },
};
</script>

<style lang="stylus">

</style>
