<template lang="pug">
  .account__tab.responsible-storage
    info-pop-up(
      :message="message.txt"
      :ttl="message.title"
      @closePopUps="showInfoModal = false"
      v-if="showInfoModal"
    )
    a.hidden-link(
      target="_blank"
      ref="hiddenLink"
      :href="documentLink"
    )
    template(
      v-if="requestPending"
    )
      table-preloader
    template(
      v-else-if="!list.length"
    )
      p Нет товаров на хранении.
      p Хотите стать нашим партнером? Обратитесь к вашему персональному менеджеру!
    template(
      v-else
    )
      responsible-storage-table(
        :items="list"
        @itemChange="itemChange"
      )
      .responsible-storage__controls.responsible-storage__controls--column(
        style="margin-top: 2em"
      )
        span.label Контрагент на которого будет оформлен заказ:
        select-drop-down(
          :options="contractorInfo"
          :placeholder="$store.getters.getSelectedContractor.name"
          @selectedOptionGuid="selectContractor"
          :class="{'select-dropdown--attention': !selectedContractor}"
        )
      hr
      .responsible-storage__controls
        .form__btn.btn.btn--red(
          @click="getDocumentsForSale"
          :class="{ 'disabled': !canSendForm }"
        )
          span(:class="{'btn__txt-red': getDocumentsPending}") Продать
          span.btn__pre-loader(v-if="getDocumentsPending")
            btn-preloader
</template>

<script>

import TablePreloader from '@/components/preLoaders/tablePreloader.vue';
import ResponsibleStorageTable
  from '@/components/PersonalAccount/responsibleStorage/responsibleStorageTable.vue';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';
import SelectDropDown from '@/components/inputs/selectDropDown.vue';

export default {
  name: 'responsibleStorage',
  components: {
    SelectDropDown, InfoPopUp, BtnPreloader, ResponsibleStorageTable, TablePreloader,
  },
  data() {
    return {
      requestPending: false,
      getDocumentsPending: false,
      showInfoModal: false,
      list: [],
      itemsToBy: {},
      message: {
        txt: '',
        ttl: '',
      },
      documentLink: '',
      contractorInfo: null,
      selectedContractor: '',
    };
  },
  computed: {
    canSendForm() {
      return (Object.keys(this.itemsToBy).length && this.selectedContractor && !this.getDocumentsPending);
    },
  },
  mounted() {
    this.getList();
    this.getContractorInfo();
    this.selectedContractor = this.$store.getters.getSelectedContractor.guid;
  },
  methods: {
    selectContractor(contractor) {
      this.selectedContractor = contractor.guid;
    },
    async getContractorInfo() {
      try {
        const contractorInfoResp = await this.$http.post('/user/get_contractor', {});
        this.contractorInfo = contractorInfoResp.data;
      } catch (e) {
        console.log(e);
      }
    },
    async getList() {
      this.requestPending = true;
      try {
        const list = await this.$http.post('/consignment/list', {});
        this.list = list.data;
        this.requestPending = false;
      } catch (e) {
        console.log(e);
      }
    },
    itemChange($event) {
      if ($event.qty !== 0) {
        this.$set(this.itemsToBy, $event.item.guid, {});
        this.itemsToBy[$event.item.guid].item = $event.item;
        this.itemsToBy[$event.item.guid].qty = $event.qty;
      } else {
        this.$delete(this.itemsToBy, $event.item.guid);
      }
    },
    async getDocumentsForSale() {
      if (this.canSendForm) {
        const itemsForSend = [];
        this.getDocumentsPending = true;
        Object.keys(this.itemsToBy)
          .forEach((key) => {
            itemsForSend.push({
              guid: this.itemsToBy[key].item.guid,
              qty: this.itemsToBy[key].qty,
            });
          });
        try {
          const respOrder = await this.$http.post('/consignment/order', {
            items: itemsForSend,
            contractor: this.selectedContractor,
          });
          this.getDocumentsPending = false;
          this.message.ttl = 'Заказ оформлен!';
          this.message.txt =
            `Оформлен заказ №${respOrder.data.number}!<br>
            Отгрузочные документы можно скачать в разделе
            <a style="color: inherit;" href="/personal-account/orders">мои заказы</a>`;
          this.showInfoModal = true;
          this.$root.$emit('saleDone');
        } catch (e) {
          this.getDocumentsPending = false;
          this.message.ttl = 'Ошибка';
          this.message.txt =
            'Ошибка запроса к серверу!<br> Проверьте соединение или обратитесь в службу поддержки!';
          this.showInfoModal = true;
          console.log(e);
        }
      }
    },
  },
};
</script>

<style lang="stylus">
.hidden-link
  position absolute
  right 0
  top 0
  opacity 0
.responsible-storage
  &__controls
    display flex
    align-items center
    .label
      margin-bottom 1em
      color #243a44
    .select-dropdown
      margin-left auto
      width 30em
      &__current
        margin-bottom 0
    &--column
      flex-direction column
      align-items flex-end
  .btn
    margin-left auto
</style>
