<template lang="pug">
  tr
    th Бренд
    th Артикул
    th Наименование
    th Кол-во
    th Доступно
    th Цена
    th Сумма
</template>

<script>
export default {
  name: 'responsibleStorageTableHead',
};
</script>
