<template lang="pug">
  table.main-table
    thead
      responsible-storage-table-head
    tbody
      responsible-storage-table-row(
        v-for="item in items"
        :item="item"
        :key="item.guid"
        @itemChange="$emit('itemChange', $event)"
      )
</template>

<script>
import ResponsibleStorageTableHead
  from '@/components/PersonalAccount/responsibleStorage/responsibleStorageTableHead.vue';
import ResponsibleStorageTableRow
  from '@/components/PersonalAccount/responsibleStorage/responsibleStorageTableRow.vue';

export default {
  name: 'responsibleStorageTable',
  components: { ResponsibleStorageTableRow, ResponsibleStorageTableHead },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>
