<template lang="pug">
  tr
    td {{ item.manufacturer }}
    td {{ item.sku }}
    td {{ item.name }}
    td
      .add-to-cart
        .add-to-cart__minus(@click="reduceQtyOfItem")
        input.add-to-cart__qty(
          type="text"
          v-model="qty"
        )
        .add-to-cart__plus(@click="increaseQtyOfItem")
    td {{ item.qty }}
    td.main-table__price {{ formatMoney(item.price) }}
    td.main-table__price {{ sumOfItem }}
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'responsibleStorageTableRow',
  props: {
    item: {
      type: Object,
      default() {
        return {
          guid: null,
          sku: null,
          name: null,
          manufacturer: null,
          qty: null,
          price: null,
        };
      },
    },
  },
  data() {
    return {
      qty: 0,
    };
  },
  computed: {
    sumOfItem() {
      return formatMoney(this.qty * this.item.price);
    },
  },
  watch: {
    qty() {
      if (this.qty < 0) {
        this.qty = 0;
      } else if (this.qty > this.item.qty) {
        this.qty = this.item.qty;
      }
      this.$emit('itemChange', {
        item: this.item,
        qty: this.qty,
      });
    },
  },
  created() {
    this.$root.$on('saleDone', this.saleDoneAction);
  },
  beforeDestroy() {
    this.$root.$off('saleDone', this.saleDoneAction);
  },
  methods: {
    saleDoneAction() {
      this.qty = 0;
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    reduceQtyOfItem() {
      this.qty = this.qty - 1;
    },
    increaseQtyOfItem() {
      this.qty = this.qty + 1;
    },
  },
};
</script>

<style lang="stylus">
.add-to-cart
  display flex
  align-items center
  justify-content center
  &__minus, &__plus
    width 0
    height 0
    border .85em solid transparent
    cursor pointer
    opacity 0
    visibility hidden
    transition .2s ease-in-out
  &__minus
    border-right-color #233942
    margin 0 .2em 0 0
  &__plus
    border-left-color #233942
    margin 0 0 0 .2em
  &__qty
    border 1px solid #adbcc5
    text-align center
    line-height 1.4em
    width 3em
  &__icon
    opacity 0
    visibility hidden
    transition .2s ease-in-out
    cursor pointer
    img
      margin .5em
</style>
