<template lang="pug">
  .popular-goods
    .popular-goods__ttl Популярные товары
    nav.popular-goods__nav
      .popular-goods__nav-link(
        v-for="category in categories"
        :key="category.guid"
        :class="{'popular-goods__nav-link--current': category.guid === currentCategoryGuid}"
        @click="selectCategory(category)"
      ) {{ category.name }}
    .popular-goods__items
      store-card(
        v-for="item in categoryItems"
        :item="item"
        :key="item.guid"
        @click.native="sendGA(item)"
      )
</template>

<script>
import StoreCard from '@/components/storeItems/storeCard.vue';

export default {
  name: 'popularGoodsList',
  components: { StoreCard },
  data() {
    return {
      cardsCount: 8,
      categories: [],
      currentCategoryGuid: '',
      categoryItems: [],
      requestPending: false,
    };
  },
  mounted() {
    this.getCategoryList();
  },
  watch: {
    currentCategoryGuid() {
      this.getItemsOfCategoryByGuid();
    },
  },
  methods: {
    sendGA(item) {
      window.gtag(
        'event',
        'PopularCategoryProductClick', {
          event_category: 'Popular',
          event_label: item.sku,
        },
      );
    },
    selectCategory(category) {
      this.currentCategoryGuid = category.guid;
      window.gtag(
        'event',
        'PopularCategorySelect', {
          event_category: 'Popular',
          event_label: category.name,
        },
      );
    },
    getCategoryList() {
      this.$http.post('/goods/popular/get_list', {})
        .then((resp) => {
          this.categories = resp.data;
          if (this.categories.length) {
            this.currentCategoryGuid = this.categories[0].guid;
          }
        })
        .catch(err => err);
    },
    getItemsOfCategoryByGuid() {
      this.requestPending = true;
      this.$http.post(`/goods/popular/get_list/${this.currentCategoryGuid}`, {})
        .then((resp) => {
          this.categoryItems = resp.data;
          this.requestPending = false;
        })
        .catch((err) => {
          this.requestPending = false;
          return err;
        });
    },
  },
};
</script>

<style lang="stylus">
@import '../../assets/stylus/variabels.styl'
.popular-goods
  width 100%
  &__ttl
    color #5a6e78
    font-size 1.4em
    font-family 'RussoOne'
    margin-left .7em
  &__nav
    margin 1em 0 1em 1em
    &-link
      display inline-block
      margin-right 2em
      color big_darkGrey
      text-decoration none
      border-bottom 1px dashed big_darkGrey
      transition .2s linear
      cursor pointer
      text-transform uppercase
      font-weight 800
      &:hover
        color mainRed
        border-color mainRed
      &--current
        border-bottom none
        color mainRed
        cursor default
  &__items
    display flex
    width 100%
    flex-wrap wrap
    justify-content flex-start
    align-items stretch
    @media screen and (max-width 1300px)
      font-size .9em
  &__show-more
    margin 4em auto 0
    span
      color big_darkGrey
</style>
