<template lang="pug">
  tr
    template(
      v-if="index === 0"
    )
      td(
        :rowspan="item.stores.length"
      )
        span.product-item__action(
            v-if="item.action"
          )
          img(src="../../../assets/images/i-sale.png")
        span.product-item__ttl {{ item.sku }}
      td(
        :rowspan="item.stores.length"
        style="text-align: left;"
      )
        span.product-item__manufacturer {{ item.manufacturer }}
    td
      span {{ item.stores[index].store_qty }}
    td(style="white-space: nowrap")
      span {{ item.stores[index].store_name }}
    td
      span {{ item.delivery_time ? `${$moment().add(item.stores[index].delivery_time, 'days').format("DD.MM.YYYY")}` : 'Сегодня' }}
    td(style="white-space: nowrap")
      span.action(
        :class="{'action--old': isAction}"
        v-if="isAction > 0"
      )
        span {{ item.old_price }}
      span.action(
        :class="{'action--new': isAction}"
      ) {{ formatMoney(item.stores[index].store_price) }} р.
    td
      .add-to-cart
        .add-to-cart__minus(@click="itemToBasket > 0 ? itemToBasket-- : false")
        input.add-to-cart__qty(
          type="text"
          v-model="itemToBasket"
          :data-max-qnty="item.stores[index].store_qty"
          @input="compareWithMaxQty"
        )
        .add-to-cart__plus(@click="itemToBasket < item.stores[index].store_qty ? itemToBasket++ : false")
        .add-to-cart__icon(
          @click="addToBasketAction"
        )
          img(src="../../../assets/images/icon-add-to-cart.png")
          span.add-to-cart__item-in-cart(
            v-if="cartContainItem"
            title="Уже в корзине"
          ) ({{ itemsInBasket }})
</template>

<script>
import { formatMoney } from '@/utils/utils';
import { addToBasket } from '@/api/basket';
import { GET_BASKET_SMALL } from '@/store/actions/basket';

export default {
  name: 'ProductTableRow',
  props: {
    index: {
      type: Number,
    },
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    cart: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      showFancy: false,
      itemToBasket: 1,
      itemsInBasket: 0,
    };
  },
  methods: {
    openFancy($event) {
      this.showFancy = true;
      const test = $event.currentTarget;
      setTimeout(() => {
        test.querySelectorAll('img')[1].click();
        this.showFancy = false;
      }, 100, test);
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    compareWithMaxQty() {
      const qty = Number(this.item.stores[this.index].store_qty);
      if (qty) {
        if (this.itemToBasket > qty) {
          this.itemToBasket = qty;
        }
      }
    },
    sendStats({
      check_number, check_brand, source, sku, manufacturer, name,
    }) {
      this.$http.post('/stat', {
        check_number,
        check_brand,
        source,
        sku,
        manufacturer,
        name,
        statistic: 'Корзина',
      });
    },
    addToBasketAction() {
      const params = {
        sku: this.item.sku,
        manufacturer: this.item.manufacturer,
        store_id: this.item.stores[this.index].store_guid,
        store_name: this.item.stores[this.index].store_name,
        source: 1,
        guid: this.item.guid,
        name: this.item.name,
        available_qty: this.item.stores[this.index].store_qty,
        qty: this.itemToBasket,
        price: this.item.stores[this.index].store_price,
        delivery_time: this.item.stores[this.index].store_delivery_time,
      };
      addToBasket(params)
        .then(() => {
          this.$store.dispatch(GET_BASKET_SMALL);
          this.$root.$emit('itemAdded');
          const paramsForStats = {
            check_number: 'product page',
            check_brand: 'product page',
            source: 1,
            sku: this.item.sku,
            manufacturer: this.item.manufacturer,
            name: this.item.name,
          };
          this.sendStats(paramsForStats);
        })
        .catch(err => err);
    },
  },
  computed: {
    isAction() {
      return this.item.old_price - this.item.price;
    },
    // check if the item is in the cart
    cartContainItem() {
      let contain = false;
      if (this.cart.length) {
        this.cart.forEach((item) => {
          if (
            this.item.sku === item.sku &&
            this.item.manufacturer === item.manufacturer &&
            this.item.stores[this.index].store_guid === item.store_id
          ) {
            contain = true;
            this.itemsInBasket = item.qty;
          }
        });
      }
      return contain;
    },
  },
};
</script>

<style lang="stylus">

</style>
