<template lang="pug">
  thead
    tr
      th(scope="col") Номер
      th(scope="col") Бренд
      th(scope="col") Наличие
      th(scope="col") Склад
      th(scope="col") Доставка
      th(scope="col") Цена
      th(scope="col" style="border-right: 0; min-width: 160px;") В корзину
</template>

<script>
export default {
  name: 'SearchTableHead',
};
</script>

<style lang="stylus">

</style>
