<template lang="pug">
  div.product__table-outer
    table.product__table
      search-table-head
      tbody.product__item
        search-table-row(
          v-for="(itemStore, index) in item.stores"
          :index="index"
          :item="item"
          :cart="cart"
          :key="itemStore.store_guid"
          :enablePhoto="false"
        )
</template>

<script>
import SearchTableHead from '@/components/Tabels/ProductTable/ProductTableHead.vue';
import SearchTableRow from '@/components/Tabels/ProductTable/ProductTableRow.vue';

export default {
  name: 'SearchTable',
  components: { SearchTableRow, SearchTableHead },
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    cart: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="stylus">
.product
  &__table
    width 100%
    text-align left
    border-collapse collapse
    th, td
      font-weight normal
      padding 0.4em 0.7em
      text-align center
    th
      background #adbcc5
      border-left 4px solid #fff
      border-right 4px solid #fff
      color #fff
      &:first-child
        border-left none
    span
      display inline-block
  &__ttl
    background #f4f7f9 !important
    padding 0.4em 0.7em
    font-family 'RussoOne'
    color #243a44
    span
      font-size 1.2em
      padding .5em 0
  &__item
    box-shadow 0 1px 0 0 #adbcc5
    td
      color #243a44
      &:last-child:not(:first-child)
        padding-right 1em
        padding-left 0
    tr:hover td
      .add-to-cart
        &__minus, &__plus, &__icon, &__item-in-cart:after
          opacity 1
          visibility visible
        &__item-in-cart:after
          transform translate(0, 4px)
    .in-cart
      td
        background #d8edde
    .action
      display block
      &--old
        span
          position relative
          &:after
            content ''
            display block
            position absolute
            width 110%
            height 2px
            top 50%
            left 50%
            transform translate(-50%, -50%) rotate(-15deg)
            background #c0324b
      &--new
        color #c0324b
        font-weight bold
  &-item
    &__ttl
      font-size 1.2em
      font-weight 700
      color #243a44
      margin-right .2em
      text-transform uppercase
    &__manufacturer
      font-size .85em
    &__dscr
      color #243a44
    &__img
      border-radius 4px
      margin-left 1em
      vertical-align middle
      opacity .4
      cursor pointer
      &:hover
        opacity 1
      img
        display block
        margin-top -2px
    &__action
      position relative
      height 1em
      img
        display block
        position absolute
        max-width none
        width 2em
        height 2em
        left -1.7em
        top 50%
        transform translateY(-50%)
.add-to-cart
  display flex
  align-items center
  justify-content center
  &__minus, &__plus
    width 0
    height 0
    border .85em solid transparent
    cursor pointer
    opacity 0
    visibility hidden
    transition .2s ease-in-out
  &__minus
    border-right-color #233942
    margin 0 .2em 0 0
  &__plus
    border-left-color #233942
    margin 0 0 0 .2em
  &__qty
    border 1px solid #adbcc5
    text-align center
    line-height 1.4em
    width 3em
  &__icon
    opacity 0
    visibility hidden
    transition .2s ease-in-out
    cursor pointer
    position relative
    img
      margin .5em
  &__item-in-cart
    position absolute
    top 50%
    left 100%
    transform translateY(-50%)
    &:after
      content 'Уже в корзине'
      position absolute
      display block
      width auto
      height 1.5em
      background #f4f7f9
      border 1px solid #243a44
      top calc(100% + .4em)
      right 0
      transform translate(0, 8px)
      white-space nowrap
      padding 0 .6em
      font-size .8em
      line-height 1.5em
      opacity 0
      visibiliti hidden
      transition .3s ease-in-out .2s
</style>
