<template lang="pug">
  tr
    td {{ item.manufacturer }}
    td(style="padding: 0;" v-if="isNaN(Number(item.guid.replace(/-/g, '')))")
      router-link.order__item-link(
        :to="`/search?sku=${item.sku}&brand=${item.manufacturer}`"
      ) {{ item.sku }}
    td(v-else) {{ item.sku }}
    td(style="padding: 0;" v-if="isNaN(Number(item.guid.replace(/-/g, '')))")
      router-link.order__item-link(
        :to="`/search?sku=${item.sku}&brand=${item.manufacturer}`"
      ) {{ item.name }}
    td(v-else) {{ item.name }}
    td {{ item.store_name }}
    td {{ item.qty }}
    td {{ item.price }} р.
    td {{ item.full_price }} р.
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'orderInfoItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>

<style lang="stylus">
.order__item-link
  color inherit
  text-decoration none
  display block
  padding .7em .8em .6em
  &:hover
    text-decoration underline
</style>
