<template lang="pug">
  .orders
    .account__tab
      .order(v-if="!orderNotFound")
        .controls
          .go-back-btn(@click.prevent="$router.back()") Назад
          .account__tab-ttl(v-if="!requestPending") Заказ № {{ parseInt(order.order_num, 10) || ''}}
        .order-info(v-if="!requestPending")
          .order-info__item
            span.order-info__item-ttl Контрагент:
            span.order-info__item-value {{ order.contractor || '' }}
          .order-info__item
            span.order-info__item-ttl Выбранный способ доставки:
            span.order-info__item-value {{ order.delivery ? 'Доставка' : 'Самовывоз' }}
          .order-info__item
            span.order-info__item-ttl Адресс {{ order.delivery ? 'доставки:' : 'самовывоза:'}}
            span.order-info__item-value {{ order.delivery_address || '' }}
        table.orders__table(v-if="!requestPending")
          thead
            tr
              th Бренд
              th Артикул
              th Наименование
              th Склад
              th Кол-во
              th Цена
              th Сумма
          tbody
            order-info-item(
              v-for="item in order.items"
              :key="item.guid"
              :item="item"
            )
        table-preloader(v-else)
      .order__not-found(v-else) Заказ не найден.
</template>

<script>
import OrderInfoItem from '@/components/PersonalAccount/orders/order/orderInfoItem.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'orderPage',
  components: { TablePreloader, OrderInfoItem },
  data() {
    return {
      requestPending: false,
      order: '',
      orderNotFound: false,
    };
  },
  mounted() {
    this.getOrder();
  },
  methods: {
    getOrder() {
      this.requestPending = true;
      this.$http.post(`/order/get/${this.$route.params.orderId}`, {})
        .then((resp) => {
          [this.order] = resp.data;
          this.requestPending = false;
        });
    },
  },
};
</script>

<style lang="stylus">
@import "../../../../assets/stylus/controls.styl"

.order
  &__not-found
    font-size 1.6em
    text-align center
    font-weight bold
    color #be3149
  &-info
    margin-bottom 2em
    &__item
      margin-bottom .5em
      &-value
        margin-left 1em
        color #637c8a
.go-back-btn
  cursor pointer
  position relative
  padding-left 1em
  font-weight bold
  font-size 1.2em
  &:before
    content ''
    position absolute
    left 0
    top calc(50% + 1px)
    width .5em
    height .5em
    border 2px solid #637b8a
    border-top-color transparent
    border-right-color transparent
    transform translate3d(0, -50%, 0) rotate(45deg)
    transform-origin center
    transition .2s ease-in-out
    backface-visibility hidden
  &:hover
    text-decoration underline
    &:before
      transform translate3d(-.1em, -50%, 0) rotate(45deg)
.orders
  &__table
    border-collapse collapse
    width 100%
    text-align center
    th,
    td
      border 4px solid #f4f7f9
      backface-visibility hidden
      border-top none
      border-bottom none
      &:first-child
        border-left none
      &:last-child
        border-right none
      &:first-child
        white-space nowrap
    th
      color #fff
      font-weight normal
      padding .4em .7em
    td
      color #243a44
      padding .7em .8em .6em
      &.orders__table-payment
        color green
        &--attention
          color red
    thead
      th
        background #adbcc5
    tbody
      tr
        &:nth-child(2n)
          background #eaeff2
        &:hover
          background #c4ccd1
          td
            border-color #c4ccd1
    &-attention
      color red
  .orders-search
    display flex
    align-items center
    &__item
      display flex
      align-items center
      margin-left .5em
    &__label
      display flex
      align-items center
      flex-shrink 0
      cursor pointer
    &__input
      line-height 1.6em
      height 1.6em
      display block
      width 10em
      background #fff
      border 1px solid #b0bec7
      margin 0 .4em
      color #5a6e78
      padding 0 0 0 .4em
  .select-dropdown
    margin 0 .5em
    &__current
      margin 0
      width 250px
      background #fff
      height 1.6em
      line-height 1.6em
      &:after
        top 16%
    &__option
      background #fff
</style>
