<template lang="pug">
  li.user
    span.user__name(@click="openUserInfo")
      img(src="../../../assets/images/icon-user-id.png")
      | {{ user.login }}
    ul.user-info
      li.user-info__item
        span.user-info__param-name Логин:
        span.user-info__param {{ user.login }}
      li.user-info__item
        span.user-info__param-name Пароль:
        span.user-info__param ******
      li.user-info__item
        span.user-info__param-name Почта:
        span.user-info__param {{ user.email }}
      li.user-info__item
        span.user-info__param-name Контактное лицо:
        span.user-info__param {{ user.contactPerson }}
      li.user-info__item
        span.user-info__param-name Телефон:
        span.user-info__param {{ user.phone }}
      li.user-info__item
        span.user-info__param-name(style="align-self: flex-start;") Доступные контрагенты:
        span.user-info__param
          ul
            li(v-for="contractor in user.contractors") {{ contractor.name }}
      li.user-info__item
        span.user-info__param-name(style="align-self: flex-start;") Доступные адреса доставки:
        span.user-info__param
          ul
            li(v-for="address in user.addresses") {{ address.name }}
      li.user-info__item
      li.controls
        .form__btn.btn.btn--red(
          @click="$emit('editUserClicked')"
        ) Изменить
        .form__btn.form__btn--grey.btn.btn--red(
          style="padding: 0.8em 1.9em 0.6em; width: auto; margin-left: auto;"
          @click="deleteUser"
        ) Удалить пользователя
</template>

<script>
export default {
  name: 'user',
  props: {
    user: {
      type: Object,
    },
  },
  methods: {
    openUserInfo($event) {
      $event.currentTarget.parentElement.querySelector('.user-info').classList.toggle('user-info--open');
    },
    deleteUser() {
      this.$http.post('/user/del_subuser', {
        guid: this.user.guid,
      })
        .then(() => {
          this.$emit('userDeleted');
        });
    },
  },
};
</script>

<style lang="stylus">
.user
  width 100%
  &:hover &__name
    text-decoration underline
  &__name
    display flex
    align-items center
    padding .6em 0
    cursor pointer
    img
      margin-top .2em
      margin-right .5em
  &-info
    list-style none
    overflow hidden
    height 0
    opacity 0
    visibility hidden
    background-color #e5ebef
    padding 0
    &__input
      .form__input
        margin 0 0 0 1em
    &__item
      margin 0 0 1em 0
      display flex
      align-items center
      justify-content flex-start
    &--open
      padding 2em
      height auto
      opacity 1
      visibility visible
    &__param-name
      color #adbdc5
    &__param
      color #243a44
      margin-left .6em
      ul
        list-style none
        padding 0
        margin 0
        li
          margin-bottom .5em
</style>
