<template lang="pug">
  .account__tab
    .user-params__outer
      span.ttl Информация о пользователе
      ul.user-params
        li(
          v-for="user in userInfoWithLocate"
          v-if="user.value && user.name !== 'MainManager' && user.name !== 'AccountManager'"
        )
          span.user-params__param {{ user.name }}:
          span.user-params__param-value {{ user.value || 'Нет данных' }}
    personal-account-loyalty
</template>

<script>
import PersonalAccountLoyalty
  from '@/components/PersonalAccount/info/personalAccountLoyalty/personalAccountLoyalty.vue';

export default {
  name: 'info',
  components: { PersonalAccountLoyalty },
  data() {
    return {
      userInfo: {},
    };
  },
  mounted() {
    this.getInfo();
  },
  methods: {
    getInfo() {
      this.$http.post('/user/get_info', {})
        .then((resp) => {
          this.userInfo = resp.data;
        })
        .catch(err => err);
    },
  },
  computed: {
    userInfoWithLocate() {
      const arrOfUsers = [];
      Object.keys(this.userInfo).forEach((key) => {
        let shadowKey = key;
        switch (shadowKey) {
          case 'address':
            shadowKey = 'Адрес';
            break;
          case 'phone':
            shadowKey = 'Телефон';
            break;
          case 'contactPerson':
            shadowKey = 'Контактное лицо';
            break;
          case 'organizationForm':
            shadowKey = 'Форма организации';
            break;
          case 'organizationName':
            shadowKey = 'Название организации';
            break;
          case 'typeOfBusiness':
            shadowKey = 'Сфера деятельности';
            break;
          case 'specialization':
            shadowKey = 'Специализация';
            break;
          case 'kpp':
            shadowKey = 'КПП';
            break;
          case 'manager':
            shadowKey = 'Ваш менеджер';
            break;
          case 'manager_tel':
            shadowKey = 'Телефон вашего менеджера';
            break;
          case 'manager_mail':
            shadowKey = 'Почта вашего менеджера';
            break;
          case 'ogrn':
            shadowKey = 'ОГРН';
            break;
          case 'okved':
            shadowKey = 'ОКВЕД';
            break;
          case 'inn':
            shadowKey = 'ИНН';
            break;
          case 'okpo':
            shadowKey = 'ОКПО';
            break;
          case 'apikey':
            shadowKey = 'api-key';
            break;
          default:
            return;
        }
        arrOfUsers.push({
          name: shadowKey,
          value: this.userInfo[key],
        });
      });
      return arrOfUsers;
    },
  },
};
</script>

<style lang="stylus" scoped>
.account__tab
  flex-grow 1
  display flex
  justify-content space-between
.user-params
  display block
  list-style none
  margin 1rem auto 0
  padding 0
  font-size 1.13em
  &__outer
    width 49%
  &__param
    display inline-block
    margin-right .5em
    color #adbdc5
    margin-bottom .4em
  &__param-value
    display inline-block
    color #243a44
</style>
