<template lang="pug">
  nav.account-nav
    router-link.account-nav__item(
      to="/personal-account/info"
      active-class="account-nav__item--active"
    ) О клиенте
    router-link.account-nav__item(
      v-if="$store.state.user.userRole !== 'user'"
      to="/personal-account/users"
      active-class="account-nav__item--active"
    ) Структура клиента
    router-link.account-nav__item(
      to="/personal-account/orders"
      active-class="account-nav__item--active"
    ) Заказы
    router-link.account-nav__item(to="/personal-account/messages"
      active-class="account-nav__item--active"
    ) Сообщения
    template(v-if="!$store.state.user.person")
      router-link(to="/personal-account/integration"
        active-class="account-nav__item--active"
      ).account-nav__item Интеграция
      router-link(to="/personal-account/responsible-storage"
        active-class="account-nav__item--active"
      ).account-nav__item Ответственное хранение
      router-link(to="/personal-account/refund"
        active-class="account-nav__item--active"
      ).account-nav__item Возврат
</template>

<script>
export default {
  name: 'personalAccountNav',
};
</script>

<style lang="stylus">
.account-nav
  width 100%
  display flex
  align-items flex-start
  justify-content flex-start
  margin-top 2em
  &__item
    flex-grow 1
    padding .6em 0
    text-align center
    font-size 1.06em
    color #637b8a
    &--active
      background #f4f7f9
      text-decoration none
</style>
