<template lang="pug">
  .account__tab
    ul.users
      user-item(
        v-for="user in usersList"
        :user="user"
        :key="user.login"
        @userDeleted="getSubUsers"
        @editUserClicked="showEditUserPopUp(user)"
      )
      li.user-add
        span.user__name(@click="showAddNewUser = true")
          img(src="../../assets/images/icon-add.png")
          | Добавить пользователя
    info-pop-up(
      v-if="showInfoPopup"
      @closePopUps="showInfoPopup = false"
      :title="titleForInfoPopUp"
      :message="messageForInfoPopUp"
    )
    add-new-user-pop-up(
      v-if="showAddNewUser"
      :contractors="contractorInfo"
      :addresses="addressesList"
      :requestPending="requestPending"
      @addUser="addNewUser"
      @closePopUps="showAddNewUser = false"
    )
    edit-user-pop-up(
      v-if="showEditUser"
      :contractors="contractorInfo"
      :addresses="addressesList"
      :requestPending="requestPending"
      @editUser="editUser"
      @closePopUps="showEditUser = false"
      :user="userForEdit"
    )
</template>

<script>
import AddNewUserPopUp from '@/components/popups/addNewUserPopUp.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';
import UserItem from '@/components/PersonalAccount/users/userItem.vue';
import EditUserPopUp from '@/components/popups/editUserPopUp.vue';

export default {
  name: 'user',
  components: {
    EditUserPopUp, InfoPopUp, AddNewUserPopUp, UserItem,
  },
  data() {
    return {
      showInfoPopup: false,
      showEditUser: false,
      usersList: [],
      contractorInfo: [],
      addressesList: [],
      showAddNewUser: false,
      requestPending: false,
      userForEdit: {},
      messageForInfoPopUp: '',
      titleForInfoPopUp: '',
    };
  },
  mounted() {
    this.getSubUsers();
    this.getAddressesList();
    this.getContractorsList();
  },
  methods: {
    markAsChecked($event) {
      $event.currentTarget.parentElement.classList.toggle('form__checkbox-label--checked');
    },
    getSubUsers() {
      this.$http.post('/user/list_subuser', {})
        .then((resp) => {
          this.usersList = resp.data;
        })
        .catch(err => err);
    },
    getAddressesList() {
      this.$http.post('/user/addresses', {})
        .then((resp) => {
          this.addressesList = resp.data;
        })
        .catch(err => err);
    },
    getContractorsList() {
      this.$http.post('/user/get_contractor', {})
        .then((resp) => {
          this.contractorInfo = resp.data;
        })
        .catch(err => err);
    },
    addNewUser(params) {
      this.requestPending = true;
      this.$http.post('/user/add_subuser', params)
        .then(() => {
          this.showAddNewUser = false;
          this.requestPending = false;
          this.showInfoPopup = true;
          this.getSubUsers();
          this.titleForInfoPopUp = 'Пользователь создан';
          this.messageForInfoPopUp =
            'Просмотреть, изменить или удалить пользователя можно в разделе структура клиента';
        })
        .catch((err) => {
          this.requestPending = false;
          return err;
        });
    },
    showEditUserPopUp(user) {
      this.showEditUser = true;
      this.userForEdit = user;
    },
    editUser(params) {
      this.requestPending = true;
      this.$http.post('/user/edit_subuser', params)
        .then(() => {
          this.showEditUser = false;
          this.requestPending = false;
          this.showInfoPopup = true;
          this.getSubUsers();
          this.titleForInfoPopUp = 'Пользователь изменен';
          this.messageForInfoPopUp =
            'Изменения уже вступили в силу! Проверьте в списке пользователей';
        })
        .catch((err) => {
          this.requestPending = false;
          return err;
        });
    },
  },
};
</script>

<style lang="stylus">
@import "../../assets/stylus/controls.styl"
.users
  list-style none
  margin 0
  padding 0 0 0 .5em
</style>
