<template lang="pug">
  .additional-panel-selector(@click.stop v-if="addresses.length > 1")
    .additional-panel-selector__inner(@click="showOptions = !showOptions")
      .additional-panel-selector__current
        span Адресс {{ selectedAddress.store || selectedAddress.point ? 'самовывоза' : 'доставки' }}:&nbsp;&nbsp;
        span(
          v-if="selectedAddress.name"
        ) {{ selectedAddress.name.slice(0, 50) }}{{ selectedAddress.name.length > 49 && '...'}}
      .additional-panel-selector__options(:class="{'additional-panel-selector__options--visible': showOptions}")
        .additional-panel-selector__option(
          v-for="address in addresses"
          @click="selectAddress(address)"
          :class="{'additional-panel-selector__option--current': selectedAddress.guid === address.guid}"
        )
          span {{ address.name }}
</template>

<script>
import addressesApi from '@/api/addresses.js';
import { NEW_SELECT_ADDRESS } from '@/store/actions/newUser.js';

export default {
  name: 'headerAddressSelector',
  data() {
    return {
      addresses: [],
      showOptions: false,
    };
  },
  computed: {
    selectedAddress() {
      return this.$store.state.newUser.currentAddress;
    },
  },
  async created() {
    document.body.addEventListener('click', this.documentClickListener);
    const resp = await addressesApi.get();
    this.addresses = resp.data;
  },
  beforeDestroy() {
    document.body.removeEventListener('click', this.documentClickListener);
  },
  methods: {
    documentClickListener() {
      this.showOptions = false;
    },
    selectAddress(address) {
      this.$store.commit(NEW_SELECT_ADDRESS, address);
    },
  },
};
</script>

<style lang="stylus">
.additional-panel-selector
  color #fff
  margin-left auto
  position relative
  display flex
  z-index 20
  &__current
    cursor pointer
    padding-right 1.4rem
    position relative
    &:after
      content ''
      display block
      position absolute
      right .2rem
      top calc(50% - .1rem)
      border .4rem solid transparent
      border-top-color #fff
    span:first-child
      opacity .6
  &__options
    position absolute
    right 0
    top calc(100% + .5rem)
    background #fff
    z-index 10
    text-align right
    min-width 100%
    padding .3rem 0
    opacity 0
    visibility hidden
    transition .3s ease-in-out
    box-shadow 0 0 3px 3px rgba(0,0,0,.1)
    &--visible
      opacity 1
      visibility visible
  &__option
    color #243a44
    cursor pointer
    padding .4rem 1.4rem
    display flex
    span
      width 600px
    &--current
      background #adbcc5
    &:hover
      color #fff
      background #adbcc5
</style>
