<template lang="pug">
  header.header
    //.header__inner(style="padding-bottom: 0")
      header-top-panel(v-if="!!$store.getters.isAuthenticated")
    .header__inner(style="padding-bottom: 0")
      router-link(to="/").logo.header__logo
        img(src='../../assets/images/logo-small.png')
      template(v-if="!!$store.getters.isAuthenticated")
        router-link(to="/catalog").btn.btn--red
          img(src="@/assets/images/ic-catalog.svg")
          span Каталог
        search-bar(
          v-if="!!$store.getters.isAuthenticated"
          :class="[$store.getters.isAuthenticated ? 'block' : 'hidden']"
        )
        control-panel(
          v-if="!!$store.getters.isAuthenticated"
          :class="[$store.getters.isAuthenticated ? 'flex' : 'hidden']"
        )
    .header__inner(
      style="padding-top: 0"
      v-if="!!$store.getters.isAuthenticated"
    )
      additional-panel
</template>

<script>
import { GET_BASKET_SMALL } from '@/store/actions/basket';
import searchBar from '@/components/Header/searchBar/searchBar.vue';
import ControlPanel from '@/components/Header/controlPanel/controlPanel.vue';
import AdditionalPanel from '@/components/Header/AdditionalPanel/AdditionalPanel.vue';
import HeaderTopPanel from '@/components/Header/headerTopPanel/headerTopPanel.vue';

export default {
  name: 'Header',
  components: {
    HeaderTopPanel,
    AdditionalPanel,
    ControlPanel,
    searchBar,
  },
  // refresh basket, after success login page
  beforeRouteLeave() {
    this.$store.dispatch(GET_BASKET_SMALL);
  },
  computed: {
    contractorAndAddressSelected() {
      return this.$store.getters.getSelectedContractor.guid &&
        this.$store.getters.getSelectedAddress.guid;
    },
  },
};
</script>

<style lang="stylus">
@import '../../assets/stylus/mixins'
@import '~normalize.css'
@import '../../assets/stylus/fonts.styl'
@import '../../assets/stylus/main-layout.styl'
@import '../../assets/stylus/variabels.styl'
@import '../../assets/stylus/elements.styl'
@import '../../assets/stylus/table.styl'
@import '../../assets/stylus/controls.styl'

.header
  width 100%
  height auto
  background headerFooter
  .btn
    flex-shrink 0
    display flex
    align-items center
    padding .5em 1.2em
    margin-right 1em
    span
      margin-left 1rem
  &__inner
    display flex
    align-items center
    padding .5em 2em
    margin 0 auto
    position relative
    max-width 1900px
  &__row
    width 100%
    display flex
    align-items center
    padding .5em 2em
    background #fff
    max-width 1900px
    a
      color #f00
      font-size 1.3em
    p
      margin 0
      padding 0 1em 0 0
      color rgb(36, 58, 68)
      font-size 1.3em
  &__logo
    flex-shrink 0
    margin-right 2em
    width 65px
    img
      display block
  &__dots
    display flex
    align-items flex-start
    margin 0 1em
    flex-direction column
    width 3em
    cursor pointer
  &__dot
    width 6px
    height 6px
    background #dbe3e7
    border-radius 5px
    margin .1em 0
    position relative
    &:after
      content ''
      display block
      position absolute
      left calc(100% + .4em)
      top 50%
      width 1.5em
      height 30%
      background #dbe3e7
      transform translate(0, -50%)
      border-radius 5px
.flex
  display flex
.block
  display block
</style>
