<template lang="pug">
  div
    h4.form__sub-ttl Выберит е контрагента под которым будете работать
    .form__row
      label(for="contractor").form__label Контрагент:
      .form__select-outer
        input(v-model="selectedContractor")#contractor.form__select
        .form__select-current(@click="toggleDropdownAction($event.target.nextSibling)")
          | Контрагент
        .form__select-dropdown.form__select-dropdown--hidden
          .form__select-item(
            v-for='(contractor, index) in contractorInfo'
            :value="contractor.guid"
            @click="itemSelectAction(index, $event)," +
                   "toggleDropdownAction($event.target.parentNode)," +
                   "selectedContractor = contractor.guid," +
                   "$emit('selectContractor', selectedContractor)"
                   )
            | {{ contractor.name }}
    template(v-if="selectedContractor")
      h4.form__sub-ttl Выберите адрес доставки
      .form__row
        label(for="contractor").form__label Адрес доставки:
        .form__select-outer
          input(v-model="selectedAddress")#address.form__select
          .form__select-current(@click="toggleDropdownAction($event.target.nextSibling)")
            | Адрес доставки
          .form__select-dropdown.form__select-dropdown--hidden
            template(v-for='(contractor, index) in contractorInfo'
                     v-if="contractor.guid === selectedContractor"
             )
              .form__select-item(
                v-for='(address, index) in contractor.address'
                v-if="contractor.address"
                :value="address.guid"
                @click="itemSelectAction(index, $event)," +
                       "toggleDropdownAction($event.target.parentNode)," +
                       "selectedAddress = address.guid," +
                       "$emit('selectAddress', selectedAddress)"
                )
                | {{ address.name }}
</template>

<script>
import { toggleDropdown, itemSelect } from '@/utils/utils';

export default {
  name: 'contractorSelect',
  data() {
    return {
      contractorInfo: '',
      selectedContractor: '',
      selectedAddress: '',
    };
  },
  mounted() {
    this.$http.post('/user/get_contractor', {})
      .then((resp) => {
        this.contractorInfo = resp.data;
      })
      .catch(err => err);
  },
  methods: {
    toggleDropdownAction(elem) {
      toggleDropdown(elem);
    },
    itemSelectAction(index, event) {
      itemSelect(index, event);
    },
  },
};
</script>
