<template lang="pug">
  .form__row
    input(
      type="text"
      v-model="email"
      @input="emailAvailabilityCheck($event), emailInput()"
      placeholder="Электронная почта"
    ).form__input
    .form__error(v-if="!!emailAvailability")
      span Почта занята
</template>

<script>
import { checkEmailAvailability } from '@/api/registration';

export default {
  name: 'emailAvailability',
  props: {
    initValue: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      email: '',
      emailAvailability: '',
      timer: null,
    };
  },
  mounted() {
    if (this.initValue) {
      this.email = this.initValue;
    }
  },
  methods: {
    // check availability email
    emailAvailabilityCheck(event) {
      if (this.initValue !== this.email) {
        if (this.email.length) {
          clearTimeout(this.timer);
          this.timer = setTimeout(() => {
            checkEmailAvailability({ email: event.target.value })
              .then((resp) => {
                this.emailAvailability = resp.data.result;
                if (this.emailAvailability) {
                  this.$emit('notAvailable');
                } else {
                  this.$emit('available');
                }
              });
          }, 500);
        } else {
          this.emailAvailability = false;
        }
      } else {
        clearTimeout(this.timer);
        this.emailAvailability = false;
        this.$emit('available');
      }
    },
    emailInput() {
      this.$emit('input', this.email);
    },
  },
};
</script>
