<template lang="pug">
  .form__row
    input(type="text"
          v-model="login"
          @input="nameAvailabilityCheck($event), loginInput()"
          placeholder="Имя пользователя"
    ).form__input
    .form__error(v-if="!!nameAvailability")
      span Имя занято
</template>

<script>
import { checkNameAvailability } from '@/api/registration';

export default {
  name: 'nameAvailability',
  props: {
    initValue: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      login: '',
      nameAvailability: '',
      timer: null,
    };
  },
  mounted() {
    if (this.initValue) {
      this.login = this.initValue;
    }
  },
  methods: {
    // check availability name
    nameAvailabilityCheck(event) {
      this.login = this.login.replace(/\s+/g, '');
      if (this.initValue !== this.login) {
        if (this.login.length) {
          clearTimeout(this.timer);
          this.timer = setTimeout(() => {
            checkNameAvailability({ login: event.target.value })
              .then((resp) => {
                this.nameAvailability = resp.data.result;
                if (this.nameAvailability) {
                  this.$emit('notAvailable');
                } else {
                  this.$emit('available');
                }
              });
          }, 500);
        } else {
          this.nameAvailability = false;
        }
      } else {
        clearTimeout(this.timer);
        this.nameAvailability = false;
        this.$emit('available');
      }
    },
    loginInput() {
      this.$emit('input', this.login);
    },
  },
};
</script>
