<template lang="pug">
  .account__tab
    template(
      v-if="requestPending"
    )
      table-preloader
    template(
      v-else
    )
      p <b>API-KEY:&nbsp;&nbsp;</b> {{ apiKey }}
      p Инструкция по интеграции <b>API:&nbsp;&nbsp;</b>
        a.download-link(href="/documents/Автотехника API.docx" download) Скачать .docx
          img(style="width: 1em" src="../../../assets/images/icon-download.png")
      p Инструкция по интеграции <b>QWEP:&nbsp;&nbsp;</b>
        a.download-link(href="/documents/Инструкция_по_авторизации_в_QWEP.docx" download) Скачать .docx
          img(style="width: 1em" src="../../../assets/images/icon-download.png")
</template>

<script>
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'integration',
  components: { TablePreloader },
  data() {
    return {
      apiKey: '',
      requestPending: false,
    };
  },
  mounted() {
    this.getApiKey();
  },
  methods: {
    async getApiKey() {
      try {
        this.requestPending = true;
        const resp = await this.$http.post('/api-key', {});
        this.apiKey = resp.data;
        this.requestPending = false;
      } catch (e) {
        this.requestPending = false;
        console.log(e);
      }
    },
  },
};
</script>

<style lang="stylus">
.download-link
  color #243a44
  text-decoration none
  &:hover
    text-decoration underline
  img
    vertical-align middle
    margin-left .4em
</style>
