<template lang="pug">
  .catalog-tree
    .catalog-tree__inner
      .catalog-tree__header
        .catalog-tree__ttl {{ treeTitle }}
      catalog-tree-item(
        v-for="item in tree"
        :key="item.guid"
        :item="item"
        :pagesPath="pagesPath"
        @showChildren="setCatalogItemsListTitle"
      )
</template>

<script>
import CatalogTreeItem from '@/components/CatalogTree/CatalogTreeItem.vue';

export default {
  name: 'CatalogTree',
  components: { CatalogTreeItem },
  props: {
    tree: {
      type: Array,
      default() {
        return [];
      },
    },
    treeTitle: {
      type: String,
      default: '',
    },
    pagesPath: {
      type: String,
      default: '',
    },
  },
  methods: {
    setCatalogItemsListTitle($event) {
      this.$emit('setCatalogItemsListTitle', $event);
    },
  },
};
</script>

<style lang="stylus">
.catalog-tree
  width 18%
  margin-left 1em
  @media screen and (max-width 1400px)
    width 33%
  &__inner
    max-width 100%
  &__header
    border-bottom 2px solid #e2e5e6
    padding-bottom 1em
    margin-bottom 1em
  &__ttl
    color #5a6e78
    font-size 1.4em
    font-family 'RussoOne'
</style>
