<template lang="pug">
  .catalog-tree-item(
    :class="{'catalog-tree-item--parent': item.children.length}"
  )
    .catalog-tree-item__name(
      @click="itemClickAction"
    )
      span {{ item.name }}
    .catalog-tree-item__children(
      v-show="showChildren"
    )
      catalog-tree-item(
        v-for="children in item.children"
        :key="children.guid"
        :item="children"
        :pagesPath="pagesPath"
        @showChildren="showChildrenEmit"
      )
</template>

<script>
export default {
  name: 'CatalogTreeItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    pagesPath: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      showChildren: false,
    };
  },
  watch: {
    '$route.params.guid': function () {
      this.showChildren = false;
      if (this.$route.params.guid === this.item.guid) {
        this.$emit('showChildren', this.item.name);
        this.showChildren = true;
      }
    },
  },
  mounted() {
    if (this.$route.params.guid === this.item.guid) {
      this.$emit('showChildren', this.item.name);
      this.showChildren = true;
    }
  },
  methods: {
    itemClickAction() {
      this.showChildren = !this.showChildren;
      this.$router.push(`${this.pagesPath}/${this.item.guid}`);
    },
    showChildrenEmit($event) {
      this.$emit('showChildren', $event);
      this.showChildren = true;
    },
  },
};
</script>

<style lang="stylus">
.catalog-tree-item
  cursor pointer
  span
    padding .5em 0
    border-bottom 1px solid #c9cbcc
    display block
  &--parent
    position relative
    & > ^[0]__name:after
      content ''
      display block
      position absolute
      right 1em
      top 1.2em
      height 0
      width 0
      border 8px solid transparent
      border-top-color #5a6e78
  &__children
    span
      padding .5em 0 .5em 1.2em
</style>
