<template lang="pug">
  div.notifications
    notifications-item(
      v-if="!requestPending"
      v-for="notification in notifications"
      :key="notification.guid"
      :item="notification"
      @messageRead="markNotificationAsRead"
    )
    table-preloader(v-else)
    span.notifications__message-missing(v-if="message") {{ message }}
</template>

<script>
import NotificationsItem from
  '@/components/PersonalAccount/messages/notifications/notificationsItem.vue';
import { getNotificationApi } from '@/api/messages';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'index',
  components: { TablePreloader, NotificationsItem },
  data() {
    return {
      notifications: [],
      requestPending: false,
      message: '',
    };
  },
  mounted() {
    this.getNotifications();
  },
  methods: {
    markNotificationAsRead(guid) {
      this.notifications.forEach((item) => {
        if (item.guid === guid) {
          item.read = true;
        }
      });
    },
    getNotifications() {
      this.requestPending = true;
      getNotificationApi()
        .then((resp) => {
          this.notifications = resp.data;
          this.requestPending = false;
          if (!this.notifications.length) {
            this.message = 'Нет оповещений';
          } else {
            this.message = '';
          }
        })
        .catch((err) => {
          this.requestPending = false;
          return err;
        });
    },
  },
};
</script>

<style lang="stylus">
.notifications
  width 100%
  &__message-missing
    display block
    width 100%
    text-align left
    margin 1em 0
    font-size 1.2em
</style>
