<template lang="pug">
  .notification(@click="showNotificationBody")
    .notification__staus
    .notification__title(
      :class="{'notification__title--not-read': !item.read}"
    ) {{ item.title }}
    .notification__message {{ item.message }}
    .notification__date {{ $moment(item.date).format('DD.MM.YYYY HH:mm') }}
    .notification__show-icon
    .notification__body(v-html="item.message.replace(/\\n/g, '<br />')")
</template>

<script>
import { setNotificationAsReadApi } from '@/api/messages';
import { CHECK_NEW_MESSAGES } from '@/store/actions/messages';

export default {
  name: 'notificationsItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    showNotificationBody($event) {
      $event.currentTarget.classList.toggle('notification--active');
      if (!this.item.read) {
        setNotificationAsReadApi(this.item.guid)
          .then(() => {
            this.$emit('messageRead', this.item.guid);
            this.$store.dispatch(CHECK_NEW_MESSAGES);
          });
      }
    },
  },
};
</script>

<style lang="stylus">
.notification
  display flex
  align-items center
  width 100%
  padding .5em 0
  border-bottom 1px solid #f0f4f5
  cursor pointer
  flex-wrap wrap
  &:hover
    box-shadow 0 2px 2px rgba(0,0,0,.2)
  &__title
    white-space nowrap
    width 15%
    min-width 150px
    text-overflow ellipsis
    overflow hidden
    padding 0 .5em
    &--not-read
      font-weight bold
  &__message
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    flex-basis 0
    flex-grow 1
    flex-shrink 1
    text-align left
    padding 0 .5em
  &__date
    margin-left auto
    padding 0 .5em
  &__body
    padding 0
    height 0
    overflow hidden
    width 100%
  &--active
    box-shadow 0 2px 2px rgba(0,0,0,.2)
    & ^[0]__title
      width auto
    & ^[0]__message
      opacity 0
      width 0
      display none
      white-space: pre-wrap;
      word-wrap: break-word;
    & ^[0]__body
      padding 1em
      height auto
</style>
