<template lang="pug">
  footer.footer
    #man(v-if="showNikolas")
      #eye-l
      #eye-r
      #nose
      #mouth
    .footer__inner
      .footer__copy {{ new Date().getFullYear() }} &copy; ООО “Автотехника”
      footer-menu
</template>

<script>
import FooterMenu from '@/components/footer/FooterMenu.vue';

export default {
  name: 'Footer',
  components: { FooterMenu },
  data() {
    return {
      showNikolas: false,
    };
  },
  mounted() {
    setTimeout(() => {
      this.showNikolas = true;
      setTimeout(() => {
        this.showNikolas = false;
      }, 10000);
    }, 600000);
  },
};
</script>

<style lang="stylus">
@import '../../assets/stylus/variabels.styl'

#eye-l, #eye-r {
  position:absolute;
  z-index: 20;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255,255,255);
  margin-top:5px;
  left: 5px;
  margin-left: -5px;
  animation: search 2.3s infinite;
  -o-animation: search 2.3s infinite;
  -ms-animation: search 2.3s infinite;
  -webkit-animation: search 2.3s infinite;
  -moz-animation: search 2.3s infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 3px solid rgb(192,50,75);
}

#eye-r {
  margin-left: 5px;
}

#nose {
  position:relative;
  width: 15px;
  height: 15px;
  border: 3px solid rgb(192,50,75);
  border-radius: 50%;
  border-top-color: transparent;
  background: rgb(255,255,255);
  top:12px;
  left:-7px;
  transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  animation: noser 2.3s infinite;
  -o-animation: noser 2.3s infinite;
  -ms-animation: noser 2.3s infinite;
  -webkit-animation: noser 2.3s infinite;
  -moz-animation: noser 2.3s infinite;
}

#mouth{
  position:relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(192,50,75);
  margin-top:19px;
  float:left;
  margin-left: 3px;
  animation: search 2.3s infinite;
  -o-animation: search 2.3s infinite;
  -ms-animation: search 2.3s infinite;
  -webkit-animation: search 2.3s infinite;
  -moz-animation: search 2.3s infinite;
}

#man {
  position:absolute;
  width: 49px;
  height: 68px;
  border: 5px solid rgb(192,50,76);
  border-radius: 50%;
  left: 90%;
  bottom: 100%;
  animation: pop 9.2s infinite;
  -o-animation: pop 9.2s infinite;
  -ms-animation: pop 9.2s infinite;
  -webkit-animation: pop 9.2s infinite;
  -moz-animation: pop 9.2s infinite;
  z-index: -1;
}

@keyframes search {
  0%, 100% { transform:translate(0px, 0px);}
  50% {transform:translate(31px, 0px);}
}

@-o-keyframes search {
  0%, 100% { -o-transform:translate(0px, 0px);}
  50% {-o-transform:translate(31px, 0px);}
}

@-ms-keyframes search {
  0%, 100% { -ms-transform:translate(0px, 0px);}
  50% {-ms-transform:translate(31px, 0px);}
}

@-webkit-keyframes search {
  0%, 100% { -webkit-transform:translate(0px, 0px);}
  50% {-webkit-transform:translate(31px, 0px);}
}

@-moz-keyframes search {
  0%, 100% { -moz-transform:translate(0px, 0px);}
  50% {-moz-transform:translate(31px, 0px);}
}

@keyframes noser {
  0%, 100% { transform:translate(0px, 0px) rotate(35deg);}
  50% {transform:translate(42px, 0px) rotate(-35deg);}
}

@-o-keyframes noser {
  0%, 100% { -o-transform:translate(0px, 0px) rotate(35deg);}
  50% {-o-transform:translate(42px, 0px) rotate(-35deg);}
}

@-ms-keyframes noser {
  0%, 100% { -ms-transform:translate(0px, 0px) rotate(35deg);}
  50% {-ms-transform:translate(42px, 0px) rotate(-35deg);}
}

@-webkit-keyframes noser {
  0%, 100% { -webkit-transform:translate(0px, 0px) rotate(35deg);}
  50% {-webkit-transform:translate(42px, 0px) rotate(-35deg);}
}

@-moz-keyframes noser {
  0%, 100% { -moz-transform:translate(0px, 0px) rotate(35deg);}
  50% {-moz-transform:translate(42px, 0px) rotate(-35deg);}
}

@keyframes pop {
  0%, 100% { transform:translate(0px, 78px)}
  20%, 80% { transform:translate(0px, 10px)}
}

@-o-keyframes pop {
  0%, 100% { -o-transform:translate(0px, 78px)}
  20%, 80% { -o-transform:translate(0px, 10px)}
}

@-ms-keyframes pop {
  0%, 100% { -ms-transform:translate(0px, 78px)}
  20%, 80% { -ms-transform:translate(0px, 10px)}
}

@-webkit-keyframes pop {
  0%, 100% { -webkit-transform:translate(0px, 78px)}
  20%, 80% { -webkit-transform:translate(0px, 10px)}
}

@-moz-keyframes pop {
  0%, 100% { -moz-transform:translate(0px, 78px)}
  20%, 80% { -moz-transform:translate(0px, 10px)}
}
.footer
  background headerFooter
  width 100%
  position fixed
  bottom 0
  left 0
  z-index 10
  &__inner
    width 100%
    padding 1.5em 2em
    display flex
    align-items center
    background linear-gradient(to right,rgba(255,255,255,0) 70%,rgba(255,255,255,.3) 88%,rgba(255,255,255,.3) 94%,rgba(255,255,255,0) 100%), headerFooter
  &__copy
    color #fff
  &-nav
    display flex
    align-items center
    margin 0 0 0 auto
    &__link
      color #fff
      padding 0 1em
      position relative
      text-decoration none
      &:not(:last-child)
        &:after
          content ''
          display block
          position absolute
          width 1px
          height 1.4em
          left 100%
          top 0
          background rgba(225,225,225,.6)
      &:hover
        text-decoration underline
  &__phone
    display flex
    flex-direction column
    font-size 1.5em
    color #fff
    font-family 'RussoOne'
    text-transform uppercase
    text-decoration none
    margin 0 1.5em -5px auto
    transition .2s linear
    border-bottom 2px solid transparent
    span
      font-size .5em
      color #778994
      transition .2s linear
    &:hover
      border-bottom-color #fff
      span
        color #fff
        text-decoration none
</style>
