<template lang="pug">
  router-link.footer-nav__link(
    :to="item.link"
  ) {{ item.name }}
</template>

<script>
export default {
  name: 'FooterMenuItem',
  props: {
    item: {
      type: Object,
      default() {
        return {
          name: '',
          link: '',
        };
      },
    },
  },
};
</script>

<style lang="stylus">

</style>
