<template lang="pug">
  nav.footer-nav
    footer-menu-item(
      v-for="item in menuItems"
      :item="item"
      :key="item.name"
    )
</template>

<script>
import FooterMenuItem from '@/components/footer/FooterMenuItem.vue';

export default {
  name: 'FooterMenu',
  components: { FooterMenuItem },
  data() {
    return {
      menuItems: [
        {
          name: 'Политика конфиденциальности',
          link: '/privacy-policy',
        },
        {
          name: 'Контакты',
          link: '/contacts',
        },
        {
          name: 'Доставка и оплата',
          link: '/payment-and-delivery',
        },
        {
          name: 'Гарантия',
          link: '/warranty',
        },
      ],
    };
  },
};
</script>

<style lang="stylus">

</style>
