<template lang="pug">
  tr.order
    td {{ orderDate || '-'}}
    td.order__num
      router-link(:to="`orders/${order.guid}`").order__num-link {{ order.num || '-' }}
    td.order__num
      table-cell-preloader(v-if="orderGetUpdPending")
      span.order__num-link(v-else-if="!updLink" @click="getUpd") {{ order.invoice }}
        img(src="../../../../assets/images/icon-download.png" v-if="order.invoice")
      a.order__num-link(
        v-else
        :href="updLink"
        target="_blank"
        download
      ) Скачать
    td {{ order.status || '-' }}
    td {{ formatMoney(order.sum) || '0' }} р.
    td.orders__table-payment(
      :class="{'orders__table-payment--attention': dateIsPastDue}"
    ) {{ paymentDate || '-' }}
      span.btn.btn--red(
        style="margin-left: 1em"
        @click="makeOnlinePayment"
        v-if="paymentDate && order.internet_payment && !order.paid"
        ) Оплатить
    td {{ formatMoney(order.payment_received) || '0'}} р.
</template>

<script>
import { formatMoney } from '@/utils/utils';
import TableCellPreloader from '@/components/preLoaders/tableCellPreloader.vue';

export default {
  name: 'orderTableRow',
  components: { TableCellPreloader },
  props: {
    order: {
      type: Object,
    },
    paymentInfo: {
      type: Object,
    },
  },
  data() {
    return {
      orderGetUpdPending: false,
      updLink: '',
    };
  },
  computed: {
    orderDate() {
      return this.$moment(this.order.date).format('DD.MM.YYYY');
    },
    paymentDate() {
      return this.$moment(this.order.date).add(this.paymentInfo.delay, 'days').format('DD.MM.YYYY');
    },
    paidInFull() {
      return (this.order.sum - (this.order.payment_received || 0)) > 0;
    },
    dateIsPastDue() {
      return this.$moment() > this.$moment(this.order.date).add(this.paymentInfo.delay, 'days') &&
        this.paidInFull;
    },
  },
  async created() {
    if (this.order.internet_payment && !this.order.paid) {
      const resp = await this.checkPayment();
      console.log(resp);
    }
  },
  methods: {
    async checkPayment() {
      try {
        const resp = await this.$http.post('/order/paymentcheck', { guid: this.order.guid });
        console.log(resp);
      } catch (e) {
        console.log(e);
      }
    },
    makeOnlinePayment() {
      this.$http.post('/order/pay', {
        guid: this.order.guid,
      })
        .then((resp) => {
          console.log(resp);
          if (resp.data.formUrl) {
            window.location.href = resp.data.formUrl;
          }
        });
    },
    async getUpd() {
      try {
        this.orderGetUpdPending = true;
        const resp = await this.$http.post('/pdf/upd', { guid: this.order.guid });
        this.updLink = resp.data[0].url;
        this.orderGetUpdPending = false;
      } catch (e) {
        this.orderGetUpdPending = false;
        console.log(e);
      }
    },
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>

<style lang="stylus">
.orders__table
  .order
    &__num
      padding 0
      font-weight bold
      &-link
        text-decoration none
        color inherit
        display block
        &:hover
          text-decoration underline
        img
          width 1em
          margin-left .5em
          vertical-align middle
          margin-top -.2em
</style>
