<template lang="pug">
  .orders
    .account__tab
      user-payment-statuses(
        :paymentInfo="paymentInfo"
      )
      .controls
        date-control(
          @setDateFrom="setDateFrom"
          @setDateTo="setDateTo"
        )
        .orders-search
          .orders-search__item
            label.orders-search__label Номер заказа:
              input.orders-search__input(
              v-model="searchByOrderNum"
            )
        label.form__checkbox-label(style="margin-left: 1em;")
          input.form__checkbox(
            type="checkbox"
            name="availableContractor"
            @click="markAsChecked"
            v-model="onlyIsPasteDue"
          )
          | Только просроченные
      table.orders__table(v-if="!requestPending && pagination.length")
        thead
          tr
            th Дата заказа
            th Номер заказа
            th Накладная
            th Состояние
            th Сумма
            th Оплатить до
            <!--th Возварт-->
            th Поступило
            <!--th Накладная скачать-->
        tbody
          order-table-row(
            v-for="order in pagination"
            :key="order.guid"
            :order="order"
            :paymentInfo="paymentInfo"
          )
      .controls(
        v-if="pagination.length >= showCount"
        style="margin: 0"
      )
        .form__btn.form__btn--grey.btn.btn--red(
          @click="showMore"
          style="margin: 3em auto"
        ) Показать еще
      table-preloader(v-else-if="requestPending")
      div(
        v-else-if="!pagination.length"
        style="text-align: center; font-size: 1.6em"
      )
        | По вашему запросу ничего не найдено

</template>

<script>
import { formatMoney } from '@/utils/utils';
import OrderTableRow from '@/components/PersonalAccount/orders/ordersTable/orderTableRow.vue';
import DateControl from '@/components/controlsElements/dateControl.vue';
import SelectDropDown from '@/components/inputs/selectDropDown.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';
import UserPaymentStatuses from '@/components/PersonalAccount/orders/ordersTable/userPaymentStatuses.vue';

export default {
  name: 'ordersTable',
  components: {
    UserPaymentStatuses,
    TablePreloader,
    SelectDropDown,
    DateControl,
    OrderTableRow,
  },
  data() {
    return {
      ordersList: [],
      searchByOrderNum: '',
      searchByPartNum: '',
      searchByContractor: '',
      contractorInfo: [],
      dateFrom: '',
      dateTo: '',
      paymentInfo: {},
      onlyIsPasteDue: false,
      requestPending: false,
      paginationCount: 10,
      showCount: 0,
    };
  },
  mounted() {
    this.getContractorsList();
    this.getOrdersList();
    this.getPaymentInfo();
    this.showCount = this.paginationCount;
  },
  methods: {
    formatMoney(value) {
      return formatMoney(value);
    },
    getPaymentInfo() {
      this.$http.post('/payment_info', {})
        .then((resp) => {
          this.paymentInfo = resp.data;
        })
        .catch(err => err);
    },
    getOrdersList() {
      this.requestPending = true;
      const requestProps = {
        kontra: this.$store.getters.getSelectedContractor,
      };
      this.$http.post('/orders_list', requestProps)
        .then((resp) => {
          this.ordersList = resp.data;
          this.requestPending = false;
        });
    },
    getContractorsList() {
      this.$http.post('/user/get_contractor', {})
        .then((resp) => {
          this.contractorInfo = resp.data;
        })
        .catch(err => err);
    },
    selectContractor(contractor) {
      this.searchByContractor = contractor.guid;
    },
    setDateFrom(date) {
      this.dateFrom = date;
    },
    setDateTo(date) {
      this.dateTo = date;
    },
    markAsChecked($event) {
      $event.currentTarget.parentElement.classList.toggle('form__checkbox-label--checked');
    },
    showMore() {
      this.showCount += this.paginationCount;
    },
  },
  computed: {
    //
    // filters order
    // filteredOrders ->
    // filterByDate ->
    // filterByDue ->
    // pagination ->
    //
    filteredOrders() {
      return this.ordersList.filter(order => order.num.indexOf(this.searchByOrderNum) + 1);
    },
    filterByDate() {
      return this.filteredOrders.filter((order) => {
        if (this.dateFrom && this.dateTo) {
          return this.$moment(this.dateFrom) <= this.$moment(order.date) &&
            this.$moment(order.date) <= this.$moment(this.dateTo);
        }
        if (this.dateFrom) {
          return this.$moment(order.date) >= this.$moment(this.dateFrom);
        }
        if (this.dateTo) {
          return this.$moment(order.date) <= this.$moment(this.dateTo);
        }
        return order;
      });
    },
    filterByDue() {
      if (this.onlyIsPasteDue) {
        return this.filterByDate.filter(row => this.$moment() > this.$moment(row.date).add(this.paymentInfo.delay, 'days') && (row.sum - (row.payment_received || 0)) > 0);
      }
      return this.filterByDate;
    },
    pagination() {
      return this.filterByDue.slice(0, this.showCount);
    },
  },
};
</script>

<style lang="stylus">
@import "../../../../assets/stylus/controls.styl"
.orders
  &__table
    border-collapse collapse
    width 100%
    text-align center
    th,
    td
      border 4px solid #f4f7f9
      backface-visibility hidden
      border-top none
      border-bottom none
      &:first-child
        border-left none
      &:last-child
        border-right none
      &:first-child
        white-space nowrap
    th
      color #fff
      font-weight normal
      padding .4em .7em
    td
      color #243a44
      padding .7em .8em .6em
      &.orders__table-payment
        color green
        &--attention
          color red
    thead
      th
        background #adbcc5
    tbody
      tr
        cursor pointer
        &:nth-child(2n)
          background #eaeff2
        &:hover
          background #c4ccd1
          td
            border-color #c4ccd1
    &-attention
      color red
  .orders-search
    display flex
    align-items center
    &__item
      display flex
      align-items center
      margin-left .5em
    &__label
      display flex
      align-items center
      flex-shrink 0
      cursor pointer
    &__input
      line-height 1.6em
      height 1.6em
      display block
      width 10em
      background #fff
      border 1px solid #b0bec7
      margin 0 .4em
      color #5a6e78
      padding 0 0 0 .4em
  .select-dropdown
    margin 0 .5em
    &__current
      margin 0
      width 250px
      background #fff
      height 1.6em
      line-height 1.6em
      &:after
        top 16%
    &__option
      background #fff
</style>
