<template lang="pug">
  .user-payment-statuses
    table.user-payment-statuses__list(v-if="Object.keys(paymentInfo).length")
      tr.user-payment-statuses__item
        td Отсрочка по кредитным условиям
        td {{ paymentInfo.delay }} дней
      tr.user-payment-statuses__item
        td Текущая задолжность
        td {{ formatMoney(paymentInfo.current) }} руб.
      tr.user-payment-statuses__item
        td Просроченная задолжность
        td(style="color: #c0324b;") {{ formatMoney(paymentInfo.overdue) }} руб.
      tr.user-payment-statuses__item
        td Доступный кредитный лимит
        td {{ formatMoney(paymentInfo.available) }} руб.
    hr
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'userPaymentStatuses',
  props: {
    paymentInfo: {
      type: Object,
    },
  },
  methods: {
    formatMoney(value) {
      return formatMoney(value);
    },
  },
};
</script>

<style lang="stylus">
.user-payment-statuses
  hr
    height .2em
    border none
    box-shadow none
    background #f0f4f5
    width 100%
    margin 2em 0 1em
  &__item
    td:first-child
      padding-right 1em
    td:last-child
      font-weight bold
</style>
