<template lang="pug">
  .search-result
    div.search-result__table-outer
      table.search-page__table
        thead
          tr
            th(scope="col") Номер
            th(scope="col") Бренд
            th(scope="col") Название товара
            th(scope="col") Наличие
            th(scope="col") Склад
            th(scope="col") Доставка
            th(scope="col") Цена
            th(scope="col" style="border-right: 0; min-width: 160px;") В корзину
        tbody(v-if="requestPending")
          td(
            colspan='8'
            style="text-align: center; padding: 2em;"
          )
            table-preloader
        template(
            v-else
          )
          template(v-if="searchEqualItems.length")
            search-result-table-body(
              v-for='item in searchEqualItemsOur'
              :item="item"
              :cart="itemsInCart"
              :key="item.guid + item.store_id"
            )
            search-result-table-body(
              v-for='item in searchEqualItemsNotOur'
              :item="item"
              :cart="itemsInCart"
              :key="item.guid + item.store_id"
            )
          template(v-if="!searchEqualItems.length && searchNotEqualItems.length")
            tbody.search-page__item
              tr
                td
                  span.search-page-item__ttl {{ $route.query.sku }}
                td {{ $route.query.brand }}
                td(colspan="6")
                  span(style="font-weight: bold; padding: 1em") Нет в наличии
          template(v-if="searchNotEqualItems.length")
            tbody.search-page__item
              tr
                td.search-page__ttl(colspan="8")
                  span Возможные замены
            search-result-table-body(
              v-for='item in searchNotEqualItemsOur'
              :item="item"
              :cart="itemsInCart"
              :key="item.guid + item.store_id"
            )
            search-result-table-body(
              v-for='item in searchNotEqualItemsNotOur'
              :item="item"
              :cart="itemsInCart"
              :key="item.guid + item.store_id"
            )
          template(v-if="!searchEqualItems.length && !searchNotEqualItems.length")
            tbody.search-page__item
              tr
                td.search-page__ttl(colspan="8")
                  span Совпадений не найдено
</template>

<script>
import { searchResult } from '@/api/search';
import { formatMoney } from '@/utils/utils';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';
import SearchResultTableBody from '@/components/Search/searchResultTableBody.vue';

export default {
  name: 'searchResult',
  components: { SearchResultTableBody, TablePreloader },
  data() {
    return {
      load: true,
      items: [],
      itemsInCart: [],
      requestPending: false,
      showFancy: false,
    };
  },
  mounted() {
    const params = this.$route.query;
    this.requestPending = true;
    searchResult(params)
      .then((resp) => {
        this.items = resp.data.sort((a, b) => (a.delivery_time > b.delivery_time ? 1 : a.delivery_time < b.delivery_time ? -1 : 0));
        this.requestPending = false;
      })
      .then(() => {
        this.requestPending = false;
        this.loadCart();
        this.sendStatsNoAssortment(params.sku, params.brand);
      });
    this.$root.$on('itemAdded', () => {
      this.loadCart();
    });
  },
  watch: {
    $route() {
      this.requestPending = true;
      const params = this.$route.query;
      searchResult(params)
        .then((resp) => {
          this.items = resp.data;
          this.requestPending = false;
          this.sendStatsNoAssortment(params.sku, params.brand);
        })
        .catch((err) => {
          this.requestPending = false;
          return err;
        });
    },
  },
  computed: {
    searchEqualItems() {
      return this.items.filter(item => item.equal);
    },
    searchEqualItemsOur() {
      return this.searchEqualItems.filter(item => item.self);
    },
    searchEqualItemsNotOur() {
      return this.searchEqualItems.filter(item => !item.self);
    },
    searchNotEqualItems() {
      return this.items.filter(item => !item.equal);
    },
    searchNotEqualItemsOur() {
      return this.searchNotEqualItems.filter(item => item.self);
    },
    searchNotEqualItemsNotOur() {
      return this.searchNotEqualItems.filter(item => !item.self);
    },
  },
  methods: {
    sendStatsNoAssortment(check_number, check_brand) {
      if (!this.items.length) {
        this.$http.post('/stat', {
          check_number,
          check_brand,
          statistic: 'НетВАссортименте',
        });
      } else if (!this.searchEqualItemsOur.length && !this.searchNotEqualItemsOur.length) {
        this.$http.post('/stat', {
          check_number,
          check_brand,
          statistic: 'НетВНашемАссортименте',
        });
      }
    },
    openFancy($event) {
      this.showFancy = true;
      const test = $event.currentTarget;
      setTimeout(() => {
        test.querySelectorAll('img')[1].click();
        this.showFancy = false;
      }, 100, test);
    },
    isAction(oldPrice, newPrice) {
      return oldPrice - newPrice;
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    compareWithMaxQty($event) {
      if (+$event.target.value > +$event.target.getAttribute('data-max-qnty')) {
        $event.target.value = $event.target.getAttribute('data-max-qnty');
      }
    },
    loadCart() {
      this.$http.post('/cart/get', {})
        .then((resp) => {
          this.itemsInCart = resp.data;
        })
        .catch(err => err);
    },
  },
};
</script>

<style lang="stylus">
.search-page
  &__table
    width 100%
    text-align left
    border-collapse collapse
    th, td
      font-weight normal
      padding 0.4em 0.7em
    td:not(:first-child), th:not(:first-child)
      text-align center
    th
      background #adbcc5
      border-left 4px solid #fff
      border-right 4px solid #fff
      color #fff
      &:first-child
        border-left none
    span
      display inline-block
  &__ttl
    background #f4f7f9 !important
    padding 0.4em 0.7em
    font-family 'RussoOne'
    color #243a44
    span
      font-size 1.2em
      padding .5em 0
  &__item
    box-shadow 0 1px 0 0 #adbcc5
    td
      &:not(:first-child)
        color #243a44
      &:last-child:not(:first-child)
        padding-right 1em
        padding-left 0
    tr:hover td
      background #dae4e7
      .add-to-cart
        &__minus, &__plus, &__icon, &__item-in-cart:after
          opacity 1
          visibility visible
        &__item-in-cart:after
          transform translate(0, 4px)
    .in-cart
      td
        background #d8edde
    .action
      display block
      &--old
        span
          position relative
          &:after
            content ''
            display block
            position absolute
            width 110%
            height 2px
            top 50%
            left 50%
            transform translate(-50%, -50%) rotate(-15deg)
            background #c0324b
      &--new
        color #c0324b
        font-weight bold
  &-item
    &__ttl
      font-size 1.2em
      font-weight 700
      color #243a44
      margin-right .2em
      text-transform uppercase
    &__manufacturer
      font-size .85em
    &__dscr
      color #243a44
      &--link
        text-decoration none
        a
          text-decoration none
          color inherit
        &:hover
          text-decoration underline
    &__img
      border-radius 4px
      margin-left 1em
      vertical-align middle
      opacity .4
      cursor pointer
      &:hover
        opacity 1
      img
        display block
        margin-top -2px
    &__info
      margin-left 1em
      vertical-align middle
      opacity .4
      cursor pointer
      &:hover
        opacity 1
      img
        width 1em
        margin-bottom -1px
    &__action
      position relative
      height 1em
      img
        display block
        position absolute
        max-width none
        width 2em
        height 2em
        left -1.7em
        top 50%
        transform translateY(-50%)
.add-to-cart
  display flex
  align-items center
  justify-content center
  &__minus, &__plus
    width 0
    height 0
    border .85em solid transparent
    cursor pointer
    opacity 0
    visibility hidden
    transition .2s ease-in-out
  &__minus
    border-right-color #233942
    margin 0 .2em 0 0
  &__plus
    border-left-color #233942
    margin 0 0 0 .2em
  &__qty
    border 1px solid #adbcc5
    text-align center
    line-height 1.4em
    width 3em
  &__icon
    opacity 0
    visibility hidden
    transition .2s ease-in-out
    cursor pointer
    position relative
    img
      margin .5em
  &__item-in-cart
    position absolute
    top 50%
    left 100%
    transform translateY(-50%)
    &:after
      content 'Уже в корзине'
      position absolute
      display block
      width auto
      height 1.5em
      background #f4f7f9
      border 1px solid #243a44
      top calc(100% + .4em)
      right 0
      transform translate(0, 8px)
      white-space nowrap
      padding 0 .6em
      font-size .8em
      line-height 1.5em
      opacity 0
      visibiliti hidden
      transition .3s ease-in-out .2s
</style>
