<template lang="pug">
  tbody.search-page__item
    tr(
      :class="{ 'in-cart': cartContainItem }"
    )
      td
        span.search-page-item__action(
            v-if="item.action"
          )
          img(src="../../assets/images/i-sale.png")
        span.search-page-item__ttl {{ item.sku }}
      td(
        style="text-align: left;"
      )
        span.search-page-item__manufacturer {{ item.manufacturer }}
      td(
        style="text-align: left;"
      )
        template(v-if="item.self")
          .search-page-item__dscr.search-page-item__dscr--link
            router-link(
              :to="`/search/${item.guid}`"
            ) {{ item.name }}
            span.search-page-item__img(
              v-if="item.img_urls.length"
              @click="openFancy"
            )
              img(
                src="../../assets/images/icon-photo.png"
                class="fancy-link"
              )
              img(
                v-for="imageUrl in item.img_urls"
                :src="imageUrl"
                :data-fancybox="item.guid"
                :href="imageUrl"
                v-if="showFancy"
              )
            span.search-page-item__info(
              v-if="item.self"
              @click="getProduct"
            )
              img(src="../../assets/images/icon-info.png")
        template(v-else)
          span.search-page-item__dscr {{ item.name }}
            span.search-page-item__img(
              v-if="item.img_urls.length"
              @click="openFancy"
            )
              img(src="../../assets/images/icon-photo.png")
              img(
                v-for="imageUrl in item.img_urls"
                :src="imageUrl"
                :data-fancybox="item.guid"
                :href="imageUrl"
                v-if="showFancy"
              )
            span.search-page-item__info(
              v-if="item.self"
              @click="getProduct"
            )
              img(src="../../assets/images/icon-info.png")
      td
        span {{ item.qty }}
      td(style="white-space: nowrap" :class="{'font-green': item.self}")
        span {{ item.store_name }}
      td
        span {{ item.delivery_time ? `${$moment().add(item.delivery_time, 'days').format("DD.MM.YYYY")}` : 'Сегодня' }}
      td(style="white-space: nowrap")
        span.action(
          :class="{'action--old': isAction}"
          v-if="isAction > 0"
        )
          span {{ item.old_price }}
        span.action(
          :class="{'action--new': isAction}"
        ) {{ formatMoney(item.price) }} р.
      td
        .add-to-cart
          .add-to-cart__minus(@click="itemToBasket > 0 ? itemToBasket-- : false")
          input.add-to-cart__qty(
            type="text"
            v-model="itemToBasket"
            :data-max-qnty="item.qty"
            @input="compareWithMaxQty"
          )
          .add-to-cart__plus(@click="itemToBasket < item.qty ? itemToBasket++ : false")
          .add-to-cart__icon(
            @click="addToBasketAction"
          )
            img(src="../../assets/images/icon-add-to-cart.png")
            span.add-to-cart__item-in-cart(
              v-if="cartContainItem"
              title="Уже в корзине"
            ) ({{ itemsInBasket }})
</template>

<script>
import { formatMoney } from '@/utils/utils';
import { addToBasket } from '@/api/basket';
import { GET_BASKET_SMALL } from '@/store/actions/basket';

export default {
  name: 'searchResultTableBody',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    cart: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      showFancy: false,
      itemToBasket: 1,
      itemsInBasket: 0,
    };
  },
  methods: {
    getProduct() {
      this.$router.push(`/search/${this.item.guid}`);
    },
    openFancy($event) {
      this.showFancy = true;
      const test = $event.currentTarget;
      if ($event.target.classList.contains('fancy-link')) {
        setTimeout(() => {
          test.querySelectorAll('img')[1].click();
          this.showFancy = false;
        }, 100);
      }
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    compareWithMaxQty() {
      const qty = Number(this.item.qty);
      if (qty) {
        if (this.itemToBasket > qty) {
          this.itemToBasket = qty;
        }
      }
    },
    sendStats({
      check_number, check_brand, source, sku, manufacturer, name,
    }) {
      this.$http.post('/stat', {
        check_number,
        check_brand,
        source,
        sku,
        manufacturer,
        name,
        statistic: 'Корзина',
      });
    },
    addToBasketAction() {
      const params = {
        sku: this.item.sku,
        manufacturer: this.item.manufacturer,
        store_id: this.item.store_id,
        store_name: this.item.store_name,
        source: this.item.source,
        guid: this.item.guid,
        name: this.item.name,
        available_qty: this.item.qty,
        qty: this.itemToBasket,
        price: this.item.price,
        delivery_time: this.item.delivery_time,
      };
      addToBasket(params)
        .then(() => {
          this.$store.dispatch(GET_BASKET_SMALL);
          this.$root.$emit('itemAdded');
          const paramsForStats = {
            check_number: this.$route.query.sku,
            check_brand: this.$route.query.brand,
            source: this.item.source,
            sku: this.item.sku,
            manufacturer: this.item.manufacturer,
            name: this.item.name,
          };
          this.sendStats(paramsForStats);
        })
        .catch(err => err);
    },
  },
  computed: {
    isAction() {
      return this.item.old_price - this.item.price;
    },
    // check if the item is in the cart
    cartContainItem() {
      let contain = false;
      if (this.cart.length) {
        this.cart.forEach((item) => {
          if (
            this.item.sku === item.sku &&
            this.item.manufacturer === item.manufacturer &&
            this.item.store_id === item.store_id
          ) {
            contain = true;
            this.itemsInBasket = item.qty;
          }
        });
      }
      return contain;
    },
  },
};
</script>

<style lang="stylus">
.font-green
  color #008c0b !important
</style>
