<template lang="pug">
  table.product-related-table
    product-related-table-head
    tbody
      product-related-table-row(
        v-for="item in itemRelated"
        :item="item"
        :key="item.guid"
      )
</template>

<script>
import ProductRelatedTableRow from '@/components/Tabels/ProductRelated/ProductRelatedTableRow.vue';
import ProductRelatedTableHead from
  '@/components/Tabels/ProductRelated/ProductRelatedTableHead.vue';

export default {
  name: 'ProductRelatedTable',
  components: { ProductRelatedTableHead, ProductRelatedTableRow },
  props: {
    itemRelated: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="stylus">
.product-related-table
  text-align left
  border-collapse collapse
  th, td
      font-weight normal
      padding 0.4em 0.7em
      text-align center
  th
    background #adbcc5
    border-left 4px solid #f4f7f9
    border-right 4px solid #f4f7f9
    color #fff
    &:last-child
      border-right none
    &:first-child
      border-left none
  tr
    cursor pointer
    &:hover
      background #dae4e7
  &__image
    width 6em
    height 4em
    img
      display block
      margin 0 auto
      max-width 100%
      max-height 100%
      width auto
      height auto
</style>
