<template lang="pug">
  thead
    tr
      th
      th Номер
      th Брэнд
      th Наименование
</template>

<script>
export default {
  name: 'ProductRelatedTableHead',
};
</script>

<style lang="stylus">

</style>
