<template lang="pug">
  .catalog-items
    .catalog-items__header
      search-input.catalog-items__search(
        v-if="catalogItems.length"
        v-model="search"
        :label="'Поиск по разделу'"
      )
      .catalog-items__ttl {{ title }}
    template(
      v-if="requestPending"
    )
      table-preloader
    template(
      v-else
    )
      store-card(
        v-for="item in catalogItemsForViews"
        :item="item"
        :key="item.guid"
      )
</template>

<script>
import StoreCard from '@/components/storeItems/storeCard.vue';
import SearchInput from '@/components/controlsElements/SearchInput.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'RepairKitItems',
  components: { TablePreloader, SearchInput, StoreCard },
  props: {
    catalogItemsListTitle: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      catalogItems: [],
      popularGoods: [],
      title: '',
      itemsPerPage: 20,
      page: 1,
      search: '',
      requestPending: false,
    };
  },
  computed: {
    catalogItemsFilteredBySearch() {
      return this.catalogItems.filter(item => (item.name.toLowerCase().indexOf(this.search.toLowerCase()) + 1));
    },
    catalogItemsForViews() {
      return this.catalogItemsFilteredBySearch.slice(0, this.itemsPerPage * this.page);
    },
  },
  watch: {
    '$route.params.guid': function () {
      this.getCatalogItems();
    },
    catalogItems() {
      if (!this.catalogItems.length) {
        this.title = 'Уточните раздел';
      } else {
        this.title = this.catalogItemsListTitle;
      }
    },
  },
  created() {
    this.$root.$on('contentScrolled', this.showMoreItems);
  },
  mounted() {
    this.getCatalogItems();
    if (!this.catalogItems.length) {
      this.title = 'Уточните раздел';
    }
  },
  beforeDestroy() {
    this.$root.$off('contentScrolled', this.showMoreItems);
  },
  methods: {
    showMoreItems() {
      this.page = this.page + 1;
    },
    async getCatalogItems() {
      try {
        this.requestPending = true;
        this.page = 1;
        this.search = '';
        const resp = await this.$http.post('/caliper/brand/model/product', {
          guid: this.$route.params.guid,
        });
        const popular = await this.$http.post(`/goods/popular/${this.$route.params.guid}`, {});
        this.popularGoods = popular.data;
        this.catalogItems = resp.data;
        this.requestPending = false;
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style lang="stylus">
.catalog-items
  display flex
  flex-wrap wrap
  width 100%
  &__search
    margin-right auto
    margin-left .7em
  &__header
    width 100%
    display flex
    align-items center
    padding-bottom 1em
    border-bottom 2px solid #e2e5e6
    margin-bottom 1.5em
  &__ttl
    color #5a6e78
    font-size 1.4em
    font-family 'RussoOne'
    margin-left .7em
  .product-card__outer
    width 16%
    @media screen and (max-width 1600px)
      width 20%
    @media screen and (max-width 1400px)
      width 25%
</style>
