<template lang="pug">
  .catalog-page
    .catalog-page__inner
      template(
        v-if="requestPending"
      )
        table-preloader
      template(
        v-else
      )
        catalog-tree(
          :tree="catalogTree"
          :treeTitle="'Р.к. суппортов'"
          :pagesPath="'/repair-kit'"
          @setCatalogItemsListTitle="(name) => catalogItemsListTitle = name"
        )
        router-view(
          :catalogItemsListTitle="catalogItemsListTitle"
        )
</template>

<script>
import CatalogTree from '@/components/CatalogTree/CatalogTree.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'RepairKit',
  components: { TablePreloader, CatalogTree },
  data() {
    return {
      catalogTree: [],
      requestPending: true,
      catalogItemsListTitle: '',
    };
  },
  mounted() {
    this.getCatalogTree();
  },
  methods: {
    async getCatalogTree() {
      try {
        this.requestPending = true;
        let catalogTree = await this.$http.post('/caliper/catalog', {});
        catalogTree = catalogTree.data;
        const arrOfRootElements = [];
        catalogTree.forEach((elem) => {
          if (!elem.parent) {
            arrOfRootElements.push(elem);
          }
        });
        arrOfRootElements.forEach((elem) => {
          this.getChildren(elem, catalogTree);
        });
        this.catalogTree = arrOfRootElements;
        this.requestPending = false;
      } catch (e) {
        this.requestPending = false;
        console.log(e);
      }
    },
    getChildren(parent, initArr) {
      parent.children = [];
      initArr.forEach((elem) => {
        if (parent.guid === elem.parent) {
          parent.children.push(elem);
        }
      });
      parent.children.forEach((elem) => {
        this.getChildren(elem, initArr);
      });
    },
  },
};
</script>

<style lang="stylus">
.catalog-page
  width 100%
  &__inner
    display flex
    width 100%
    align-items flex-start
  &__items
    flex-grow 1
</style>
