<template lang="pug">
  tr(@click="searchElem")
    td.product-content-table__image
      .product-tooltip__outer
        .product-tooltip
          img.product-tooltip__img(:src="item.img_urls[0]")
          .product-tooltip__param
            span.product-tooltip__param-name Номер:
            span.product-tooltip__param-value {{ item.sku }}
          .product-tooltip__param
            span.product-tooltip__param-name Брэнд:
            span.product-tooltip__param-value {{ item.manufacturer }}
          .product-tooltip__param
            span.product-tooltip__param-name Наименование:
            span.product-tooltip__param-value {{ item.name }}
      img(:src="item.img_urls[0]")
    td {{ item.sku }}
    td {{ item.manufacturer }}
    td {{ item.name }}
    div.test
</template>

<script>
export default {
  name: 'ProductContentTableRow',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    searchElem() {
      this.$router.push(`/search/${this.item.guid}`);
    },
  },
};
</script>

<style lang="stylus">
.product-content-table__image
  width 6em
  height 4em
  > img
    display block
    margin 0 auto
    max-width 100%
    max-height 100%
    width auto
    height auto
.product-tooltip
  position absolute
  right calc(100% + 2em)
  top 50%
  background #dae4e7
  opacity 0
  visibility hidden
  padding 1em
  z-index 100
  &:after
    content ''
    display block
    position absolute
    width 2em
    height 2em
    background #dae4e7
    right -.5em
    transform rotate(45deg)
    z-index -1
  img
    width 20em
    display block
    max-width none
  &__outer
    position relative
    width 0
    height 0
  &__param
    display flex
    align-items flex-start
    text-align left
    flex-direction column
    margin-bottom 1em
    &-name
      font-weight bold
      margin-right 1em
.product-content-table
  tr:hover
    .product-tooltip
      opacity 1
      visibility visible
  .product-tooltip
    transform translateY(-50%)
    &:after
      top calc(50% - 1em)
</style>
