<template lang="pug">
  table.product-content-table
    product-content-table-head
    tbody
      product-content-table-row(
        v-for="item in itemContent"
        :item="item"
        :key="item.guid"
      )
</template>

<script>
import ProductContentTableRow from '@/components/Tabels/ProductContent/ProductContentTableRow.vue';
import ProductContentTableHead from
  '@/components/Tabels/ProductContent/ProductContentTableHead.vue';

export default {
  name: 'ProductContentTable',
  components: { ProductContentTableHead, ProductContentTableRow },
  props: {
    itemContent: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="stylus">
.product-content-table
  text-align left
  border-collapse collapse
  th, td
      font-weight normal
      padding 0.4em 0.7em
      text-align center
  th
    background #adbcc5
    border-left 4px solid #f4f7f9
    border-right 4px solid #f4f7f9
    color #fff
    &:last-child
      border-right none
    &:first-child
      border-left none
  tr
    cursor pointer
    &:hover
      background #dae4e7
</style>
