<template lang="pug">
  div.tickets
    ticket-item(
      v-for="ticket in tickets"
      :key="ticket.guid"
      :item="ticket"
    )
</template>

<script>
import TicketItem from '@/components/PersonalAccount/messages/tickets/ticketItem.vue';

export default {
  name: 'index',
  components: { TicketItem },
  data() {
    return {
      tickets: [
        {
          guid: '1',
          title: 'Заголовок оповещения',
          date: 'Дата оповещения',
          message: 'Тело письма',
        },
        {
          guid: '2',
          title: 'Заголовок оповещения 2',
          date: 'Дата оповещения 2',
          messages: [{
            message: 'Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень Тело письма длинное очень прямо очень',
          },
          ],
        },
      ],
    };
  },
};
</script>

<style lang="stylus">
.tickets
  width 100%
</style>
