<template lang="pug">
  .ticket(@click="showTicketBody")
    .ticket__staus
    .ticket__title {{ item.title }}
    .ticket__message {{ item.message }}
    .ticket__date {{ item.date }}
    .ticket__show-icon
    .ticket__body {{ item.message }}
</template>

<script>
export default {
  name: 'ticketItem',
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    showTicketBody($event) {
      $event.currentTarget.classList.toggle('ticket--active');
    },
  },
};
</script>

<style lang="stylus">
.ticket
  display flex
  align-items center
  width 100%
  padding .5em 0
  border-bottom 1px solid #f0f4f5
  cursor pointer
  flex-wrap wrap
  &:hover
    box-shadow 0 2px 2px rgba(0,0,0,.2)
  &__title
    font-weight bold
    white-space nowrap
    width 15%
    min-width 150px
    text-overflow ellipsis
    overflow hidden
    padding 0 .5em
  &__message
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    flex-basis 0
    flex-grow 1
    flex-shrink 1
    text-align left
    padding 0 .5em
  &__date
    margin-left auto
    padding 0 .5em
  &__body
    padding 0
    height 0
    overflow hidden
    width 100%
  &--active
    box-shadow 0 2px 2px rgba(0,0,0,.2)
    & ^[0]__message
      opacity 0
    & ^[0]__body
      padding 1em
      height auto
</style>
