.controls
  display flex
  align-items center
  color #637b8a
  margin-bottom 2em
  &__column
    display flex
    flex-direction column
    margin-left auto
  &__attention
    background rgba(187, 27, 52, .2)
    display flex
    align-items center
    padding .6em
    color #991b28
    margin 0 auto 0 0
    flex-shrink 0
    img
      flex-shrink 0
      margin 0 1em 0 0
    p
      margin 0
