//block with corner
.corner
  background linear-gradient(-30deg, transparent 20px, #fff 0);

//btn layout
.btn
  font-family 'RussoOne'
  font-size .8em
  text-transform uppercase
  padding .8em 2.5em .6em
  text-decoration none
  transition box-shadow .2s linear
  cursor pointer
  border none
  display inline-block
  position relative
  &:hover
    box-shadow none
  &:active
    transform translate(1px,1px)
    box-shadow inset 1px 1px 0  rgba(19,19,19,.42)
  &--red
    background mainRed
    color #fff
    box-shadow 1px 1px 0  rgba(19,19,19,.42)
    border-radius .2em
  &--white
    color #fff
    border 1px solid #fff
  &--red-border
    color mainRed
    border 1px solid mainRed
  &--lowercase
    text-transform none
  &--short
    padding .8em 1em .6em
  &--right
    margin-left auto
  &.disabled
    opacity .4
    cursor not-allowed
    &:active
      transform none
      box-shadow box-shadow 1px 1px 0  rgba(19,19,19,.42)
  &__pre-loader
    position absolute
    width 100%
    height 100%
    left 0
    top .3em
  &__txt-red
    color mainRed
.content-header
  display flex
  align-items center
.ttl
  font-size 1.4em
  font-family "RussoOne"
  color #637c8a
