.form
  width 70%
  min-width 300px
  max-width 980px
  padding 2em 4em
  text-align center
  background #fff
  box-shadow 0 3px 18px 0 rgba(205, 217, 221, .7)
  color #b2bec3
  margin 0 auto
  align-self center
  z-index 100
  &__scroll
    display flex
    align-items stretch
    flex-direction column
    justify-items stretch
    max-height 60vh
    overflow hidden
  &__header
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    color big_darkBlue
    margin 0 0 2em
    &-ttl
      font-size 1.2em
      font-family "RussoOne"
      margin 0 .5em
      font-weight normal
    &-subttl
      width 100%
      font-weight normal
      margin 1em 0 0
      font-size 1.25em
      &--small
        font-size 1em
  &__inner
    max-width 340px
    padding 0 20px
    margin 2rem auto 0
    width 100%
  &__row
    position relative
  &__message
    margin-bottom 2em
    color #243a44
    &--error
      color mainRed
  &__input
    line-height 2em
    height 2em
    text-align center
    display block
    width 100%
    background #f4f7f9
    border 1px solid #b0bec7
    margin-bottom 1em
    color #5a6e78
    &::placeholder
      color big_darkBlue
      opacity 1
    &--error
      background #f3d7dd
    &-ttl
      color #5a6e78
      margin-bottom .5em
      font-weight bold
    &-controls
      position absolute
      left calc(100% + 2em)
      top 50%
      transform translateY(-50%)
      width auto
      white-space nowrap
      text-align left
      padding 0 0 2px 1.5em
      &--plus, &--minus
        cursor pointer
        color #5a6e78
        span
          border-bottom 1px solid transparent
        &:hover
          span
            border-bottom-color #b0bec7
        &:before
          content ''
          display block
          position absolute
          left 0
          top 50%
          transform translateY(-50%)
          width 13px
          height 13px
      &--plus
        &:before
          background url('../assets/images/icon-plus.png') center center
      &--minus
        &:before
          background url('../assets/images/icon-minus.png') center center
      &--checkbox
        cursor pointer
        &:before
          content ''
          display block
          position absolute
          left 0
          top 50%
          transform translateY(-50%)
          width 11px
          height 11px
          border 1px solid #b0bec7
          background rgba(176, 190, 199, .2)
        &:after
          content ''
          display block
          position absolute
          left 2px
          top 50%
          transform translateY(-90%) rotate(40deg)
          width 8px
          height 15px
          border 2px solid #b0bec7
          border-top-color transparent
          border-left-color transparent
          opacity 0
        &.active
          &:after
            opacity 1
        &-relative
          position relative
          padding-left .5rem
          a
            color inherit
  &__error
    position absolute
    right calc(100% + 1em)
    top 50%
    transform translateY(-50%)
    white-space nowrap
    color mainRed
  &__forgot
    color #b2bec3
    display block
    margin-bottom 1em
  &__controls
    display flex
    align-items center
    justify-content space-between
    margin 0 0 2em 0
    &--center
      justify-content space-around
    &--popup
      margin-top 2em
  &__checkbox
    display none
  &__checkbox-label
    position relative
    padding-left 1.6em
    cursor pointer
    color big_darkBlue
    &:before
      content ''
      display block
      position absolute
      left 0
      width 13px
      height 13px
      border 1px solid #b0bec7
      top 50%
      transform translateY(-50%)
      background rgba(255, 255, 255, 1)
    &:after
      content ''
      display block
      position absolute
      left 5px
      bottom calc(50% - 4px)
      transform rotate(40deg)
      width 2px
      height 8px
      border 2px solid #243a44
      border-top-color transparent
      border-left-color transparent
      opacity 0
    &--checked
      &:after
        opacity 1
  &__checkbox:checked + &__checkbox-label
    &:after
      opacity 1
  &__link
    color #5a6e78
  &__btn
    padding .8em 0 .6em
    width 144px
    text-align center
    background #c0324b
    position relative
    &--reg
      width 100%
      margin-bottom 3em
    &--grey
      background #627883
  p
    margin 0 0 .6em 0
  &__section
    &-name
      width 100%
      padding-left 1em
      text-align left
    &-attention
      align-self center
      &:before
        content ''
        display inline-block
        width 17px
        height 14px
        background url("../assets/images/attention.png")
        vertical-align middle
        margin -.2em .5em 0 0
  &__checkbox-list
    display flex
    flex-direction column
    align-items flex-start
    font-size .8em
    margin-bottom .8em
    & ^[0]__checkbox-label
      margin .4em 0
      text-align left
