*
  box-sizing border-box
html,
body
  height auto
  font-family 'SourceSansPro'
  font-size 15px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #778994
  transform translate3d(0,0,0)
  overflow hidden
.wrapper
  display flex
  flex-direction column
  min-height 100vh
  background #f4f7f9
.content
  width 100%
  height 100%
  margin 0 auto
  &__scroll
    max-width 1900px
    margin 0 auto
    width 100%
  &__inner
    display flex
    align-items flex-start
    margin 0 auto
    padding 2em 1.5em
    width 100%
    min-height 100%
    flex-wrap wrap
    flex-grow 1
    flex-direction column
    @media screen and (max-width 1250px)
      padding 2em 3.5em
    @media screen and (max-width 1100px)
      padding 2em 2em
      font-size 13px
    @media screen and (max-width 600px)
      padding 2em 1em
.footer,
.header
  flex 0 0 auto
.footer
  margin-top auto
input
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size: 100%
  vertical-align baseline
img
  max-width 100%
