.pop-up
  position fixed
  left 50%
  top 40%
  transform translate(-50%, -50%)
  padding-top 3em
  &__close
    text-align right
    cursor pointer
    position absolute
    padding 1em 2em
    top 0
    right 0
