.main-table
  border-collapse collapse
  width 100%
  border 0
  td,
  th
    padding 0.4em 0.7em
    border-left 4px solid #fff
    border-right 4px solid #fff
    font-weight normal
    &:first-child
      border-left none
    &:last-child
      border-right none
  th
    background #adbcc5
    color #fff
    font-size 1.1em
    white-space nowrap
  tr
    background #fff
    &:hover
      .add-to-cart
        &__minus, &__plus
          opacity 1
          visibility visible
  tr:nth-child(even)
    background #f0f4f5
  td
    color #243a44
  .add-to-cart
    display flex
    align-items center
    justify-content center
    &__minus, &__plus
      width 0
      height 0
      border .85em solid transparent
      cursor pointer
      opacity 0
      visibility hidden
      transition .2s ease-in-out
    &__minus
      border-right-color #233942
      margin 0 .2em 0 0
    &__plus
      border-left-color #233942
      margin 0 0 0 .2em
    &__qty
      border 1px solid #adbcc5
      text-align center
      line-height 1.4em
      width 3em
    &__icon
      opacity 0
      visibility hidden
      transition .2s ease-in-out
      cursor pointer
      img
        margin .5em
  &__price
    white-space nowrap
    text-align center
  &__checkbox
    text-align center
  &__td-center
    text-align center
  &__black
    color #000
  &__row--disable
    opacity .4
    .add-to-cart
      &__minus, &__plus
        opacity 0 !important
        visibility hidden !important
