<template lang="pug">
  #app
    yes-no-pop-up(v-if="$store.getters.showYesNowPopup")
    transition(name="outline")
      .outline(v-if="$store.getters.getLayoutState")
    .wrapper
      Header(ref="header")
      .content__scroll(ref="content")
        .content(ref="contentInner")
          .content__inner
            router-view
      Footer(ref="footer")
</template>

<script>
import axiosTest from 'axios';
import Header from '@/components/Header/header.vue';
import Footer from '@/components/footer/Footer.vue';
import YesNoPopUp from '@/components/popups/yesNoPopUp.vue';
import axios, { axiosDefault, bigstoRest } from '@/axios/axios';
import CHECK_ACCESS from '@/store/actions/checkAccess';
import Panel from '@/components/smartPanel/panel.vue';
import { GET_USER, SELECT_ADDRESS, SELECT_CONTRACTOR, SELECT_PICK_UP_POINT } from '@/store/actions/user.js';
import Cookies from 'js-cookie';

export default {
  components: {
    Panel,
    YesNoPopUp,
    Footer,
    Header,
  },
  data() {
    return {
      authTokenRequest: '',
    };
  },
  async created() {
    const vm = this;
    axios.interceptors.request.use((config) => {
      const accessToken = localStorage.getItem('user-token').split(',')[0];
      config.data.access_token = accessToken;
      config.data.address = vm.$store.getters.getTypeIsDelivery === true ?
        vm.$store.getters.getSelectedAddress.guid :
        vm.$store.getters.getSelectedPickUpPoint.guid;
      return config;
    }, undefined);
    // request error handling
    axios.interceptors.response.use(undefined, (err) => {
      const { config: errConfig } = err;
      const accessToken = { access_token: localStorage.getItem('user-token').split(',')[0] };
      return this.getAuthToken(accessToken, errConfig)
        .then((conf) => {
          let configData = JSON.parse(errConfig.data);
          configData.access_token = JSON.parse(conf.data).access_token;
          configData.refresh_token = JSON.parse(conf.data).refresh_token;
          configData = JSON.stringify(configData);
          errConfig.data = configData;
          return axiosDefault.request(errConfig);
        })
        .catch(error => error);
    });
    // get user
    await this.getAndSetContractor();
    await this.getAndSetAddress();
    await this.$store.dispatch(GET_USER);
  },
  mounted() {
    this.$vuebar.initScrollbar(this.$refs.content, {
      preventParentScroll: true,
      scrollThrottle: 30,
    });
    this.$refs.contentInner.addEventListener('scroll', (event) => {
      const element = event.target;

      if (element.scrollHeight - element.scrollTop === element.clientHeight) {
        this.$root.$emit('contentScrolled');
      }
    });
  },
  updated() {
    this.$nextTick(() => {
      const headerHeight = this.$refs.header.$el.offsetHeight;
      const footerHeight = this.$refs.footer.$el.offsetHeight;
      const contentHeight = window.innerHeight - headerHeight - footerHeight;
      this.$refs.content.style.height = `${parseFloat(contentHeight)}px`;
    });
  },
  methods: {
    makeActualAuthenticationRequest(accessToken, errConfig) {
      return this.$store.dispatch(CHECK_ACCESS, { accessToken, errConfig });
    },
    getAuthToken(accessToken, errConfig) {
      if (!this.authTokenRequest) {
        this.authTokenRequest = this.makeActualAuthenticationRequest(accessToken, errConfig);
        this.authTokenRequest.then(this.resetAuthTokenRequest, this.resetAuthTokenRequest);
      }
      return this.authTokenRequest;
    },
    resetAuthTokenRequest() {
      this.authTokenRequest = null;
    },
    async getAndSetPickUpPoint() {
      const resp = await this.$http.post('/get_pick_up_points', {});
      await this.$store.dispatch(SELECT_PICK_UP_POINT, resp.data[0]);
    },
    async getAndSetContractor() {
      const resp = await this.$http.post('/user/get_contractor', {});
      if (resp.data.length && !this.$store.state.user.userSelectedContractor.guid) {
        await this.$store.dispatch(SELECT_CONTRACTOR, resp.data[0]);
      }
    },
    async getAndSetAddress() {
      const resp = await this.$http.post('/user/addresses', {});
      if (resp.data.length > 0) {
        console.log('select address');
        await this.$store.dispatch(SELECT_ADDRESS, resp.data[0]);
      } else if (resp.data.length === 0) {
        await this.getAndSetPickUpPoint();
      }
    },
  },
};
</script>

<style lang="stylus">
.hidden
  display none
.visible
  display block
.outline
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,.4)
  z-index 200
  &-enter-active, &-leave-active
    transition .3s ease-in-out
  &-enter, &-leave-to
    opacity 0
.popup
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  z-index 200
  padding 4em
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  flex-direction column
  &__ttl
    width 100%
    text-align center
.drop-down
  position absolute
  left 0
  top 100%
  background #fff
  padding 1em
  min-width 100%
  visibility hidden
  opacity 0
  height 0
  &--visible
    visibility visible
    opacity 1
    height auto
  &-outer
    position relative
    display inline-block
    align-self flex-start
    background #fff
  &__current
    padding .4em 2em .4em 1em
    display block
    cursor pointer
  &__item
    cursor pointer
    padding .2em 0
    &:hover
      color green
</style>
