<template lang="pug">
  div
    .ttl Заказ успешно оплачен!
    p.payment-success__message Ваш заказ&nbsp;
      router-link(:to="`/personal-account/orders/${$route.params.guid}`") {{ order.order_num }}
      span &nbsp;успешно оплачен и передан на склад.
</template>

<script>
export default {
  name: 'Success',
  data() {
    return {
      order: '',
    };
  },
  created() {
    this.checkPayment();
  },
  methods: {
    async checkPayment() {
      try {
        const resp = await this.$http.post('/order/paymentcheck', { guid: this.$route.params.guid });
        if (resp.data) {
          this.getOrderByGuid();
        }
      } catch (e) {
        console.log(e);
      }
    },
    async getOrderByGuid() {
      try {
        const resp = await this.$http.post(`/order/get/${this.$route.params.guid}`, {});
        this.order = resp.data[0];
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style lang="stylus">
.payment-success
  &__message
    font-size: 1.2em
</style>

