<template lang="pug">
  .account__tab
    info-pop-up(
      :message="message.txt"
      :ttl="message.title"
      @closePopUps="showInfoModal = false"
      v-if="showInfoModal"
    )
    .controls
      router-link.go-back-btn(to="/personal-account/refund") Назад
      search-input(
        style="margin-left: auto; margin-right: -.4em"
        :label="'Поиск'"
        v-model="searchValue"
      )
    table-preloader(
      v-if="getListPending"
    )
    make-refund-table(
      v-else
      :items="groupByDocId"
      :itemsToRefund="itemsToRefund"
      @itemChange="itemChange"
    )
    .controls
      .btn.btn--red(
        @click="showMore"
        style="margin: 2em auto 0;"
      ) Показать еще
    hr
    .controls
      .controls__attention(style="max-width: 600px")
        img(src="../../../../assets/images/icon-attention.png")
        p.
          <b>Внимание!</b><br><br>
          Документы необходимые для осуществления возврата:<br>
          <b>1.</b> Акт о выявленных недостатках товара (необходимо скачать на сайте в разделе
          "Возвраты"<br>в таблице после оформления заявки на возврат")
          - 2 шт<br>
          <b>2.</b> Регламентированная форма возврата товаров поставщику ТОРГ-12 (УПД статус 2) - 2
          шт.<br><br>
          <b>Необходимо предоставить вместе с товаром после формирования заявки в течении 14
          дней!</b>
      .controls__column
        select-drop-down(
          :options="refundOptions.reasons"
          :placeholder="'Причина возврата'"
          :class="{'select-dropdown--attention': selectedReason.length === 0}"
          @selectedOptionGuid="selectReason"
        )
        .btn.btn--red.btn--right(
          @click="makeRefundRequest"
          :class="{'disabled': !canSendForm}"
          style="margin-top: 2em"
        )
          span(:class="{'btn__txt-red': refundMakePending}") Оформить
          span.btn__pre-loader(v-if="refundMakePending")
            btn-preloader
</template>

<script>
import MakeRefundTable from '@/components/PersonalAccount/refund/makeRefund/makeRefundTable.vue';
import SearchInput from '@/components/controlsElements/SearchInput.vue';
import BtnPreloader from '@/components/preLoaders/btnPreloader.vue';
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';
import SelectDropDown from '@/components/inputs/selectDropDown.vue';
import InfoPopUp from '@/components/popups/infoPopUp.vue';

export default {
  name: 'makeRefund',
  components: {
    InfoPopUp,
    SelectDropDown,
    TablePreloader,
    BtnPreloader,
    SearchInput,
    MakeRefundTable,
  },
  data() {
    return {
      possibleList: [],
      searchValue: '',
      itemsToRefund: {},
      getListPending: false,
      refundMakePending: false,
      showInfoModal: false,
      refundOptions: {},
      selectedReason: '',
      message: {},
      visible: 10,
    };
  },
  computed: {
    canSendForm() {
      return (this.selectedReason.length !== 0 && Object.keys(this.itemsToRefund).length);
    },
    groupByDocId() {
      const list = {};
      this.pagination.forEach((item) => {
        if (list[item.iddoc]) {
          list[item.iddoc].push(item);
        } else {
          list[item.iddoc] = [item];
        }
      });
      return list;
    },
    filterBySearch() {
      return this.possibleList.filter((elem) => {
        if (
          elem.number_order
            .toLowerCase()
            .indexOf(this.searchValue.toLowerCase()) + 1
        ) return elem;
        if (elem.sku.toLowerCase().indexOf(this.searchValue.toLowerCase()) + 1) return elem;
        return false;
      });
    },
    pagination() {
      return this.filterBySearch.slice(0, this.visible);
    },
  },
  mounted() {
    this.getPossibleList();
    this.getRefundOptions();
  },
  methods: {
    showMore() {
      this.visible = this.visible + 10;
    },
    async getPossibleList() {
      try {
        this.getListPending = true;
        const resp = await this.$http.post('/returns/items-list', {});
        this.possibleList = resp.data;
        this.getListPending = false;
      } catch (e) {
        this.getListPending = false;
        console.log(e);
      }
    },
    async getRefundOptions() {
      try {
        const resp = await this.$http.post('/returns/options', {});
        this.refundOptions = resp.data;
      } catch (e) {
        console.log(e);
      }
    },
    async makeRefundRequest() {
      if (this.canSendForm) {
        try {
          const itemsForSend = [];
          this.refundMakePending = true;
          Object.keys(this.itemsToRefund)
            .forEach((key) => {
              itemsForSend.push({
                guid: this.itemsToRefund[key].item.guid,
                price: this.itemsToRefund[key].item.price,
                iddoc: this.itemsToRefund[key].item.iddoc,
                qty: this.itemsToRefund[key].qty,
              });
            });
          const respOrder = await this.$http.post('/returns/create', { items: itemsForSend });
          this.refundMakePending = false;
          this.message.ttl = 'Возврат оформлен!';
          this.message.txt =
            `Оформлен заказ №${respOrder.data.returns[0].number}!<br>
          Документы для возврата можно скачать в разделе
          <a style="color: inherit;" href="/personal-account/refund">Мои возвраты</a>`;
          this.showInfoModal = true;
          this.$root.$emit('refundDone');
          this.selectedReason = '';
        } catch (e) {
          this.refundMakePending = false;
          console.log(e);
        }
      }
      return false;
    },
    selectReason(reason) {
      console.log(reason);
      this.selectedReason = reason.guid;
    },
    itemChange($event) {
      if ($event.qty !== 0) {
        this.$set(this.itemsToRefund, $event.item.guid, {});
        this.itemsToRefund[$event.item.guid].item = $event.item;
        this.itemsToRefund[$event.item.guid].qty = $event.qty;
      } else {
        this.$delete(this.itemsToRefund, $event.item.guid);
      }
    },
  },
};
</script>

<style lang="stylus">
.select-dropdown
  margin-left auto
  min-width 20em
  &__current
    margin-bottom 0
.go-back-btn
  cursor pointer
  position relative
  padding-left 1em
  font-weight bold
  font-size 1.2em
  text-decoration none
  color inherit
  &:before
    content ''
    position absolute
    left 0
    top calc(50% + 1px)
    width .5em
    height .5em
    border 2px solid #637b8a
    border-top-color transparent
    border-right-color transparent
    transform translate3d(0, -50%, 0) rotate(45deg)
    transform-origin center
    transition .2s ease-in-out
    backface-visibility hidden
  &:hover
    text-decoration underline
    &:before
      transform translate3d(-.1em, -50%, 0) rotate(45deg)
</style>
