<template lang="pug">
  tr
    th Дата
    th Бренд
    th Артикул
    th Заказ
    th Наименование
    th Кол-во
    th Доступно
    th Цена
    th Сумма
</template>

<script>
export default {
  name: 'makeRefundTableHead',
};
</script>

<style lang="stylus">

</style>
