<template lang="pug">
  tbody(
    :class="{'main-table__row--disable': groupNotInRefundList}"
  )
    tr(style="border-bottom: 1px solid #adbcc5;")
      td(colspan="9" style="padding-top: 1em;")
    make-refund-table-row(
      v-for="item in items"
      :key="item.guid"
      :item="item"
      :itemsToRefund="itemsToRefund"
      :groupNotInRefundList="groupNotInRefundList"
      @itemChange="$emit('itemChange', $event)"
    )
</template>

<script>
import MakeRefundTableRow from '@/components/PersonalAccount/refund/makeRefund/makeRefundTableRow.vue';

export default {
  name: 'makeRefundTableGroup',
  components: { MakeRefundTableRow },
  props: {
    itemsToRefund: {
      type: Object,
      default() {
        return {};
      },
    },
    groupId: {
      type: String,
      default: '',
    },
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {
    groupNotInRefundList() {
      if (!Object.keys(this.itemsToRefund).length) return false;
      let itemInList = true;
      Object.keys(this.itemsToRefund).forEach((key) => {
        if (this.itemsToRefund[key].item.iddoc === this.groupId) itemInList = false;
      });
      return itemInList;
    },
  },
};
</script>
