<template lang="pug">
  tr
    td.main-table__td-center {{ $moment(item.date).format('DD.MM.YYYY') }}
    td.main-table__td-center {{ item.manufacturer }}
    td.main-table__td-center {{ item.sku }}
    td.main-table__td-center {{ item.number_order }}
    td {{ item.name }}
    td
      .add-to-cart
        .add-to-cart__minus(@click="reduceQtyOfItem")
        input.add-to-cart__qty(
          type="text"
          v-model="qty"
          :disabled="groupNotInRefundList"
        )
        .add-to-cart__plus(@click="increaseQtyOfItem")
    td.main-table__td-center {{ item.qty }}
    td.main-table__price {{ formatMoney(item.price) }}
    td.main-table__price {{ sumOfItem }}
</template>

<script>
import { formatMoney } from '@/utils/utils';

export default {
  name: 'makeRefundTableRow',
  props: {
    groupNotInRefundList: {
      type: Boolean,
      default: false,
    },
    itemsToRefund: {
      type: Object,
      default() {
        return {};
      },
    },
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      qty: 0,
    };
  },
  computed: {
    sumOfItem() {
      return formatMoney(this.item.qty * this.item.price);
    },
  },
  watch: {
    qty() {
      if (this.qty < 0) {
        this.qty = 0;
      } else if (this.qty > this.item.qty) {
        this.qty = this.item.qty;
      }
      this.$emit('itemChange', {
        item: this.item,
        qty: this.qty,
      });
    },
  },
  created() {
    this.$root.$on('refundDone', this.refundDoneAction);
  },
  beforeDestroy() {
    this.$root.$off('refundDone', this.refundDoneAction);
  },
  methods: {
    refundDoneAction() {
      this.qty = 0;
    },
    formatMoney(value) {
      return formatMoney(value);
    },
    reduceQtyOfItem() {
      this.qty = this.qty - 1;
    },
    increaseQtyOfItem() {
      this.qty = this.qty + 1;
    },
  },
};
</script>
