<template lang="pug">
  table.main-table
    thead
      make-refund-table-head
    make-refund-table-group(
      v-for="(itemsByDocId, key) in items"
      :key="key"
      :groupId="key"
      :items="itemsByDocId"
      :itemsToRefund="itemsToRefund"
      @itemChange="$emit('itemChange', $event)"
    )
</template>

<script>
import MakeRefundTableHead from '@/components/PersonalAccount/refund/makeRefund/makeRefundTableHead.vue';
import MakeRefundTableGroup
  from '@/components/PersonalAccount/refund/makeRefund/makeRefundTableGroup.vue';

export default {
  name: 'makeRefundTable',
  components: { MakeRefundTableGroup, MakeRefundTableHead },
  props: {
    itemsToRefund: {
      type: Object,
      default() {
        return {};
      },
    },
    items: {
      type: Object,
      default() {
        return [];
      },
    },
  },
};
</script>
