<template lang="pug">
  .last-search
    .last-search__sku
      .last-search__ttl
        img.last-search__ttl-img(src="../../../assets/images/icon-last-num.png")
        | Последние {{ historyCount }} кодов
      .last-search__scroll(ref="last-search-scroll")
        div.last-search__table-outer
          table.last-search__table
            tr(v-for="item in searchHistory"
              @click="$emit('itemClicked', { name: item.name, sku: item.sku, brand: item.manufacturer, value: '' })"
            )
              td {{ item.manufacturer }}
              td {{ item.sku }}
</template>

<script>
export default {
  name: 'lastSearchList',
  props: {
    searchStored: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      historyCount: 15,
      searchHistory: '',
    };
  },
  mounted() {
    this.getSearchHistory();
    this.$vuebar.initScrollbar(this.$refs['last-search-scroll'], {
      preventParentScroll: true,
      scrollThrottle: 30,
    });
  },
  methods: {
    getSearchHistory() {
      this.$http.post('/history_get', {})
        .then((resp) => {
          this.searchHistory = resp.data;
        })
        .catch(err => err);
    },
    getProduct(guid, inputValue) {
      this.$emit('closeSearchInfo');
      this.$router.push({
        name: 'search',
        params: {
          inputValue,
          guid,
        },
      });
    },
    sendSearchHistoryItemSave(guid) {
      this.$http.post('/history_add', {
        guid,
      })
        .then((resp) => {
          this.searchHistory = resp.data;
        })
        .catch(err => err);
    },
  },
  watch: {
    searchStored() {
      this.getSearchHistory();
    },
  },
};
</script>

<style lang="stylus">
.last-search
  width 25%
  max-width 400px
  flex-shrink 0
  display flex
  align-items flex-start
  flex-direction column
  height 100%
  padding 1em 1em 0 1em
  overflow hidden
  &__ttl
    color #768f9f
    font-size .95em
    margin 0 0 1.2em
    &-img
      vertical-align middle
      margin 0 .5em 2px 2em
  &__scroll
    height calc(100% - 3em)
  &__table
    border-collapse collapse
    width 100%
    &-outer
      padding 0 1.5em 0 0
    tr
      cursor pointer
      width 100%
      &:nth-child(odd)
        background #cdd9dd
      &:hover
        background #adbcc5
        td
          border-color #adbcc5
    td
      border 4px solid #e0e8ea
      border-bottom none
      border-top none
      padding .3em .8em .2em
      width 50%
  &__sku
    width 100%
    height 100%
  &__vin
    flex-grow 1
</style>
