<template lang="pug">
  .search-result
    .search-result__ttl
      img(src="../../../assets/images/icon-search-result.png").search-result__ttl-img
      | Результаты поиска&nbsp
      span.search-result__category {{ searchCategoryName }}
    .search-result__message(
      v-if="message"
    )
    .search-result__scroll(ref="scroll")
      div.search-result__table-outer
        table.search-result__table
          thead
            tr
              th(scope="col") №/арт
              th(scope="col") Производитель
              th(scope="col") Наименование
          tbody(v-if="searchResult.length && !requestPending")
            tr.search-result-item(
              v-for='item in searchResult'
              @click="$emit('itemClicked', { guid: item.guid, value: inputValue, sku: item.sku, brand: item.manufacturer, name: item.name })"
              style="position: relative;"
              :key="`${item.guid}-${item.manufacturer}-${item.sku}`"
            )
              td.search-result-item__sku(scope="row")
                span(:class="{ action: item.action }") {{ item.sku }}
              td.search-result-item__manufacturer {{ item.manufacturer || '-' }}
              td.search-result-item__name {{ item.name }}
          tbody(v-else-if="requestPending")
            td(
              colspan='3'
              style="text-align: center; padding: 2em;"
            )
              table-preloader
          tbody(v-else-if="inputValue && !requestPending")
            tr
              td(
                colspan='3'
                style="text-align: center; padding: 2em;"
              ) По вашему запросу ничего не найдено
</template>

<script>
import TablePreloader from '@/components/preLoaders/tablePreloader.vue';

export default {
  name: 'searchResultList',
  components: { TablePreloader },
  props: {
    inputValue: {
      type: String,
      default: '',
    },
    searchResult: {
      default: [],
      required: true,
    },
    requestPending: {
      type: Boolean,
      default: false,
    },
    searchCategoryName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      message: '',
    };
  },
  mounted() {
    this.$vuebar.initScrollbar(this.$refs.scroll, {
      preventParentScroll: true,
      scrollThrottle: 30,
    });
  },
};
</script>

<style lang="stylus">
.search-result
  width 100%
  height 100%
  padding 1em
  background #fff
  overflow hidden
  &-item .action
    position relative
    &:before
      content ''
      display block
      position absolute
      left -2em
      top 50%
      width 2em
      height 2em
      background-image url("../../../assets/images/i-sale.png");
      background-position center center
      background-size 100% 100%
      transform translateY(-50%)
  &__ttl
    font-size .95em
    color #afc0c6
    margin-bottom 1em
    &-img
      vertical-align middle
      margin 0 .5em 0 1.5em
  &__category
    color #243a44
    text-transform lowercase
  &__scroll
    height calc(100% - 2em)
    width 100%
  &__table
    border-collapse collapse
    table-layout fixed
    &-outer
      padding 0 1.5em 0 1em
    th,
    td
      border 4px solid #fff
      backface-visibility hidden
      border-top none
      border-bottom none
      &:first-child
        border-left none
      &:last-child
        border-right none
      &:first-child
        white-space nowrap
    th
      color #fff
      font-weight normal
      padding .4em .7em
      &:last-child
        width 100%
    td
      color #243a44
      padding .3em .8em .2em
    thead
      th
        background #adbcc5
        text-align left
    tbody
      tr
        cursor pointer
        &:nth-child(2n)
          background #f0f4f5
        &:hover
          background #adbcc5
          td
            border-color #adbcc5
</style>
