<template lang="pug">
  .search-panel(@click.stop)
    .search
      related-menu(
        @relatedListItemClick="relatedListItemClick"
      )
      input.search__input(
        v-if="!searchCategoryGuid"
        type="text"
        v-model="userInputSearch"
        @input="receiveSearchReq($event.target)"
        @click="showSearchResult"
        @keyup.enter="searchByVin"
        ref="searchInput"
      )
      input.search__input(
        v-else
        type="text"
        v-model="userInputFilter"
        @click="showSearchResult"
        ref="searchInput"
      )
    search-result(
      :searchResult="searchResultFiltered"
      :inputValue="userInputSearch"
      :requestPending="requestPending"
      :timeout="timeout"
      :searchCategoryName="searchCategoryName"
      :hintResult="hintResult"
    )
</template>

<script>
import RelatedMenu from '@/components/Header/searchBar/relatedMenu/relatedMenu.vue';
import { searchRequest } from '@/api/search';
import SearchResult from './searchResult.vue';

export default {
  name: 'SearchBar',
  components: { RelatedMenu, SearchResult },
  data() {
    return {
      userInputSearch: '',
      userInputFilter: '',
      searchElemCount: 50,
      searchResult: [],
      hintResult: [],
      hintRequestPending: false,
      requestPending: false,
      timeout: '',
      timeoutForStats: '',
      searchCategoryName: 'По номеру',
      searchCategoryGuid: '',
      isVIN: false,
    };
  },
  methods: {
    searchByVin() {
      if (this.isVIN) {
        this.$router.push(`/search-by-vin?VIN=${this.userInputSearch}`);
      }
    },
    relatedListItemClick(item) {
      this.searchCategoryName = item.name_for_site_menu;
      if (item.guid) {
        this.searchCategoryGuid = item.guid;
      } else {
        this.searchCategoryGuid = '';
      }
      if (item.name === 'VIN') {
        this.isVIN = true;
        document.querySelector('.search-info').classList.remove('search-info--visible');
      } else {
        this.isVIN = false;
        this.showSearchResult();
      }
    },
    showSearchResult() {
      if (!this.isVIN) {
        document.querySelector('.search-info').classList.add('search-info--visible');
      } else {
        document.querySelector('.search-info').classList.remove('search-info--visible');
      }
    },
    getItemsOfCategory() {
      this.$http.post(`/related/get_list/${this.searchCategoryGuid}`, {})
        .then((resp) => {
          this.searchResult = resp.data;
        })
        .catch(err => err);
    },
    receiveSearchReq(target) {
      if (!this.isVIN) {
        this.showSearchResult();
        if (target.value.length > 2) {
          clearTimeout(this.timeout);
          this.requestPending = true;
          this.timeout = setTimeout(() => {
            this.requestPending = true;
            searchRequest({
              sku: this.userInputSearch,
            })
              .then((resp) => {
                clearTimeout(this.timeout);
                this.searchResult = resp.data;
                if (!this.searchResult.length) {
                  this.$http.post('/stat', {
                    check_number: this.userInputSearch,
                    statistic: 'ПробитиеНеизвестныйНомер',
                  });
                } else {
                  this.$http.post('/stat', {
                    check_number: this.userInputSearch,
                    statistic: 'Пробитие',
                  });
                }
                this.requestPending = false;
                this.getHintSearch();
              })
              .catch(err => err);
          }, 1000);
        } else {
          this.searchResult = '';
        }
      }
    },
    getHintSearch() {
      this.hintRequestPending = true;
      this.$http.post('/hint-search', {
        sku: this.userInputSearch,
      })
        .then((resp) => {
          this.hintResult = resp.data;
          this.hintRequestPending = false;
        })
        .catch((err) => {
          this.hintRequestPending = false;
          return err;
        });
    },
  },
  computed: {
    searchResultFiltered() {
      if (this.searchCategoryGuid) {
        return this.searchResult.filter(elem => elem.name.toLowerCase().indexOf(this.userInputFilter.toLowerCase()) + 1);
      }
      return this.searchResult;
    },
  },
  watch: {
    searchCategoryGuid(newVal) {
      this.$refs.searchInput.focus();
      this.userInputSearch = '';
      this.userInputFilter = '';
      this.searchResult = [];
      if (newVal) {
        this.getItemsOfCategory();
      }
    },
  },
};
</script>

<style lang="stylus">
@import '../../../assets/stylus/variabels.styl';
.search-panel
  width 45%
.search
  position relative
  display flex
  align-items center
.search__input
  line-height 2em
  border-radius 0 2px 2px 0
  flex-grow 1
  width 100%
  padding 0 0 0 1rem
  &::placeholder
    color #768f9f
</style>
