<template lang="pug">
  .search-info
    .search-info__close(@click="closeSearchInfo")
      img(src="../../../assets/images/icon-close.png")
    hint-search(
      :items="hintResult"
      @itemClicked="itemClicked"
    )
    search-result-list(
      @closeSearchInfo="closeSearchInfo"
      @itemClicked="itemClicked"
      :searchResult="searchResult"
      :inputValue="inputValue"
      :requestPending="requestPending"
      :searchCategoryName="searchCategoryName"
    )
    last-search-list(
      @closeSearchInfo="closeSearchInfo"
      @itemClicked="itemClicked"
      :searchStored="searchStored"
    )
</template>

<script>
import LastSearchList from '@/components/Header/searchBar/lastSearchList.vue';
import SearchResultList from '@/components/Header/searchBar/searchResultList.vue';
import HintSearch from '@/components/Header/searchBar/hintSearch/HintSearch.vue';

export default {
  name: 'searchResult',
  components: { HintSearch, SearchResultList, LastSearchList },
  props: {
    hintResult: {
      type: Array,
      default() {
        return [];
      },
    },
    searchResult: {
      default: [],
      required: true,
    },
    inputValue: {
      type: String,
      default: '',
    },
    requestPending: {
      type: Boolean,
      default: false,
    },
    timeout: {
      default: '',
    },
    searchCategoryName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      searchStored: false,
    };
  },
  watch: {
    '$route.path': function () {
      this.closeSearchInfo();
    },
  },
  created() {
    document.body.addEventListener('click', this.closeSearchInfo);
  },
  beforeDestroy() {
    document.body.removeEventListener('click', this.closeSearchInfo);
  },
  methods: {
    itemClicked($event) {
      this.getProduct($event.guid, this.inputValue, $event.sku, $event.brand);
      this.sendSearchHistoryItemSave($event.name, $event.sku, $event.brand);
      this.sendStats($event.sku, $event.brand, $event.name);
      this.searchStored = !this.searchStored;
    },
    sendStats(check_number, check_brand, name) {
      this.$http.post('/stat', {
        check_number,
        check_brand,
        name,
        statistic: 'Выбор',
      });
    },
    sendSearchHistoryItemSave(name, sku, manufacturer) {
      this.$http.post('/history_add', {
        name,
        sku,
        manufacturer,
      })
        .then(() => {})
        .catch(err => err);
    },
    getProduct(guid, inputValue, sku, brand) {
      this.closeSearchInfo();
      this.$router.push({
        name: 'search',
        params: {
          inputValue,
          guid,
        },
        query: {
          sku,
          brand,
        },
      });
    },
    closeSearchInfo() {
      const searchInfo = document.querySelector('.search-info--visible');
      if (searchInfo) {
        searchInfo.classList.remove('search-info--visible');
      }
    },
  },
};
</script>

<style lang="stylus">
.search-info
  width calc(100% - 40px)
  display flex
  align-items flex-start
  position absolute
  left 50%
  top 100%
  background #e0e8ea
  transition .2s linear
  transform translate3d(-50%, 1em, 0)
  height 70vh
  overflow visible
  padding 0 .8em .8em 0
  opacity 0
  visibility hidden
  backface-visibility: hidden;
  z-index 100
  .search-result
    flex-grow 1
  &--visible
    opacity 1
    visibility visible
    transform translate3d(-50%, 0, 0)
    &:after
      content ''
      display block
      position absolute
      bottom 100%
      left 32%
      height 0
      width 0
      border-left solid 8px transparent
      border-right solid 8px transparent
      border-bottom solid 8px #fff
  &__close
    text-align right
    cursor pointer
    position absolute
    top 0
    right 0
    padding 1em 1.5em
.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    backface-visibility: hidden;
    transform: rotate3d(0,0,0,0);
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: #b9c7cc;
    margin: 5px 5px 5px 0;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(185, 199, 204, 1);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: #b9c7cc;
    margin: 0;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: #b9c7cc;
    margin: 0;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #b9c7cc;
}
</style>
