<template lang="pug">
  .actions-goods
    .actions-goods__ttl Товары по акции
    nav.actions-goods__nav(ref="nav")
      .actions-goods__nav-link(
        v-for="category in categories"
        :class="{'actions-goods__nav-link--current': category === currentCategoryName}"
        @click="selectCategory(category)"
      )
        span {{ category }}
    .actions-goods__items
      store-card(
        v-for="item in itemsList"
        :item="item"
        :key="item.guid"
        :currentCategoryName="currentCategoryName"
        @click.native="sendGA(item)"
      )
</template>

<script>
import StoreCard from '@/components/storeItems/storeCard.vue';

export default {
  name: 'actionsList',
  components: { StoreCard },
  data() {
    return {
      cardsCount: 8,
      itemsList: [],
      categories: [],
      currentCategoryName: '',
    };
  },
  mounted() {
    this.getCategoryList();
  },
  methods: {
    sendGA(item) {
      window.gtag(
        'event',
        'ActionsCategoryProductClick', {
          event_category: 'Actions',
          event_label: item.sku,
        },
      );
    },
    selectCategory(category) {
      this.currentCategoryName = category;
      window.gtag(
        'event',
        'ActionsCategorySelect', {
          event_category: 'Actions',
          event_label: category,
        },
      );
    },
    getCategoryList() {
      this.$http.post('/goods/sale', {})
        .then((resp) => {
          this.itemsList = resp.data;
          this.itemsList.forEach((item) => {
            if (!(this.categories.indexOf(item.group_name) + 1)) {
              this.categories.push(item.group_name);
            }
          });
          [this.currentCategoryName] = this.categories;
        })
        .catch(err => err);
    },
  },
};
</script>

<style lang="stylus">
@import '../../assets/stylus/variabels.styl'
.actions-goods
  width 100%
  &__ttl
    color #5a6e78
    font-size 1.4em
    font-family 'RussoOne'
    margin-left .7em
  &__nav
    margin 1em 0 1em 1em
    display flex
    overflow auto
    flex-wrap wrap
    &-scroll
      display flex
      width 100%
      height 100%
      overflow-x scroll
      padding-bottom 20px
      box-sizing content-box
    &-link
      flex-shrink 0
      margin-right 2em
      color big_darkGrey
      text-decoration none
      border-bottom 1px dashed big_darkGrey
      transition .2s linear
      cursor pointer
      text-transform uppercase
      font-weight 800
      height 1.2em
      &:hover
        color mainRed
        border-color mainRed
      &--current
        border-bottom none
        color mainRed
        cursor default
  &__items
    display flex
    width 100%
    flex-wrap wrap
    justify-content flex-start
    align-items stretch
    @media screen and (max-width 1300px)
      font-size .9em
  &__show-more
    margin 4em auto 0
    span
      color big_darkGrey
</style>
