<template lang="pug">
  .smart-panel
    panel-item(
      v-for="item in items"
      :key="item.title"
      :item="item"
    )
</template>

<script>
import PanelItem from '@/components/smartPanel/panelItem.vue';
import { CHECK_NEW_MESSAGES } from '@/store/actions/messages';

export default {
  name: 'panel',
  components: { PanelItem },
  data() {
    return {
      items: [
        {
          imageUrl: '/images/icon-sale-smart-panel.svg',
          title: 'Акции',
          itemLink: '/actions',
        },
        {
          imageUrl: '/images/icon-message-smart-panel.png',
          title: 'Сообщения',
          itemLink: '/personal-account/messages',
        },
      ],
    };
  },
  mounted() {
    this.$store.dispatch(CHECK_NEW_MESSAGES);
  },
};
</script>

<style lang="stylus">
.smart-panel
  position fixed
  right 0
  top 50%
  transform translate(0, -50%)
  display flex
  width auto
  flex-direction column
  align-items flex-end
  z-index 200
</style>
