<template lang="pug">
  router-link.smart-panel-item(
    :class="{'smart-panel-item--have-new': $store.state.messages.haveNewNotifications && item.title === 'Сообщения'}"
    :to="`${item.itemLink}`"
    @mouseover.native="itemHover"
    @mouseout.native="itemUnHower"
    ref="item"
  )
    img.smart-panel-item__image(:src="item.imageUrl")
    .smart-panel-item__ttl(ref="title") {{ item.title }}
</template>

<script>
export default {
  name: 'panelItem',
  props: {
    item: {
      type: Object,
    },
  },
  data() {
    return {
      itemTitleWidth: 0,
    };
  },
  mounted() {
    this.itemTitleWidth = this.$refs.title.offsetWidth;
    this.$refs.title.style.width = '0px';
  },
  methods: {
    itemHover() {
      this.$refs.title.style.width = `${this.itemTitleWidth}px`;
      this.$refs.title.style.marginLeft = '1em';
    },
    itemUnHower() {
      this.$refs.title.style.width = '0px';
      this.$refs.title.style.marginLeft = '0px';
    },
  },
};
</script>

<style lang="stylus">
@import "../../assets/stylus/variabels.styl"
.smart-panel-item
  display flex
  width auto
  background #243a44
  padding 1em 0 1em 1em
  align-items center
  text-decoration none
  color #fff
  margin-bottom 1em
  transition .2s ease-in-out
  border 1px solid #243a44
  border-right none
  position relative
  &--have-new
    &:after
      content ''
      display block
      position absolute
      left 1em
      top .4em
      transform translate(-50%, 50%)
      width 1em
      height 1em
      background mainRed
      border-radius 50%
      animation 1s blink infinite
  &__image
    height 25px
  &__ttl
    overflow hidden
    margin 0 1em 0 0
    transition .2s ease-in-out
@keyframes blink
  0%, 100%
    opacity 1
  50%
    opacity .4
</style>
